Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

feat: по запросу на ревью, добавлен вывод сообщение в телеграм (#153)
  .github/workflows/pull-request-review.yml
Due: npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

feat: зачатки контрол фрика
  .github/workflows/pull-request-review.yml
  package-lock.json
  packages/control-freak/bin/control-freak.js
  packages/control-freak/cli.ts
  packages/control-freak/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/index.html
  issue-150/storybook/index.json
  issue-150/storybook/page-title-__stories__-content-spec-stories.e03db057.iframe.bundle.js
  issue-150/storybook/page-title-__stories__-page-title-stories.031ccbc0.iframe.bundle.js
  issue-150/storybook/page-title-__stories__-screenshot-screenshot-stories.d860dbb5.iframe.bundle.js
  issue-150/storybook/project.json
  issue-150/storybook/runtime~main.bf4a4392.iframe.bundle.js
  issue-150/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-150/storybook/sb-addons/storybook-11/manager-bundle.css.LEGAL.txt
  issue-150/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-150/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshoteg-namba-two.png
  issue-150/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshoteg.png
  issue-150/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshoteg-namba-two.png
  issue-150/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshoteg.png
  issue-150/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshoteg-namba-two.png
  issue-150/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshoteg.png
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

test: проверка на деплой в случае ошибки теста
  .github/workflows/pull-request.yml
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлено убийство джобы с тестами, если в ней произошла ошибка
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

chore: оставил только 1 тест
  packages/core/.storybook/main.ts
Due: npm run lint:js -- --fix

feat: добавлена ошибка с которой упал предыдущий шаг (вроде)
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

feat: еще одна попытка вывести нормальную ошибку
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

feat: еще одна попытка вывести настоящую ошибку
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

refactor: ci
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

feat: настройка скриншотного аддона
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/manager.tsx
  packages/core/components/page-title/__stories__/page-title.stories.ts
  packages/core/package.json
  tsconfig.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: выведен список упавших тестов в панель Screenshots
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/manager.tsx
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

fix: tests
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/page-title-__stories__-content-spec-stories.8a7a479c.iframe.bundle.js
  issue-150/storybook/page-title-__stories__-page-title-stories.049df86f.iframe.bundle.js
  issue-150/storybook/page-title-__stories__-screenshot-screenshot-stories.ad184f98.iframe.bundle.js
  issue-150/storybook/project.json
  issue-150/storybook/runtime~main.c0309627.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/project.json
  issue-150/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshoteg-namba-two.png
  issue-150/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshoteg.png
  issue-150/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshoteg-namba-two.png
  issue-150/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshoteg.png
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/project.json
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/index.json
  issue-150/storybook/page-title-__stories__-screenshot-screenshot-stories.bdb1c60e.iframe.bundle.js
  issue-150/storybook/project.json
  issue-150/storybook/runtime~main.27578aae.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: удален лишний тест
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
Due: npm run lint:js -- --fix

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/index.json
  issue-150/storybook/page-title-__stories__-screenshot-screenshot-stories.c2377952.iframe.bundle.js
  issue-150/storybook/project.json
  issue-150/storybook/runtime~main.993196bd.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: pull_request ci
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Updates
  issue-150/playwright-report/index.html
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: ci
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write
