Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

test: test
  packages/test-utils/screenshots-comparator/decorator.tsx
  packages/test-utils/screenshots-comparator/screenshots-comparator.tsx
Due: npm run lint:js -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.a8704119.iframe.bundle.js
  issue-168/storybook/screenshot-stories.a230495a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-168/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

test: хардкод данных для проверки
  packages/test-utils/screenshots-comparator/decorator.tsx
Due: npm run lint:js -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.ff8d8f08.iframe.bundle.js
  issue-168/storybook/screenshot-stories.d3822f4e.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: хардкод данных для проверки
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/test-utils/screenshots-comparator/decorator.tsx
  packages/test-utils/screenshots-comparator/screenshots-comparator.module.css
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/index.json
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.ee75e442.iframe.bundle.js
  issue-168/storybook/screenshot-stories.9b6ed86a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-168/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-168/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-168/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot.png
  issue-168/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

test: проверка
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/test-utils/screenshots-comparator/decorator.tsx
  packages/test-utils/screenshots-comparator/screenshots-comparator.module.css
  packages/test-utils/screenshots-comparator/screenshots-comparator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: кнопка показа шторки вынесена в tool
  package-lock.json
  packages/core/.storybook/preview.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/core/package.json
  packages/test-utils/screenshots-comparator/decorator.tsx
  packages/test-utils/screenshots-comparator/screenshots-comparator.module.css
  packages/test-utils/screenshots-comparator/screenshots-comparator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-168/storybook/18.afb2f113.iframe.bundle.js
  issue-168/storybook/18.afb2f113.iframe.bundle.js.LICENSE.txt
  issue-168/storybook/622.5afb39c8.iframe.bundle.js
  issue-168/storybook/622.5afb39c8.iframe.bundle.js.LICENSE.txt
  issue-168/storybook/622.5afb39c8.iframe.bundle.js.map
  issue-168/storybook/iframe.html
  issue-168/storybook/main.503b22ca.iframe.bundle.js
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.ac4e7e6b.iframe.bundle.js
  issue-168/storybook/sb-addons/storybook-11/manager-bundle.js
  issue-168/storybook/screenshot-stories.537eee85.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-168/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-168/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-168/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: кнопка показа шторки вынесена в tool
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
Due: npm run lint:js -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/index.json
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.ad9a8ba3.iframe.bundle.js
  issue-168/storybook/screenshot-stories.fd2fd43d.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-168/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot-two.png
  issue-168/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot-two.png
  issue-168/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot-two.png
  issue-168/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: добавлено условие добавления сравнения скриншотов
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/test-utils/package.json
  packages/test-utils/screenshots-comparator/decorator.tsx
  packages/test-utils/screenshots-comparator/screenshots-comparator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: шторка пропадает при смене сториса
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/project.json
  issue-168/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки после ревью
  eslint.config.js
  package-lock.json
  packages/core/.storybook/preview.ts
  packages/core/.storybook/screenshot-panel/addons/compare-button.tsx
  packages/core/.storybook/screenshot-panel/addons/panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
  packages/core/.storybook/screenshots-comparator/decorator.tsx
  packages/core/.storybook/screenshots-comparator/screenshots-comparator.module.css
  packages/core/.storybook/screenshots-comparator/screenshots-comparator.tsx
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/core/package.json
  packages/test-utils/index.ts
  packages/test-utils/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/index.json
  issue-168/storybook/main.b202219a.iframe.bundle.js
  issue-168/storybook/page-title-__stories__-screenshot-screenshot-stories.903c038d.iframe.bundle.js
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.fd41bd1c.iframe.bundle.js
  issue-168/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: вернул обратно верстку у page-title
  packages/core/.storybook/screenshots-comparator/decorator.tsx
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/main.178eccac.iframe.bundle.js
  issue-168/storybook/page-title-__stories__-content-spec-stories.d0b80edd.iframe.bundle.js
  issue-168/storybook/page-title-__stories__-page-title-stories.85ccdc99.iframe.bundle.js
  issue-168/storybook/page-title-__stories__-screenshot-screenshot-stories.ccc8af32.iframe.bundle.js
  issue-168/storybook/project.json
  issue-168/storybook/runtime~main.1c30ea69.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-168/playwright-report/index.html
  issue-168/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: мелкие правки
  packages/core/.storybook/screenshot-panel/addons/compare-button.tsx
  packages/core/.storybook/screenshots-comparator/decorator.tsx
Due: npm run lint:js -- --fix

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-168/storybook/iframe.html
  issue-168/storybook/main.8b99ec55.iframe.bundle.js
  issue-168/storybook/project.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

ci: в ci задаётся ссылка на собранный сторибук
  .github/workflows/build.yml
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshots-comparator/decorator.tsx
  packages/core/.storybook/screenshots-comparator/screenshots-comparator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write
