Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

Updates
  issue-158/playwright-report/index.html
  issue-158/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/playwright-report/index.html
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/main.5533935b.iframe.bundle.js
  issue-163/storybook/project.json
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-158/storybook/iframe.html
  issue-158/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/project.json
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: сообщение об апруве содержит инфу об апрувнутых тестах
  .github/workflows/screenshot-approve.yml
Due: npm run lint:formatting -- --write

feat: создан и добавлен screenshot-table компонент
  packages/core/.storybook/screenshot-panel/comments.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/core/.storybook/screenshot-panel/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: добавлен игнор сториса в тестах, если он апрувнут
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix

fix: ci
  .github/workflows/screenshot-approve.yml
Due: npm run lint:formatting -- --write

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/project.json
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/project.json
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: обновление строк после апрува
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix

chore: добавлено сообщение на ответ зpull-request-а
  .github/workflows/pull-request-review.yml
  packages/control-freak/cli.ts
  packages/control-freak/response-review.ts
  packages/control-freak/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-163/storybook/project.json
Due: npm run lint:formatting -- --write

test: коммит для проверки работы
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix

fix: финальные (надеюсь) правки
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix
