Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{yml,json,md}": "prettier --write"
}

Updates
  issue-50/storybook/iframe.html
  issue-50/storybook/project.json
Due: prettier --write

Updates
  issue-50/playwright-report/index.html
Due: none

feat(core): реализован компонент ComponentsRemove (#57)
  package-lock.json
  packages/core/components/components-add/__stories__/components-add.stories.ts
  packages/core/components/components-remove/__stories__/api.spec.stories.ts
  packages/core/components/components-remove/__stories__/callbacks.spec.stories.ts
  packages/core/components/components-remove/__stories__/components-remove.stories.tsx
  packages/core/components/components-remove/components-remove.tsx
  packages/core/components/components-remove/index.ts
  packages/core/hooks/use-api/mocked.tsx
  packages/core/package.json
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/118.3bea60fb.iframe.bundle.js
  main/storybook/128.e0e98a48.iframe.bundle.js
  main/storybook/15.2be10a3f.iframe.bundle.js
  main/storybook/15.2be10a3f.iframe.bundle.js.LICENSE.txt
  main/storybook/15.2be10a3f.iframe.bundle.js.map
  main/storybook/165.d7db171b.iframe.bundle.js
  main/storybook/238.2affbe0b.iframe.bundle.js
  main/storybook/359.3a4dfb84.iframe.bundle.js
  main/storybook/565.b702aa98.iframe.bundle.js
  main/storybook/565.b702aa98.iframe.bundle.js.LICENSE.txt
  main/storybook/737.5c1e1ef8.iframe.bundle.js
  main/storybook/765.9f6aab4d.iframe.bundle.js
  main/storybook/765.9f6aab4d.iframe.bundle.js.LICENSE.txt
  main/storybook/772.8b6b99c2.iframe.bundle.js
  main/storybook/772.8b6b99c2.iframe.bundle.js.LICENSE.txt
  main/storybook/835.f6b6016e.iframe.bundle.js
  main/storybook/909.628a313b.iframe.bundle.js
  main/storybook/909.628a313b.iframe.bundle.js.LICENSE.txt
  main/storybook/components-remove-__stories__-api-spec-stories.a376d20c.iframe.bundle.js
  main/storybook/components-remove-__stories__-callbacks-spec-stories.90cd61e4.iframe.bundle.js
  main/storybook/components-remove-__stories__-components-remove-stories.e6ae9838.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.d6c7971d.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.727984e5.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(core): реализация компонента ComponentsList
  packages/core/components/components-add/components-add.tsx
  packages/core/components/components-list/components-list.tsx
  packages/core/components/components-remove/components-remove.tsx
  packages/core/components/microfrontend/index.ts
  packages/core/hooks/use-api/constants.ts
  packages/core/hooks/use-api/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

test: тесты для компонента components-list
  packages/core/components/components-list/__stories__/api.spec.stories.ts
  packages/core/components/components-list/__stories__/components-list.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/components-list/get-component-schema-url.ts
Due: eslint --fix

Updates
  issue-51/playwright-report/index.html
Due: none

feat(core): реализация компонента ComponentsList (#59)
  packages/core/components/components-add/components-add.tsx
  packages/core/components/components-list/__stories__/api.spec.stories.ts
  packages/core/components/components-list/__stories__/components-list.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/components-list/get-component-schema-url.ts
  packages/core/components/components-remove/components-remove.tsx
  packages/core/components/microfrontend/index.ts
  packages/core/hooks/use-api/constants.ts
  packages/core/hooks/use-api/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/218.a004d71a.iframe.bundle.js
  main/storybook/395.b5b06b31.iframe.bundle.js
  main/storybook/518.00bd70da.iframe.bundle.js
  main/storybook/625.e06345a8.iframe.bundle.js
  main/storybook/625.e06345a8.iframe.bundle.js.LICENSE.txt
  main/storybook/660.4258aefe.iframe.bundle.js
  main/storybook/660.4258aefe.iframe.bundle.js.LICENSE.txt
  main/storybook/667.72178112.iframe.bundle.js
  main/storybook/667.72178112.iframe.bundle.js.LICENSE.txt
  main/storybook/963.66029491.iframe.bundle.js
  main/storybook/963.66029491.iframe.bundle.js.LICENSE.txt
  main/storybook/963.66029491.iframe.bundle.js.map
  main/storybook/components-add-__stories__-api-spec-stories.d79d9ee1.iframe.bundle.js
  main/storybook/components-add-__stories__-components-add-stories.aa868191.iframe.bundle.js
  main/storybook/components-add-__stories__-validation-spec-stories.3850092f.iframe.bundle.js
  main/storybook/components-list-__stories__-api-spec-stories.f2ddc664.iframe.bundle.js
  main/storybook/components-list-__stories__-components-list-stories.798506ad.iframe.bundle.js
  main/storybook/components-remove-__stories__-api-spec-stories.aee3be67.iframe.bundle.js
  main/storybook/components-remove-__stories__-callbacks-spec-stories.8a36e4ec.iframe.bundle.js
  main/storybook/components-remove-__stories__-components-remove-stories.f8797885.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/layout-__stories__-layout-stories.934d1f3a.iframe.bundle.js
  main/storybook/main.83128194.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-stories.ac8f3c3d.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.5220eef4.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.46a1eb84.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(admin): список компонентов добавлен на страницу "компоненты"
  packages/admin/next.config.js
  packages/admin/pages/components.tsx
  packages/api-client/endpoints/components/endpoint.ts
  packages/core/components/components-list/index.ts
  packages/core/index.ts
Due: eslint --fix

Updates
  issue-52/playwright-report/index.html
Due: none

feat(admin): список компонентов добавлен на страницу "компоненты" (#60)
  packages/admin/next.config.js
  packages/admin/pages/components.tsx
  packages/api-client/endpoints/components/endpoint.ts
  packages/core/components/components-list/index.ts
  packages/core/index.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.ea66aae9.iframe.bundle.js
  main/storybook/project.json
Due: eslint --fix, prettier --write

feat(api): добавлен роут "страницы"
  packages/api/data-source.ts
  packages/api/migrations/1714254081707-create-pages.ts
  packages/api/migrations/index.ts
  packages/api/modules/app.module.ts
  packages/api/modules/pages/__tests__/create.spec.ts
  packages/api/modules/pages/__tests__/find.spec.ts
  packages/api/modules/pages/__tests__/mocked-pages-repository.ts
  packages/api/modules/pages/__tests__/remove.spec.ts
  packages/api/modules/pages/index.ts
  packages/api/modules/pages/page.entity.ts
  packages/api/modules/pages/pages.controller.ts
  packages/api/modules/pages/pages.module.ts
  packages/api/modules/pages/pages.service.ts
  packages/api/modules/pages/pages.types.ts
  packages/mocks/pages.ts
  packages/types/pages.ts
  packages/types/types.ts
Due: eslint --fix

Updates
  issue-61/playwright-report/index.html
Due: none

feat(api-client): эндпоинт /pages добавлен в апи-клиент
  packages/api-client/api-client.ts
  packages/api-client/endpoints/pages/endpoint.ts
  packages/api-client/endpoints/pages/mocked.ts
  packages/api-client/mocked.ts
Due: eslint --fix

Updates
  issue-61/storybook/iframe.html
  issue-61/storybook/main.d7c750c4.iframe.bundle.js
  issue-61/storybook/project.json
Due: eslint --fix, prettier --write

feat(api): добавлен роут "страницы" (#66)
  packages/api-client/api-client.ts
  packages/api-client/endpoints/pages/endpoint.ts
  packages/api-client/endpoints/pages/mocked.ts
  packages/api-client/mocked.ts
  packages/api/data-source.ts
  packages/api/migrations/1714254081707-create-pages.ts
  packages/api/migrations/index.ts
  packages/api/modules/app.module.ts
  packages/api/modules/pages/__tests__/create.spec.ts
  packages/api/modules/pages/__tests__/find.spec.ts
  packages/api/modules/pages/__tests__/mocked-pages-repository.ts
  packages/api/modules/pages/__tests__/remove.spec.ts
  packages/api/modules/pages/index.ts
  packages/api/modules/pages/page.entity.ts
  packages/api/modules/pages/pages.controller.ts
  packages/api/modules/pages/pages.module.ts
  packages/api/modules/pages/pages.service.ts
  packages/api/modules/pages/pages.types.ts
  packages/mocks/pages.ts
  packages/types/pages.ts
  packages/types/types.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.d7c750c4.iframe.bundle.js
  main/storybook/project.json
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

feat(core): реализованы компоненты PageAdd и PageAddModal
  .eslintrc.json
  packages/core/components/page-add-modal/__stories__/page-add-integration.spec.stories.ts
  packages/core/components/page-add-modal/__stories__/page-add-modal.stories.tsx
  packages/core/components/page-add-modal/index.ts
  packages/core/components/page-add-modal/page-add-modal.tsx
  packages/core/components/page-add-modal/test-object.ts
  packages/core/components/page-add/__stories__/api.spec.stories.ts
  packages/core/components/page-add/__stories__/callbacks.spec.stories.ts
  packages/core/components/page-add/__stories__/page-add.stories.ts
  packages/core/components/page-add/__stories__/validation.spec.stories.ts
  packages/core/components/page-add/index.ts
  packages/core/components/page-add/page-add.tsx
  packages/core/components/page-add/test-object.ts
  packages/core/hooks/use-api/constants.ts
  packages/core/hooks/use-api/index.ts
Due: eslint --fix, prettier --write

Updates
  issue-62/playwright-report/index.html
Due: none

feat(core): реализованы компоненты PageAdd и PageAddModal (#67)
  .eslintrc.json
  packages/core/components/page-add-modal/__stories__/page-add-integration.spec.stories.ts
  packages/core/components/page-add-modal/__stories__/page-add-modal.stories.tsx
  packages/core/components/page-add-modal/index.ts
  packages/core/components/page-add-modal/page-add-modal.tsx
  packages/core/components/page-add-modal/test-object.ts
  packages/core/components/page-add/__stories__/api.spec.stories.ts
  packages/core/components/page-add/__stories__/callbacks.spec.stories.ts
  packages/core/components/page-add/__stories__/page-add.stories.ts
  packages/core/components/page-add/__stories__/validation.spec.stories.ts
  packages/core/components/page-add/index.ts
  packages/core/components/page-add/page-add.tsx
  packages/core/components/page-add/test-object.ts
  packages/core/hooks/use-api/constants.ts
  packages/core/hooks/use-api/index.ts
Due: eslint --fix, prettier --write

Updates
  main/storybook/175.7642eac8.iframe.bundle.js
  main/storybook/175.7642eac8.iframe.bundle.js.LICENSE.txt
  main/storybook/175.7642eac8.iframe.bundle.js.map
  main/storybook/184.e9129202.iframe.bundle.js
  main/storybook/216.7f327478.iframe.bundle.js
  main/storybook/386.ee3879c3.iframe.bundle.js
  main/storybook/406.44dc9918.iframe.bundle.js
  main/storybook/406.44dc9918.iframe.bundle.js.LICENSE.txt
  main/storybook/516.0d6a34e2.iframe.bundle.js
  main/storybook/765.69d8ffee.iframe.bundle.js
  main/storybook/765.69d8ffee.iframe.bundle.js.LICENSE.txt
  main/storybook/835.02bb0ff9.iframe.bundle.js
  main/storybook/963.7def8811.iframe.bundle.js
  main/storybook/963.7def8811.iframe.bundle.js.LICENSE.txt
  main/storybook/963.7def8811.iframe.bundle.js.map
  main/storybook/988.a7bb7995.iframe.bundle.js
  main/storybook/components-add-__stories__-api-spec-stories.9cdc3431.iframe.bundle.js
  main/storybook/components-add-__stories__-components-add-stories.fb78afb4.iframe.bundle.js
  main/storybook/components-add-__stories__-validation-spec-stories.016751ad.iframe.bundle.js
  main/storybook/components-list-__stories__-api-spec-stories.aadaa9ef.iframe.bundle.js
  main/storybook/components-list-__stories__-components-list-stories.5aa73b3d.iframe.bundle.js
  main/storybook/components-remove-__stories__-api-spec-stories.c31da2f6.iframe.bundle.js
  main/storybook/components-remove-__stories__-callbacks-spec-stories.a593ffa3.iframe.bundle.js
  main/storybook/components-remove-__stories__-components-remove-stories.ebe734e5.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.3f55a9b2.iframe.bundle.js
  main/storybook/page-add-__stories__-api-spec-stories.c538c59e.iframe.bundle.js
  main/storybook/page-add-__stories__-callbacks-spec-stories.f2600b9d.iframe.bundle.js
  main/storybook/page-add-__stories__-page-add-stories.69246516.iframe.bundle.js
  main/storybook/page-add-__stories__-validation-spec-stories.04ef88f6.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-integration-spec-stories.a7d039c5.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-modal-stories.dbb8b31f.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.6a49f880.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(core): реализация компонента PageRemove
  packages/core/components/page-remove/__stories__/api.spec.stories.ts
  packages/core/components/page-remove/__stories__/page-remove.stories.tsx
  packages/core/components/page-remove/index.ts
  packages/core/components/page-remove/page-remove.tsx
  packages/core/components/page-remove/test-object.ts
Due: eslint --fix

Updates
  issue-63/playwright-report/index.html
Due: none

feat(core): реализация компонента PageRemove (#68)
  packages/core/components/page-remove/__stories__/api.spec.stories.ts
  packages/core/components/page-remove/__stories__/page-remove.stories.tsx
  packages/core/components/page-remove/index.ts
  packages/core/components/page-remove/page-remove.tsx
  packages/core/components/page-remove/test-object.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.087ca3c7.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.2c1c84bc.iframe.bundle.js
  main/storybook/page-remove-__stories__-page-remove-stories.32f19767.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.f3335bed.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(core): реализация компонента PagesList
  .gitignore
  packages/api-client/endpoints/pages/mocked.ts
  packages/core/components/page-add-modal/__stories__/page-add-integration.spec.stories.ts
  packages/core/components/page-add-modal/test-object.ts
  packages/core/components/page-add/__stories__/api.spec.stories.ts
  packages/core/components/page-add/__stories__/callbacks.spec.stories.ts
  packages/core/components/page-add/__stories__/validation.spec.stories.ts
  packages/core/components/page-add/test-object.ts
  packages/core/components/pages-list/__stories__/content.spec.stories.ts
  packages/core/components/pages-list/__stories__/integration-page-add.spec.stories.tsx
  packages/core/components/pages-list/__stories__/pages-list.stories.tsx
  packages/core/components/pages-list/pages-list.module.css
  packages/core/components/pages-list/pages-list.tsx
  packages/core/components/pages-list/test-object.ts
  packages/core/components/pages-list/utils/__tests__/get-children.spec.ts
  packages/core/components/pages-list/utils/__tests__/get-page-href.spec.ts
  packages/core/components/pages-list/utils/__tests__/get-title.spec.ts
  packages/core/components/pages-list/utils/__tests__/is-leaf-or-subtree.spec.ts
  packages/core/components/pages-list/utils/__tests__/pages-to-tree.spec.ts
  packages/core/components/pages-list/utils/get-children.ts
  packages/core/components/pages-list/utils/get-page-href.ts
  packages/core/components/pages-list/utils/get-title.ts
  packages/core/components/pages-list/utils/index.ts
  packages/core/components/pages-list/utils/is-leaf-or-subtree.ts
  packages/core/components/pages-list/utils/pages-to-tree.ts
  packages/mocks/pages.ts
Due: eslint --fix, prettier --write, stylelint --fix
