Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

fix: props-editor тесты
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/module-utils/load-schema.ts
Due: npm run lint:js -- --fix

Updates
  issue-112/storybook/1805.79f8411e.iframe.bundle.js
  issue-112/storybook/element-add-__stories__-element-add-stories.3064bc50.iframe.bundle.js
  issue-112/storybook/iframe.html
  issue-112/storybook/project.json
  issue-112/storybook/prop-editor-__stories__-boolean-editor-spec-stories.4849fd15.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-number-editor-spec-stories.0a11cafb.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-object-editor-spec-stories.7c63d989.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-string-editor-spec-stories.9bda71a0.iframe.bundle.js
  issue-112/storybook/props-editor-__stories__-common-test-stories.600ed665.iframe.bundle.js
  issue-112/storybook/runtime~main.56ec8ce1.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-112/playwright-report/index.html
Due: none

chore: добавил авейт для некоторых экспектов
  packages/core/components/prop-editor/__stories__/boolean-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
Due: npm run lint:js -- --fix

Updates
  issue-112/storybook/iframe.html
  issue-112/storybook/project.json
  issue-112/storybook/prop-editor-__stories__-boolean-editor-spec-stories.0cc82c27.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-number-editor-spec-stories.de40e157.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-object-editor-spec-stories.86f7ebae.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-string-editor-spec-stories.40ddd6db.iframe.bundle.js
  issue-112/storybook/props-editor-__stories__-common-test-stories.ca235a6e.iframe.bundle.js
  issue-112/storybook/runtime~main.8bc19407.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлена поддержка объектов в prop-editor (#114)
  packages/core/components/prop-editor/__stories__/boolean-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/object-editor.module.css
  packages/core/components/prop-editor/components/object-editor.tsx
  packages/core/components/prop-editor/components/primitive-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/prop-editor/types.ts
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/props-editor.tsx
  packages/module-utils/load-schema.ts
  packages/schema/index.ts
  packages/schema/types.ts
  packages/schema/utils/get-default-values.spec.ts
  packages/schema/utils/get-default-values.ts
  packages/schema/utils/get-properties-names.spec.ts
  packages/schema/utils/get-properties-names.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/1805.79f8411e.iframe.bundle.js
  main/storybook/6070.273f2e33.iframe.bundle.js
  main/storybook/6306.8faf2cfe.iframe.bundle.js
  main/storybook/8659.b8f735b3.iframe.bundle.js
  main/storybook/8763.9b05d238.iframe.bundle.js
  main/storybook/component-remove-__stories__-api-spec-stories.ca6bdecb.iframe.bundle.js
  main/storybook/component-remove-__stories__-callbacks-spec-stories.65b1b321.iframe.bundle.js
  main/storybook/component-remove-__stories__-component-remove-stories.2f1bf12e.iframe.bundle.js
  main/storybook/element-add-__stories__-element-add-stories.3064bc50.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/layout-__stories__-layout-stories.a522dfe2.iframe.bundle.js
  main/storybook/main.d52a6925.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.a9ab2a39.iframe.bundle.js
  main/storybook/project.json
  main/storybook/prop-editor-__stories__-boolean-editor-spec-stories.0cc82c27.iframe.bundle.js
  main/storybook/prop-editor-__stories__-number-editor-spec-stories.de40e157.iframe.bundle.js
  main/storybook/prop-editor-__stories__-object-editor-spec-stories.86f7ebae.iframe.bundle.js
  main/storybook/prop-editor-__stories__-prop-editor-stories.6fb210e9.iframe.bundle.js
  main/storybook/prop-editor-__stories__-string-editor-spec-stories.40ddd6db.iframe.bundle.js
  main/storybook/props-editor-__stories__-common-test-stories.ca235a6e.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.41a66c72.iframe.bundle.js
  main/storybook/runtime~main.d691a37a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлен element-remove компонент
  packages/core/components/element-remove/__stories__/element-remove.stories.tsx
  packages/core/components/element-remove/element-remove.tsx
  packages/core/hooks/use-api/constants.ts
  packages/core/hooks/use-api/index.ts
Due: npm run lint:js -- --fix

Updates
  issue-85/playwright-report/index.html
Due: none

feat: добавлены тесты на апи
  packages/core/components/element-remove/__stories__/api.spec.stories.ts
  packages/core/components/element-remove/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-85/storybook/element-remove-__stories__-api-spec-stories.8a5e20b4.iframe.bundle.js
  issue-85/storybook/iframe.html
  issue-85/storybook/index.json
  issue-85/storybook/main.106ac435.iframe.bundle.js
  issue-85/storybook/project.json
  issue-85/storybook/runtime~main.ca63f333.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлено удаление message-попапа при рендере компонента в сторисе
  packages/core/components/element-remove/__stories__/element-remove.stories.tsx
Due: npm run lint:js -- --fix

Updates
  issue-85/storybook/element-remove-__stories__-api-spec-stories.3a148c1e.iframe.bundle.js
  issue-85/storybook/element-remove-__stories__-element-remove-stories.1742facd.iframe.bundle.js
  issue-85/storybook/iframe.html
  issue-85/storybook/project.json
  issue-85/storybook/runtime~main.04258711.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлен element-remove компонент (#116)
  packages/core/components/element-remove/__stories__/api.spec.stories.ts
  packages/core/components/element-remove/__stories__/element-remove.stories.tsx
  packages/core/components/element-remove/element-remove.tsx
  packages/core/components/element-remove/test-object.ts
  packages/core/hooks/use-api/constants.ts
  packages/core/hooks/use-api/index.ts
Due: npm run lint:js -- --fix

Updates
  main/storybook/1805.307c167e.iframe.bundle.js
  main/storybook/8549.22acf111.iframe.bundle.js
  main/storybook/component-add-__stories__-api-spec-stories.724e1750.iframe.bundle.js
  main/storybook/component-add-__stories__-component-add-stories.fb76736e.iframe.bundle.js
  main/storybook/component-add-__stories__-validation-spec-stories.1d3a93a5.iframe.bundle.js
  main/storybook/component-remove-__stories__-api-spec-stories.edb49773.iframe.bundle.js
  main/storybook/component-remove-__stories__-callbacks-spec-stories.4cb32eeb.iframe.bundle.js
  main/storybook/component-remove-__stories__-component-remove-stories.a66f3dad.iframe.bundle.js
  main/storybook/components-list-__stories__-api-spec-stories.1432d2bf.iframe.bundle.js
  main/storybook/components-list-__stories__-components-list-stories.82848e50.iframe.bundle.js
  main/storybook/content-editor-layout-__stories__-content-editor-layout-stories.ef8708e9.iframe.bundle.js
  main/storybook/element-add-__stories__-element-add-stories.04f5d8c7.iframe.bundle.js
  main/storybook/element-remove-__stories__-api-spec-stories.3a148c1e.iframe.bundle.js
  main/storybook/element-remove-__stories__-element-remove-stories.1742facd.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.106ac435.iframe.bundle.js
  main/storybook/page-add-__stories__-api-spec-stories.5a2228bb.iframe.bundle.js
  main/storybook/page-add-__stories__-callbacks-spec-stories.6253c141.iframe.bundle.js
  main/storybook/page-add-__stories__-page-add-stories.53bf61c9.iframe.bundle.js
  main/storybook/page-add-__stories__-validation-spec-stories.802147c0.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.105b654c.iframe.bundle.js
  main/storybook/page-remove-__stories__-page-remove-stories.60092217.iframe.bundle.js
  main/storybook/page-title-__stories__-content-spec-stories.394b0bd9.iframe.bundle.js
  main/storybook/page-title-__stories__-page-title-stories.cf7d8921.iframe.bundle.js
  main/storybook/pages-list-__stories__-pages-list-stories.8e90ca06.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.d6a8ee48.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: создан компонент element-editor
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-108/playwright-report/index.html
Due: none

fix: правки после ревью
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-108/storybook/element-editor-__stories__-element-editor-stories.78849162.iframe.bundle.js
  issue-108/storybook/iframe.html
  issue-108/storybook/project.json
  issue-108/storybook/runtime~main.41011d55.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/components/element-editor/element-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-108/storybook/element-editor-__stories__-element-editor-stories.02b4c57d.iframe.bundle.js
  issue-108/storybook/iframe.html
  issue-108/storybook/project.json
  issue-108/storybook/runtime~main.7f93b5e9.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлены тесты
  packages/core/components/element-editor/__stories__/common.spec.stories.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/__stories__/props.spec.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-108/storybook/3351.c36730f0.iframe.bundle.js
  issue-108/storybook/5905.d5b9c3d1.iframe.bundle.js
  issue-108/storybook/745.01c5da25.iframe.bundle.js
  issue-108/storybook/7616.eb4f7801.iframe.bundle.js
  issue-108/storybook/7923.42bc0d8a.iframe.bundle.js
  issue-108/storybook/8522.53aed0a9.iframe.bundle.js
  issue-108/storybook/9107.970938cc.iframe.bundle.js
  issue-108/storybook/9791.d983a2fe.iframe.bundle.js
  issue-108/storybook/9791.d983a2fe.iframe.bundle.js.map
  issue-108/storybook/component-add-__stories__-api-spec-stories.2815494d.iframe.bundle.js
  issue-108/storybook/component-add-__stories__-component-add-stories.79444c32.iframe.bundle.js
  issue-108/storybook/component-add-__stories__-validation-spec-stories.ba497177.iframe.bundle.js
  issue-108/storybook/component-remove-__stories__-api-spec-stories.8169bfd1.iframe.bundle.js
  issue-108/storybook/component-remove-__stories__-callbacks-spec-stories.74e06714.iframe.bundle.js
  issue-108/storybook/component-remove-__stories__-component-remove-stories.91c9abeb.iframe.bundle.js
  issue-108/storybook/element-editor-__stories__-common-spec-stories.2058b958.iframe.bundle.js
  issue-108/storybook/element-editor-__stories__-element-editor-stories.7ed94d5f.iframe.bundle.js
  issue-108/storybook/element-editor-__stories__-props-spec-stories.e1281d9e.iframe.bundle.js
  issue-108/storybook/element-remove-__stories__-api-spec-stories.1ffd8e46.iframe.bundle.js
  issue-108/storybook/element-remove-__stories__-element-remove-stories.07f297bc.iframe.bundle.js
  issue-108/storybook/iframe.html
  issue-108/storybook/index.json
  issue-108/storybook/main.2142545d.iframe.bundle.js
  issue-108/storybook/page-add-__stories__-api-spec-stories.f9fa473e.iframe.bundle.js
  issue-108/storybook/page-add-__stories__-callbacks-spec-stories.20a0297f.iframe.bundle.js
  issue-108/storybook/page-add-__stories__-page-add-stories.929fc705.iframe.bundle.js
  issue-108/storybook/page-add-__stories__-validation-spec-stories.f235fce6.iframe.bundle.js
  issue-108/storybook/page-add-modal-__stories__-page-add-integration-spec-stories.422d441d.iframe.bundle.js
  issue-108/storybook/page-add-modal-__stories__-page-add-modal-stories.088bb2bc.iframe.bundle.js
  issue-108/storybook/page-remove-__stories__-api-spec-stories.b67a3489.iframe.bundle.js
  issue-108/storybook/page-remove-__stories__-page-remove-stories.915134b7.iframe.bundle.js
  issue-108/storybook/pages-list-__stories__-content-spec-stories.15bf6ab7.iframe.bundle.js
  issue-108/storybook/pages-list-__stories__-integration-page-add-spec-stories.0bf4a4eb.iframe.bundle.js
  issue-108/storybook/pages-list-__stories__-pages-list-stories.2d64d14e.iframe.bundle.js
  issue-108/storybook/project.json
  issue-108/storybook/runtime~main.827a29a6.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/components/element-editor/__stories__/common.spec.stories.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/__stories__/props.spec.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-108/storybook/element-editor-__stories__-common-spec-stories.de7ca07c.iframe.bundle.js
  issue-108/storybook/element-editor-__stories__-element-editor-stories.ff79aacc.iframe.bundle.js
  issue-108/storybook/element-editor-__stories__-props-spec-stories.77e0641b.iframe.bundle.js
  issue-108/storybook/iframe.html
  issue-108/storybook/index.json
  issue-108/storybook/project.json
  issue-108/storybook/runtime~main.bf94cc9a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: создан компонент element-editor (#118)
  packages/core/components/element-editor/__stories__/common.spec.stories.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/__stories__/props.spec.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
Due: npm run lint:js -- --fix

feat: попытка запуска локального сторибука для тестов в СI
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
