Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

feat: создан компонент prop-editor со string & number editor'ами
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/types/number-editor.tsx
  packages/core/components/prop-editor/types/string-editor.tsx
  packages/core/components/props-editor/props-editor.tsx
  packages/schema/index.ts
  packages/schema/type-guards.ts
  packages/schema/types.ts
Due: npm run lint:js -- --fix

fix: правки после ревью
  packages/core/components/prop-editor/prop-editor.tsx
  packages/schema/index.ts
Due: npm run lint:js -- --fix

fix: правки после ревью
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/types.ts
  packages/core/components/prop-editor/types/number-editor.tsx
  packages/core/components/prop-editor/types/string-editor.tsx
  packages/schema/type-guards.ts
Due: npm run lint:js -- --fix

fix: types
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
Due: npm run lint:js -- --fix

Updates
  issue-98/storybook/2323.867e7d2a.iframe.bundle.js
  issue-98/storybook/2870.d3f0a731.iframe.bundle.js
  issue-98/storybook/2870.d3f0a731.iframe.bundle.js.LICENSE.txt
  issue-98/storybook/3235.58fafa42.iframe.bundle.js
  issue-98/storybook/iframe.html
  issue-98/storybook/main.79476c8c.iframe.bundle.js
  issue-98/storybook/project.json
  issue-98/storybook/prop-editor-__stories__-prop-editor-stories.4de0b794.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-common-test-stories.6e93ab4d.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-props-editor-stories.55b860e5.iframe.bundle.js
  issue-98/storybook/runtime~main.c06ae0ae.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлены тесты в prop-editor для string-editor
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
Due: npm run lint:js -- --fix

feat: добавлены тесты в prop-editor для number-editor
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-98/storybook/iframe.html
  issue-98/storybook/index.json
  issue-98/storybook/main.6fdabd35.iframe.bundle.js
  issue-98/storybook/project.json
  issue-98/storybook/prop-editor-__stories__-number-editor-spec-stories.c6c6fbd7.iframe.bundle.js
  issue-98/storybook/prop-editor-__stories__-prop-editor-stories.785cfa08.iframe.bundle.js
  issue-98/storybook/prop-editor-__stories__-string-editor-spec-stories.2821e72e.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-common-test-stories.e9a8be9f.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-props-editor-stories.821d6831.iframe.bundle.js
  issue-98/storybook/runtime~main.5d392604.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: исправлены тесты
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/prop-editor/types.ts
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/props-editor.tsx
Due: npm run lint:js -- --fix

fix: задан testId по умолчанию
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/types.ts
Due: npm run lint:js -- --fix

Updates
  issue-98/storybook/iframe.html
  issue-98/storybook/index.json
  issue-98/storybook/project.json
  issue-98/storybook/prop-editor-__stories__-number-editor-spec-stories.b62dc237.iframe.bundle.js
  issue-98/storybook/prop-editor-__stories__-prop-editor-stories.a69dbfa9.iframe.bundle.js
  issue-98/storybook/prop-editor-__stories__-string-editor-spec-stories.8a6ff9a5.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-common-test-stories.38d5f85b.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-props-editor-stories.258796a0.iframe.bundle.js
  issue-98/storybook/runtime~main.3aa9f2f8.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-98/playwright-report/index.html
Due: none

fix: правки после ревью
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
Due: npm run lint:js -- --fix

Updates
  issue-98/storybook/6216.b13d1d3b.iframe.bundle.js
  issue-98/storybook/iframe.html
  issue-98/storybook/index.json
  issue-98/storybook/main.d92a80f8.iframe.bundle.js
  issue-98/storybook/project.json
  issue-98/storybook/prop-editor-__stories__-number-editor-spec-stories.468a6816.iframe.bundle.js
  issue-98/storybook/prop-editor-__stories__-prop-editor-stories.f3a96220.iframe.bundle.js
  issue-98/storybook/prop-editor-__stories__-string-editor-spec-stories.bbe0b4c5.iframe.bundle.js
  issue-98/storybook/props-editor-__stories__-common-test-stories.67f28196.iframe.bundle.js
  issue-98/storybook/runtime~main.77ac6e3f.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлен вывод числовых инпутов в props-editor (#103)
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/prop-editor/types.ts
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/schema/index.ts
  packages/schema/types.ts
  packages/schema/utils/get-properties-names.ts
Due: npm run lint:js -- --fix

Updates
  main/storybook/2323.867e7d2a.iframe.bundle.js
  main/storybook/2870.d3f0a731.iframe.bundle.js
  main/storybook/2870.d3f0a731.iframe.bundle.js.LICENSE.txt
  main/storybook/3235.58fafa42.iframe.bundle.js
  main/storybook/6216.b13d1d3b.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.d92a80f8.iframe.bundle.js
  main/storybook/project.json
  main/storybook/prop-editor-__stories__-number-editor-spec-stories.468a6816.iframe.bundle.js
  main/storybook/prop-editor-__stories__-prop-editor-stories.f3a96220.iframe.bundle.js
  main/storybook/prop-editor-__stories__-string-editor-spec-stories.bbe0b4c5.iframe.bundle.js
  main/storybook/props-editor-__stories__-common-test-stories.67f28196.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.258796a0.iframe.bundle.js
  main/storybook/runtime~main.1a78c92e.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: создан boolean-editor компонент
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.ts
  packages/schema/types.ts
Due: npm run lint:js -- --fix

feat: добавлены тесты для boolean-editor'a
  packages/core/components/prop-editor/__stories__/boolean-editor.spec.stories.tsx
  packages/core/components/prop-editor/test-object.ts
Due: npm run lint:js -- --fix

fix: test-object
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/prop-editor/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-99/playwright-report/index.html
Due: none

fix: правки после ревью
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
Due: npm run lint:js -- --fix

Updates
  issue-99/storybook/7884.86279ba6.iframe.bundle.js
  issue-99/storybook/iframe.html
  issue-99/storybook/project.json
  issue-99/storybook/prop-editor-__stories__-prop-editor-stories.661d0308.iframe.bundle.js
  issue-99/storybook/props-editor-__stories__-common-test-stories.4d35f778.iframe.bundle.js
  issue-99/storybook/props-editor-__stories__-props-editor-stories.5cc2c67e.iframe.bundle.js
  issue-99/storybook/runtime~main.d9137fcc.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: создан boolean-editor (#110)
  packages/core/components/prop-editor/__stories__/boolean-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.ts
  packages/schema/types.ts
Due: npm run lint:js -- --fix

Updates
  main/storybook/1413.94cd385a.iframe.bundle.js
  main/storybook/2450.eec42842.iframe.bundle.js
  main/storybook/7884.86279ba6.iframe.bundle.js
  main/storybook/component-remove-__stories__-api-spec-stories.fc895ca0.iframe.bundle.js
  main/storybook/component-remove-__stories__-callbacks-spec-stories.1f66fe6e.iframe.bundle.js
  main/storybook/component-remove-__stories__-component-remove-stories.3dc9999e.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.f750be1e.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.826a0c2f.iframe.bundle.js
  main/storybook/page-remove-__stories__-page-remove-stories.8e7e138d.iframe.bundle.js
  main/storybook/project.json
  main/storybook/prop-editor-__stories__-boolean-editor-spec-stories.aa324f5a.iframe.bundle.js
  main/storybook/prop-editor-__stories__-prop-editor-stories.661d0308.iframe.bundle.js
  main/storybook/props-editor-__stories__-common-test-stories.4d35f778.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.5cc2c67e.iframe.bundle.js
  main/storybook/runtime~main.ba9b3492.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: создана getDefaultValues функция
  packages/schema/index.ts
  packages/schema/utils/get-default-values.ts
Due: npm run lint:js -- --fix

Updates
  issue-84/playwright-report/index.html
Due: none

feat: добавлен unit-тест
  packages/schema/utils/get-default-values.spec.ts
Due: npm run lint:js -- --fix

Updates
  issue-84/storybook/iframe.html
  issue-84/storybook/project.json
Due: npm run lint:formatting -- --write

fix: тесты
  packages/schema/utils/get-default-values.spec.ts
Due: npm run lint:js -- --fix

test: один describe вместо четырёх
  packages/schema/utils/get-default-values.spec.ts
Due: npm run lint:js -- --fix
