Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-150/playwright-report/index.html
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: правки после ревью
  .github/workflows/pull-request.yml
  package-lock.json
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/components/page-title/__stories__/page-title.stories.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/project.json
  issue-150/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-150/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: ci
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

fix: очередные (очередняры) правки после ревью
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix

feat: proverka
  .github/workflows/pull-request.yml
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: ссылка на report.json
  .github/workflows/pull-request.yml
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: убрана намеренная ашыпка в page-title
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/page-title-__stories__-content-spec-stories.d0b80edd.iframe.bundle.js
  issue-150/storybook/page-title-__stories__-page-title-stories.85ccdc99.iframe.bundle.js
  issue-150/storybook/page-title-__stories__-screenshot-screenshot-stories.ccc8af32.iframe.bundle.js
  issue-150/storybook/project.json
  issue-150/storybook/runtime~main.e131753a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-150/storybook/iframe.html
  issue-150/storybook/project.json
  issue-150/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-150/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-154/storybook/iframe.html
  issue-154/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-154/playwright-report/index.html
  issue-154/storybook/iframe.html
  issue-154/storybook/project.json
  issue-154/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: добавление в сторибук информации об упавших сторисах (#151)
  .github/workflows/pull-request.yml
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/manager.tsx
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/package.json
  tsconfig.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/iframe.html
  main/storybook/index.html
  main/storybook/project.json
  main/storybook/sb-addons/storybook-11/manager-bundle.css
  main/storybook/sb-addons/storybook-11/manager-bundle.css.LEGAL.txt
  main/storybook/sb-addons/storybook-11/manager-bundle.js
  main/storybook/sb-addons/storybook-11/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-154/storybook/iframe.html
  issue-154/storybook/index.html
  issue-154/storybook/project.json
  issue-154/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-154/storybook/sb-addons/storybook-11/manager-bundle.css.LEGAL.txt
  issue-154/storybook/sb-addons/storybook-11/manager-bundle.js
  issue-154/storybook/sb-addons/storybook-11/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-154/playwright-report/index.html
  issue-154/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
