Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

Updates
  issue-136/storybook/content-editor-__stories__-integration-element-add-spec-stories.76a4f99f.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-editor-spec-stories.d72d7296.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-remove-spec-stories.8805a277.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-tree-content-spec-stories.04b75204.iframe.bundle.js
  issue-136/storybook/iframe.html
  issue-136/storybook/project.json
  issue-136/storybook/runtime~main.5b4de264.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: редактор элементов интегрирован в редактор контента
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-remove.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/content-editor/use-content-editor-logic.ts
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/test-object.ts
  packages/core/components/element-remove/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-136/storybook/2965.a07f946d.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-add-spec-stories.e12b428a.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-editor-spec-stories.420e76e8.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-remove-spec-stories.adb4e29a.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-tree-content-spec-stories.bcfd2759.iframe.bundle.js
  issue-136/storybook/iframe.html
  issue-136/storybook/project.json
  issue-136/storybook/runtime~main.3651c2bf.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-136/playwright-report/index.html
Due: none

feat: редактор элементов интегрирован в редактор контента (#145)
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-remove.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/content-editor/use-content-editor-logic.ts
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/test-object.ts
  packages/core/components/element-remove/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-137/storybook/content-editor-__stories__-integration-element-add-spec-stories.d192e937.iframe.bundle.js
  issue-137/storybook/content-editor-__stories__-integration-element-editor-spec-stories.8029e9d1.iframe.bundle.js
  issue-137/storybook/content-editor-__stories__-integration-element-remove-spec-stories.ae75cde4.iframe.bundle.js
  issue-137/storybook/content-editor-__stories__-tree-content-spec-stories.0dc02412.iframe.bundle.js
  issue-137/storybook/iframe.html
  issue-137/storybook/project.json
  issue-137/storybook/runtime~main.eb49343d.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: content-editor добавлен на страницу редактирования контента
  packages/admin/pages/pages/[id].tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/content-editor.module.css
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/element-editor/element-editor.module.css
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/layout/layout-decorator.tsx
  packages/core/index.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-137/storybook/content-editor-__stories__-integration-element-add-spec-stories.59912b0e.iframe.bundle.js
  issue-137/storybook/content-editor-__stories__-integration-element-editor-spec-stories.4055f2ce.iframe.bundle.js
  issue-137/storybook/content-editor-__stories__-integration-element-remove-spec-stories.cc1475ab.iframe.bundle.js
  issue-137/storybook/content-editor-__stories__-tree-content-spec-stories.dac22a2e.iframe.bundle.js
  issue-137/storybook/iframe.html
  issue-137/storybook/project.json
  issue-137/storybook/runtime~main.2eb82e9a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-137/playwright-report/index.html
Due: none

feat: content-editor добавлен на страницу редактирования контента (#146)
  packages/admin/pages/pages/[id].tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/content-editor.module.css
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/element-editor/element-editor.module.css
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/layout/layout-decorator.tsx
  packages/core/index.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/277.4f63a956.iframe.bundle.js
  main/storybook/277.4f63a956.iframe.bundle.js.LICENSE.txt
  main/storybook/4047.e01a33df.iframe.bundle.js
  main/storybook/8093.7f3f98b5.iframe.bundle.js
  main/storybook/9006.75ef3f3b.iframe.bundle.js
  main/storybook/content-editor-__stories__-content-editor-stories.fd2e101f.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-add-spec-stories.59912b0e.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-editor-spec-stories.4055f2ce.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-remove-spec-stories.cc1475ab.iframe.bundle.js
  main/storybook/content-editor-__stories__-tree-content-spec-stories.dac22a2e.iframe.bundle.js
  main/storybook/element-add-__stories__-element-add-stories.b946a5fa.iframe.bundle.js
  main/storybook/element-editor-__stories__-common-spec-stories.5a830af8.iframe.bundle.js
  main/storybook/element-editor-__stories__-element-editor-stories.f00c8afa.iframe.bundle.js
  main/storybook/element-editor-__stories__-props-spec-stories.96674348.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/main.dd03af86.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-integration-spec-stories.7cd28013.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-modal-stories.22563409.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.ca244a65.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: исправлено добавление элемента на страницу
  packages/admin/pages/pages/[id].tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-147/playwright-report/index.html
Due: none

test: добавлен тест который предотвратит появление бага в будущем
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
Due: npm run lint:js -- --fix

Updates
  issue-147/storybook/9791.33900f33.iframe.bundle.js
  issue-147/storybook/9791.33900f33.iframe.bundle.js.map
  issue-147/storybook/content-editor-__stories__-integration-element-add-spec-stories.322a310a.iframe.bundle.js
  issue-147/storybook/iframe.html
  issue-147/storybook/index.json
  issue-147/storybook/project.json
  issue-147/storybook/runtime~main.04f0f93a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: исправлено добавление элемента на страницу (#148)
  packages/admin/pages/pages/[id].tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix

Updates
  main/storybook/277.6c5d8341.iframe.bundle.js
  main/storybook/277.6c5d8341.iframe.bundle.js.LICENSE.txt
  main/storybook/9791.33900f33.iframe.bundle.js
  main/storybook/9791.33900f33.iframe.bundle.js.map
  main/storybook/content-editor-__stories__-integration-element-add-spec-stories.322a310a.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/project.json
  main/storybook/runtime~main.65869481.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: настройка статических файлов в сторибуке
  packages/core/.storybook/main.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: попытка починить смэрть билда, когда папка screenshots отсутствует
  packages/core/.storybook/main.ts
Due: npm run lint:js -- --fix

feat: перемещение папки screenshots в билд сторибука
  .github/workflows/pull-request.yml
  packages/core/.storybook/main.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: папка screenshots создается в начале запуска тестов
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

Updates
  issue-134/storybook/iframe.html
  issue-134/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-134/playwright-report/index.html
  issue-134/storybook/iframe.html
  issue-134/storybook/project.json
  issue-134/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-134/playwright-report/index.html
  issue-134/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: скриншоты попадают в сборку сторибука (#141)
  .github/workflows/pull-request.yml
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

feat: добавлен файл pull-request-review.yml с выводом echo
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write
