Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

feat: компонент screenshot-comparator (#169)
  .github/workflows/build.yml
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/preview.ts
  packages/core/.storybook/screenshot-panel/addons/compare-button.tsx
  packages/core/.storybook/screenshot-panel/addons/panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshots-comparator/decorator.tsx
  packages/core/.storybook/screenshots-comparator/screenshots-comparator.module.css
  packages/core/.storybook/screenshots-comparator/screenshots-comparator.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.cde6a6fc.iframe.bundle.js
  main/storybook/project.json
  main/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/playwright-report/index.html
  issue-170/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

refactor: файлики по папкам по-другому разложены
  packages/core/.storybook/addon/addon.tsx
  packages/core/.storybook/addon/common/comments.ts
  packages/core/.storybook/addon/common/get-approved-screenshots.ts
  packages/core/.storybook/addon/common/get-report.ts
  packages/core/.storybook/addon/common/types.ts
  packages/core/.storybook/addon/common/use-failed-stories.ts
  packages/core/.storybook/addon/compare-button/compare-button.tsx
  packages/core/.storybook/addon/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/addon/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/addon/screenshot-panel/screenshot-table/screenshot-table.module.css
  packages/core/.storybook/addon/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/core/.storybook/addon/screenshots-comparator/decorator.tsx
  packages/core/.storybook/addon/screenshots-comparator/screenshots-comparator.module.css
  packages/core/.storybook/addon/screenshots-comparator/screenshots-comparator.tsx
  packages/core/.storybook/addon/test-runner-config/fs-utils.ts
  packages/core/.storybook/addon/test-runner-config/index.ts
  packages/core/.storybook/addon/test-runner-config/resolve-settings.ts
  packages/core/.storybook/addon/test-runner-config/screenshoter-config.ts
  packages/core/.storybook/main.ts
  packages/core/.storybook/manager.tsx
  packages/core/.storybook/preview.ts
  packages/core/.storybook/screenshot-panel/addons/panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/test-runner.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/main.da6a53ac.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: скриншотер отделён в свой пакет
  eslint.config.js
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/preview.ts
  packages/core/.storybook/test-runner.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/package.json
  packages/core/screenshots/actual/pageslist-tests-screenshot--screenshot.png
  packages/core/screenshots/diff/pageslist-tests-screenshot--screenshot.png
  packages/core/screenshots/reference/pageslist-tests-screenshot--screenshot.png
  packages/core/screenshots/report.json
  packages/sauron-eye-addon/addon/addon.tsx
  packages/sauron-eye-addon/addon/common/comments.ts
  packages/sauron-eye-addon/addon/common/get-approved-screenshots.ts
  packages/sauron-eye-addon/addon/common/get-report.ts
  packages/sauron-eye-addon/addon/common/types.ts
  packages/sauron-eye-addon/addon/common/use-failed-stories.ts
  packages/sauron-eye-addon/addon/compare-button/compare-button.tsx
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-panel.css
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-panel.tsx
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-table/screenshot-table.module.css
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/sauron-eye-addon/addon/screenshots-comparator/decorator.tsx
  packages/sauron-eye-addon/addon/screenshots-comparator/screenshots-comparator.module.css
  packages/sauron-eye-addon/addon/screenshots-comparator/screenshots-comparator.tsx
  packages/sauron-eye-addon/addon/test-runner-config/fs-utils.ts
  packages/sauron-eye-addon/addon/test-runner-config/index.ts
  packages/sauron-eye-addon/addon/test-runner-config/resolve-settings.ts
  packages/sauron-eye-addon/addon/test-runner-config/screenshoter-config.ts
  packages/sauron-eye-addon/manager.ts
  packages/sauron-eye-addon/package.json
  packages/sauron-eye-addon/preset.ts
  packages/sauron-eye-addon/preview.ts
  tsconfig.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-170/storybook/280.23001779.iframe.bundle.js
  issue-170/storybook/iframe.html
  issue-170/storybook/index.html
  issue-170/storybook/main.579a9cf9.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/runtime~main.e55e9db3.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-170/storybook/screenshots/actual/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/screenshots/diff/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/screenshots/reference/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: избавление от хардкода, часть 1
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  packages/core/.storybook/main.ts
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-panel.tsx
  packages/sauron-eye-addon/addon/test-runner-config/screenshoter-config.ts
  packages/sauron-eye-addon/package.json
  packages/sauron-eye-addon/preset.ts
  packages/sauron-eye-addon/preview.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/index.html
  issue-170/storybook/main.d13bd657.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.css
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.css.LEGAL.txt
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.js
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.js.LEGAL.txt
  issue-170/storybook/sb-addons/styling-11/manager-bundle.js
  issue-170/storybook/sb-addons/styling-11/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/main.bae3099e.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/screenshots/file.txt
  issue-170/storybook/storybook-static/iframe.html
  issue-170/storybook/storybook-static/project.json
  issue-170/storybook/storybook-static/screenshots/file.txt
Due: npm run lint:formatting -- --write

Updates
  issue-170/playwright-report/index.html
  issue-170/storybook/iframe.html
  issue-170/storybook/project.json
  issue-170/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-170/storybook/storybook-static/iframe.html
  issue-170/storybook/storybook-static/main.1d551966.iframe.bundle.js
  issue-170/storybook/storybook-static/project.json
  issue-170/storybook/storybook-static/sb-addons/sauron-eye-addon-10/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/playwright-report/index.html
  issue-170/storybook/iframe.html
  issue-170/storybook/main.1d551966.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.js
  issue-170/storybook/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/storybook-static/iframe.html
  issue-170/storybook/storybook-static/main.fa06e72b.iframe.bundle.js
  issue-170/storybook/storybook-static/project.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/main.fa06e72b.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/storybook-static/iframe.html
  issue-170/storybook/storybook-static/main.bf6fa14a.iframe.bundle.js
  issue-170/storybook/storybook-static/project.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/main.bf6fa14a.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/screenshots/actual/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/screenshots/diff/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/screenshots/reference/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

ci: параметры скриншотера не хардкодятся, а задаются
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  .gitignore
  packages/core/.storybook/main.ts
  packages/core/.storybook/preview.ts
  packages/core/.storybook/sauron-eye-config.ts
  packages/core/.storybook/test-runner.ts
  packages/core/package.json
  packages/core/screenshots/actual/pageslist-tests-screenshot--screenshot.png
  packages/core/screenshots/diff/pageslist-tests-screenshot--screenshot.png
  packages/core/screenshots/reference/pageslist-tests-screenshot--screenshot.png
  packages/core/screenshots/report.json
  packages/sauron-eye-addon/addon/common/comments.ts
  packages/sauron-eye-addon/addon/common/get-approved-screenshots.ts
  packages/sauron-eye-addon/addon/common/get-report.ts
  packages/sauron-eye-addon/addon/common/types.ts
  packages/sauron-eye-addon/addon/common/use-failed-stories.ts
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-panel.tsx
  packages/sauron-eye-addon/addon/screenshots-comparator/decorator.tsx
  packages/sauron-eye-addon/addon/test-runner-config/screenshoter-config.ts
  packages/sauron-eye-addon/index.ts
  packages/sauron-eye-addon/package.json
  packages/sauron-eye-addon/preset.ts
  packages/sauron-eye-addon/preview.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/storybook-static/iframe.html
  issue-170/storybook/storybook-static/main.63e8bb51.iframe.bundle.js
  issue-170/storybook/storybook-static/project.json
  issue-170/storybook/storybook-static/sb-addons/sauron-eye-addon-10/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/iframe.html
  issue-170/storybook/main.63e8bb51.iframe.bundle.js
  issue-170/storybook/project.json
  issue-170/storybook/sb-addons/sauron-eye-addon-10/manager-bundle.js
  issue-170/storybook/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-170/storybook/actual/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/diff/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/file.txt
  issue-170/storybook/reference/pageslist-tests-screenshot--screenshot.png
  issue-170/storybook/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-170/storybook/storybook-static/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-170/playwright-report/index.html
  issue-170/storybook/project.json
  issue-170/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

refactor: общий рефактор скриншот-конфигов (#171)
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
  .gitignore
  eslint.config.js
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/manager.tsx
  packages/core/.storybook/preview.ts
  packages/core/.storybook/sauron-eye-config.ts
  packages/core/.storybook/screenshot-panel/addons/panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/test-runner.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/package.json
  packages/sauron-eye-addon/addon/addon.tsx
  packages/sauron-eye-addon/addon/common/comments.ts
  packages/sauron-eye-addon/addon/common/get-approved-screenshots.ts
  packages/sauron-eye-addon/addon/common/get-report.ts
  packages/sauron-eye-addon/addon/common/types.ts
  packages/sauron-eye-addon/addon/common/use-failed-stories.ts
  packages/sauron-eye-addon/addon/compare-button/compare-button.tsx
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-panel.css
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-panel.tsx
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-table/screenshot-table.module.css
  packages/sauron-eye-addon/addon/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/sauron-eye-addon/addon/screenshots-comparator/decorator.tsx
  packages/sauron-eye-addon/addon/screenshots-comparator/screenshots-comparator.module.css
  packages/sauron-eye-addon/addon/screenshots-comparator/screenshots-comparator.tsx
  packages/sauron-eye-addon/addon/test-runner-config/fs-utils.ts
  packages/sauron-eye-addon/addon/test-runner-config/index.ts
  packages/sauron-eye-addon/addon/test-runner-config/resolve-settings.ts
  packages/sauron-eye-addon/addon/test-runner-config/screenshoter-config.ts
  packages/sauron-eye-addon/index.ts
  packages/sauron-eye-addon/manager.ts
  packages/sauron-eye-addon/package.json
  packages/sauron-eye-addon/preset.ts
  packages/sauron-eye-addon/preview.ts
  tsconfig.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

docs: readme написали, ура
  packages/core/.storybook/test-runner.ts
  packages/sauron-eye-addon/package.json
  packages/sauron-eye-addon/readme.md
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

chore: охладил editorconfig
  .editorconfig
Due: none

Updates
  readme/storybook/storybook-static/iframe.html
  readme/storybook/storybook-static/project.json
Due: npm run lint:formatting -- --write

Updates
  readme/storybook/iframe.html
  readme/storybook/project.json
  readme/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write
