Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{yml,json,md}": "prettier --write"
}

Updates
  issue-58/playwright-report/index.html
Due: none

Updates
  issue-58/storybook/component-remove-__stories__-api-spec-stories.61d7a146.iframe.bundle.js
  issue-58/storybook/component-remove-__stories__-callbacks-spec-stories.fa0d76a9.iframe.bundle.js
  issue-58/storybook/component-remove-__stories__-component-remove-stories.1adb9973.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-api-spec-stories.23c0f84a.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-components-list-stories.27a162d1.iframe.bundle.js
  issue-58/storybook/iframe.html
  issue-58/storybook/index.json
  issue-58/storybook/main.e804b588.iframe.bundle.js
  issue-58/storybook/project.json
  issue-58/storybook/runtime~main.aa373c9d.iframe.bundle.js
Due: eslint --fix, prettier --write

refactor: исправлены мелкие недочёты (#87)
  package-lock.json
  packages/api/migrations/1714044117643-create-components.ts
  packages/api/modules/components/component.entity.ts
  packages/application/pages/index.tsx
  packages/core/components/component-add/__stories__/api.spec.stories.ts
  packages/core/components/component-add/__stories__/component-add.stories.ts
  packages/core/components/component-add/__stories__/validation.spec.stories.ts
  packages/core/components/component-add/component-add.tsx
  packages/core/components/component-add/index.ts
  packages/core/components/component-remove/__stories__/api.spec.stories.ts
  packages/core/components/component-remove/__stories__/callbacks.spec.stories.ts
  packages/core/components/component-remove/__stories__/component-remove.stories.tsx
  packages/core/components/component-remove/component-remove.tsx
  packages/core/components/component-remove/index.ts
  packages/core/components/components-add/index.ts
  packages/core/components/components-list/__stories__/api.spec.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/components-list/get-component-schema-url.ts
  packages/core/components/components-remove/index.ts
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/import-remote/__tests__/testing-data.ts
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/core/components/microfrontend/import-remote/index.ts
  packages/core/components/microfrontend/import-remote/types.ts
  packages/core/components/microfrontend/index.ts
  packages/core/components/microfrontend/microfrontend.tsx
  packages/mocks/components.ts
  packages/module-utils/get-base-url.spec.ts
  packages/module-utils/get-base-url.ts
  packages/module-utils/get-css-url.spec.ts
  packages/module-utils/get-css-url.ts
  packages/module-utils/get-schema-url.spec.ts
  packages/module-utils/get-schema-url.ts
  packages/module-utils/index.ts
  packages/module-utils/package.json
  packages/types/components.ts
Due: eslint --fix, prettier --write

Updates
  main/storybook/component-add-__stories__-api-spec-stories.4e5e9320.iframe.bundle.js
  main/storybook/component-add-__stories__-component-add-stories.4f867ca0.iframe.bundle.js
  main/storybook/component-add-__stories__-validation-spec-stories.a525bcc7.iframe.bundle.js
  main/storybook/component-remove-__stories__-api-spec-stories.61d7a146.iframe.bundle.js
  main/storybook/component-remove-__stories__-callbacks-spec-stories.fa0d76a9.iframe.bundle.js
  main/storybook/component-remove-__stories__-component-remove-stories.1adb9973.iframe.bundle.js
  main/storybook/components-list-__stories__-api-spec-stories.23c0f84a.iframe.bundle.js
  main/storybook/components-list-__stories__-components-list-stories.27a162d1.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.e804b588.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-stories.122da0e3.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.5c03d58d.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.aa373c9d.iframe.bundle.js
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

feat(core): реализован "кустарный" роутер
  package-lock.json
  packages/admin/pages/_app.tsx
  packages/core/.storybook/preview.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/layout/layout.tsx
  packages/core/components/link/index.ts
  packages/core/components/link/link.tsx
  packages/core/components/page-title/__stories__/content.spec.stories.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/page-title/test-object.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/hooks/use-router/context.ts
  packages/core/hooks/use-router/index.ts
  packages/core/hooks/use-router/mocked.tsx
  packages/core/hooks/use-router/types.ts
  packages/core/hooks/use-router/use-router.ts
  packages/core/index.ts
  packages/core/package.json
Due: eslint --fix, prettier --write

Updates
  issue-73/storybook/components-list-__stories__-api-spec-stories.d4ed43bc.iframe.bundle.js
  issue-73/storybook/components-list-__stories__-components-list-stories.d7199c9f.iframe.bundle.js
  issue-73/storybook/iframe.html
  issue-73/storybook/layout-__stories__-layout-stories.d7b5abc5.iframe.bundle.js
  issue-73/storybook/pages-list-__stories__-pages-list-stories.3992fd86.iframe.bundle.js
  issue-73/storybook/project.json
  issue-73/storybook/runtime~main.3f1a2ec6.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-73/playwright-report/index.html
Due: none

feat(core): реализован "кустарный" роутер (#88)
  package-lock.json
  packages/admin/pages/_app.tsx
  packages/core/.storybook/preview.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/layout/layout.tsx
  packages/core/components/link/index.ts
  packages/core/components/link/link.tsx
  packages/core/components/page-title/__stories__/content.spec.stories.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/page-title/test-object.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/hooks/use-router/context.ts
  packages/core/hooks/use-router/index.ts
  packages/core/hooks/use-router/mocked.tsx
  packages/core/hooks/use-router/types.ts
  packages/core/hooks/use-router/use-router.ts
  packages/core/index.ts
  packages/core/package.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/8445.a815b501.iframe.bundle.js
  main/storybook/8445.a815b501.iframe.bundle.js.LICENSE.txt
  main/storybook/8445.a815b501.iframe.bundle.js.map
  main/storybook/components-list-__stories__-api-spec-stories.d4ed43bc.iframe.bundle.js
  main/storybook/components-list-__stories__-components-list-stories.d7199c9f.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/layout-__stories__-layout-stories.d7b5abc5.iframe.bundle.js
  main/storybook/main.127db971.iframe.bundle.js
  main/storybook/page-title-__stories__-content-spec-stories.1aa3221b.iframe.bundle.js
  main/storybook/page-title-__stories__-page-title-stories.cdf3b950.iframe.bundle.js
  main/storybook/pages-list-__stories__-pages-list-stories.3992fd86.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.3f1a2ec6.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-86/storybook/iframe.html
  issue-86/storybook/project.json
Due: prettier --write

Updates
  issue-86/playwright-report/index.html
Due: none

feat(api): добавление и удаление элементов
  packages/api/data-source.ts
  packages/api/migrations/1714430751862-create-elements.ts
  packages/api/migrations/index.ts
  packages/api/modules/elements/__tests__/create.spec.ts
  packages/api/modules/elements/__tests__/mocked-elements-repository.ts
  packages/api/modules/elements/__tests__/remove.spec.ts
  packages/api/modules/elements/element.entity.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.module.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
  packages/api/modules/elements/index.ts
  packages/mocks/elements.ts
  packages/types/elements.ts
  packages/types/types.ts
Due: eslint --fix

feat(api-client): добавлены эндпоинты для добавления и удаления элементов
  packages/api-client/api-client.ts
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
  packages/api-client/mocked.ts
Due: eslint --fix

chore: исправил импорты, успокоил typescript
  packages/api/migrations/1714430751862-create-elements.ts
  packages/api/modules/elements/elements.controller.ts
Due: eslint --fix

Updates
  issue-77/playwright-report/index.html
Due: none

feat(api): добавление и удаление элементов (#90)
  packages/api-client/api-client.ts
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
  packages/api-client/mocked.ts
  packages/api/data-source.ts
  packages/api/migrations/1714430751862-create-elements.ts
  packages/api/migrations/index.ts
  packages/api/modules/elements/__tests__/create.spec.ts
  packages/api/modules/elements/__tests__/mocked-elements-repository.ts
  packages/api/modules/elements/__tests__/remove.spec.ts
  packages/api/modules/elements/element.entity.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.module.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
  packages/api/modules/elements/index.ts
  packages/mocks/elements.ts
  packages/types/elements.ts
  packages/types/types.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.06cb8a4d.iframe.bundle.js
  main/storybook/project.json
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

Updates
  issue-86/example/@colibrijs/example/Example/remote.client.js
  issue-86/example/@colibrijs/example/Example/remote.server.js
  issue-86/example/@colibrijs/example/Image/remote.client.js
  issue-86/example/@colibrijs/example/Image/remote.client.js.LICENSE.txt
  issue-86/example/@colibrijs/example/Image/remote.server.js
  issue-86/example/@colibrijs/example/Image/remote.server.js.LICENSE.txt
  issue-86/example/@colibrijs/example/Image/schema.json
  issue-86/example/@colibrijs/example/Text/remote.client.js
  issue-86/example/@colibrijs/example/Text/remote.client.js.LICENSE.txt
  issue-86/example/@colibrijs/example/Text/remote.server.js
  issue-86/example/@colibrijs/example/Text/remote.server.js.LICENSE.txt
  issue-86/example/@colibrijs/example/Text/schema.json
  issue-86/example/package.json
  issue-86/storybook/iframe.html
  issue-86/storybook/main.06cb8a4d.iframe.bundle.js
  issue-86/storybook/microfrontend-__stories__-microfrontend-stories.13a996a3.iframe.bundle.js
  issue-86/storybook/microfrontend-__stories__-microfrontend-test-stories.da101483.iframe.bundle.js
  issue-86/storybook/project.json
  issue-86/storybook/runtime~main.f619f3a3.iframe.bundle.js
  issue-86/swagger/openapi.json
  issue-86/swagger/redoc-static.html
Due: eslint --fix, prettier --write

feat: созданы 2 тестовых компонента
  packages/example/components/image/image.tsx
  packages/example/components/image/index.ts
  packages/example/components/image/schema.ts
  packages/example/components/text/index.ts
  packages/example/components/text/schema.ts
  packages/example/components/text/text.tsx
  packages/example/package.json
Due: eslint --fix, prettier --write

chore: исхитрился с названием экспорта
  packages/cli/config/plugins/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/lib/__tests__/testing-data.ts
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/import-remote/import-remote.ts
Due: eslint --fix

Updates
  issue-86/storybook/iframe.html
  issue-86/storybook/microfrontend-__stories__-microfrontend-stories.e0a192e6.iframe.bundle.js
  issue-86/storybook/microfrontend-__stories__-microfrontend-test-stories.bb8ac6d0.iframe.bundle.js
  issue-86/storybook/project.json
  issue-86/storybook/runtime~main.0807a255.iframe.bundle.js
Due: eslint --fix, prettier --write

feat: созданы 2 тестовых компонента (#89)
  packages/cli/config/plugins/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/lib/__tests__/testing-data.ts
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/example/components/image/image.tsx
  packages/example/components/image/index.ts
  packages/example/components/image/schema.ts
  packages/example/components/text/index.ts
  packages/example/components/text/schema.ts
  packages/example/components/text/text.tsx
  packages/example/package.json
Due: eslint --fix, prettier --write

Updates
  main/example/@colibrijs/example/Example/remote.client.js
  main/example/@colibrijs/example/Example/remote.server.js
  main/example/@colibrijs/example/Image/remote.client.js
  main/example/@colibrijs/example/Image/remote.client.js.LICENSE.txt
  main/example/@colibrijs/example/Image/remote.server.js
  main/example/@colibrijs/example/Image/remote.server.js.LICENSE.txt
  main/example/@colibrijs/example/Image/schema.json
  main/example/@colibrijs/example/Text/remote.client.js
  main/example/@colibrijs/example/Text/remote.client.js.LICENSE.txt
  main/example/@colibrijs/example/Text/remote.server.js
  main/example/@colibrijs/example/Text/remote.server.js.LICENSE.txt
  main/example/@colibrijs/example/Text/schema.json
  main/example/package.json
  main/storybook/iframe.html
  main/storybook/microfrontend-__stories__-microfrontend-stories.f293fb5f.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.356ec950.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.d6966b0b.iframe.bundle.js
Due: eslint --fix, prettier --write

test(api): тесты для метода elements.find
  packages/api/modules/elements/__tests__/find.spec.ts
Due: eslint --fix

feat(api-client): добавлен endpoint для получения контента
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
Due: eslint --fix

Updates
  issue-78/playwright-report/index.html
Due: none

feat(api, api-client): добавлена возможность удаления элементов (#91)
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
  packages/api/modules/elements/__tests__/find.spec.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.b1a1b650.iframe.bundle.js
  main/storybook/project.json
Due: eslint --fix, prettier --write
