Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-10/example/@colibrijs/example/Example/component.css
  issue-10/example/@colibrijs/example/Example/remote.client.js
  issue-10/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-10/example/main.js
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-10/storybook/iframe.html
  issue-10/storybook/index.json
  issue-10/storybook/microfrontend-__stories__-microfrontend-stories.4ce206c0.iframe.bundle.js
  issue-10/storybook/microfrontend-__stories__-microfrontend-test-stories.8d80154b.iframe.bundle.js
  issue-10/storybook/project.json
  issue-10/storybook/props-editor-__stories__-common-test-stories.14768b3c.iframe.bundle.js
  issue-10/storybook/props-editor-__stories__-props-editor-stories.947252a5.iframe.bundle.js
  issue-10/storybook/runtime~main.149e33a4.iframe.bundle.js
Due: eslint --fix, prettier --write

ci: теперь не может одновременно две джобы деплоить что-либо на gh-pages
  .github/workflows/deploy-github-pages.yml
  .github/workflows/pull-request-closed.yml
  .github/workflows/pull-request.yml
  package-lock.json
  packages/cli/config/loaders/css.ts
  packages/cli/config/loaders/get-rules.ts
  packages/cli/config/webpack.config.ts
  packages/cli/package.json
  packages/core/components/microfrontend/microfrontend.tsx
Due: eslint --fix, prettier --write

Updates
  issue-32/example/@colibrijs/example/Example/remote.server.js
Due: eslint --fix

Updates
  issue-32/storybook/iframe.html
  issue-32/storybook/microfrontend-__stories__-microfrontend-stories.535735e6.iframe.bundle.js
  issue-32/storybook/microfrontend-__stories__-microfrontend-test-stories.816d1a4e.iframe.bundle.js
  issue-32/storybook/project.json
  issue-32/storybook/runtime~main.b582226f.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-32/playwright-report/index.html
Due: none

feat(core): компонент microfrontend принимает корректное название библиотеки в пропсах (#34)
  .github/workflows/deploy-github-pages.yml
  .github/workflows/pull-request-closed.yml
  .github/workflows/pull-request.yml
  package-lock.json
  packages/application/pages/index.tsx
  packages/cli/config/loaders/css.ts
  packages/cli/config/loaders/get-rules.ts
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/config/webpack.config.ts
  packages/cli/lib/__tests__/decode-package-name.spec.ts
  packages/cli/lib/__tests__/validate-package-json.spec.ts
  packages/cli/lib/decode-package-name.ts
  packages/cli/lib/index.ts
  packages/cli/lib/validate-package-json.ts
  packages/cli/package.json
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/import-remote/__tests__/get-base-url.spec.ts
  packages/core/components/microfrontend/import-remote/__tests__/testing-data.ts
  packages/core/components/microfrontend/import-remote/get-base-url.ts
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/core/components/microfrontend/import-remote/index.ts
  packages/core/components/microfrontend/import-remote/types.ts
  packages/core/components/microfrontend/microfrontend.tsx
  packages/core/package.json
  packages/module-utils/encode-package-name.spec.ts
  packages/module-utils/encode-package-name.ts
  packages/module-utils/index.ts
  packages/module-utils/package.json
Due: eslint --fix, prettier --write

feat: установлен antd
  package-lock.json
  package.json
Due: prettier --write

feat: создан компонент props-editor
  package-lock.json
  package.json
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.json
  packages/core/components/props-editor/props-editor.css
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/utils/get-properties-names.ts
  packages/core/package.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: добавлены тесты
  packages/core/components/props-editor/__stories__/callbacks.test.stories.tsx
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/props-editor.tsx
Due: eslint --fix

fix: поправил commit lint
  .husky/commit-msg
  package.json
Due: prettier --write

fix: поправлены тесты
  .eslintrc.json
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/utils/add.spec.ts
  packages/core/components/props-editor/utils/add.ts
  packages/core/components/props-editor/utils/get-properties-names.spec.ts
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/microfrontend-__stories__-microfrontend-stories.3b490f03.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.d8a4c894.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.d3966e84.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  main/example/@colibrijs/example/Example/remote.server.js
Due: eslint --fix

Updates
  issue-10/storybook/iframe.html
  issue-10/storybook/microfrontend-__stories__-microfrontend-stories.f02cc8ee.iframe.bundle.js
  issue-10/storybook/microfrontend-__stories__-microfrontend-test-stories.d2db0772.iframe.bundle.js
  issue-10/storybook/project.json
  issue-10/storybook/runtime~main.86d6651e.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-10/example/@colibrijs/example/Example/remote.server.js
  issue-10/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
Due: eslint --fix

Updates
  issue-10/playwright-report/index.html
Due: none

feat: создан компонент props-editor (#26)
  .eslintrc.json
  .husky/commit-msg
  package-lock.json
  package.json
  packages/core/components/props-editor/__stories__/callbacks.test.stories.tsx
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.json
  packages/core/components/props-editor/props-editor.css
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/utils/add.spec.ts
  packages/core/components/props-editor/utils/add.ts
  packages/core/components/props-editor/utils/get-properties-names.spec.ts
  packages/core/components/props-editor/utils/get-properties-names.ts
  packages/core/package.json
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  main/storybook/175.c9b87ed4.iframe.bundle.js
  main/storybook/175.c9b87ed4.iframe.bundle.js.LICENSE.txt
  main/storybook/175.c9b87ed4.iframe.bundle.js.map
  main/storybook/239.1c3b86b0.iframe.bundle.js
  main/storybook/239.1c3b86b0.iframe.bundle.js.LICENSE.txt
  main/storybook/239.1c3b86b0.iframe.bundle.js.map
  main/storybook/485.7ce26494.iframe.bundle.js
  main/storybook/485.7ce26494.iframe.bundle.js.LICENSE.txt
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.516f9113.iframe.bundle.js
  main/storybook/project.json
  main/storybook/props-editor-__stories__-common-test-stories.14768b3c.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.947252a5.iframe.bundle.js
  main/storybook/runtime~main.0ffa31d2.iframe.bundle.js
Due: eslint --fix, prettier --write

chore: настройка nest
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  packages/api/main.ts
  packages/api/modules/app.controller.ts
  packages/api/modules/app.module.ts
  packages/api/nest-cli.json
  packages/api/package.json
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  issue-38/example/@colibrijs/example/Example/component.css
  issue-38/example/@colibrijs/example/Example/remote.client.js
  issue-38/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-38/example/@colibrijs/example/Example/remote.server.js
  issue-38/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
  issue-38/example/main.js
  issue-38/example/main.js.LICENSE.txt
  issue-38/example/package.json
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-38/playwright-report/index.html
Due: none

chore: настройка nest (#39)
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  packages/api/main.ts
  packages/api/modules/app.controller.ts
  packages/api/modules/app.module.ts
  packages/api/nest-cli.json
  packages/api/package.json
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/485.b7c292ea.iframe.bundle.js
  main/storybook/485.b7c292ea.iframe.bundle.js.LICENSE.txt
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/runtime~main.0630aaea.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(api): генерация swagger
  .gitignore
  package-lock.json
  packages/api/main.ts
  packages/api/modules/app.controller.ts
  packages/api/modules/app.module.ts
  packages/api/modules/elements/element.entity.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.module.ts
  packages/api/modules/elements/index.ts
  packages/api/package.json
  packages/api/tsconfig.build.json
Due: eslint --fix, prettier --write

ci: настройка деплоя свагера на github pages
  .github/workflows/build.yml
  .github/workflows/deploy-github-pages.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: prettier --write

Updates
  issue-40/example/@colibrijs/example/Example/component.css
  issue-40/example/@colibrijs/example/Example/remote.client.js
  issue-40/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-40/example/@colibrijs/example/Example/remote.server.js
  issue-40/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
  issue-40/example/main.js
  issue-40/example/main.js.LICENSE.txt
  issue-40/example/package.json
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-40/swagger/redoc-static.html
Due: none

Updates
  issue-40/playwright-report/index.html
Due: none

Updates
  issue-40/storybook/iframe.html
  issue-40/storybook/project.json
Due: prettier --write

ci: артефакты ci деплоятся одновременно
  .github/workflows/deploy-artifacts-to-github-pages/action.yml
  .github/workflows/deploy-github-pages.yml
  .github/workflows/pull-request.yml
  .github/workflows/resolve-github-pages-url/action.yml
Due: prettier --write

ci: удаление environments при закрытии пулл-реквеста
  .github/workflows/pull-request-closed.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.css) or (any of: *.{yml,json,md})
  stylelint --fix: any of: *.css
