Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

Updates
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/playwright-report/index.html
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: добавлен выборочный апрув скриншотного теста (#164)
  .github/workflows/screenshot-approve.yml
  packages/core/.storybook/screenshot-panel/comments.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/pages-list/__stories__/screenshot/screenshot.stories.ts
  packages/core/components/pages-list/pages-list.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/280.23001779.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.b4b19c3e.iframe.bundle.js
  main/storybook/pages-list-__stories__-screenshot-screenshot-stories.5d09969e.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.3a3c13b4.iframe.bundle.js
  main/storybook/sb-addons/storybook-11/manager-bundle.css
  main/storybook/sb-addons/storybook-11/manager-bundle.js
  main/storybook/sb-addons/storybook-11/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: добавлена загрузка в screenshot-panel
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: убран antd из screenshot-table
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.module.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-166/playwright-report/index.html
  issue-166/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

test: навернул тест специально
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

Updates
  issue-166/storybook/iframe.html
  issue-166/storybook/page-title-__stories__-content-spec-stories.dd164d6a.iframe.bundle.js
  issue-166/storybook/page-title-__stories__-page-title-stories.75535a88.iframe.bundle.js
  issue-166/storybook/page-title-__stories__-screenshot-screenshot-stories.903c038d.iframe.bundle.js
  issue-166/storybook/project.json
  issue-166/storybook/runtime~main.60d53ac1.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-166/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-166/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-166/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot.png
  issue-166/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: pages-list & page-title
  packages/core/components/page-title/page-title.tsx
  packages/core/components/pages-list/pages-list.tsx
Due: npm run lint:js -- --fix

Updates
  issue-166/storybook/280.4f68f80d.iframe.bundle.js
  issue-166/storybook/iframe.html
  issue-166/storybook/project.json
  issue-166/storybook/runtime~main.4b336563.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-166/storybook/screenshots/actual/pageslist-tests-screenshot--screenshot.png
  issue-166/storybook/screenshots/diff/pageslist-tests-screenshot--screenshot.png
  issue-166/storybook/screenshots/reference/pageslist-tests-screenshot--screenshot.png
  issue-166/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

test: проверка
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

Updates
  issue-166/storybook/iframe.html
  issue-166/storybook/project.json
  issue-166/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-166/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: убрал консоли
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

feat: вывод названия сториса вместо пути в screenshot-table
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.module.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/core/.storybook/screenshot-panel/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-166/storybook/iframe.html
  issue-166/storybook/project.json
  issue-166/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-166/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

fix: key
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
Due: npm run lint:js -- --fix

feat: добавлен самодельный компонент screenshot-panel, вместо antd (#167)
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.module.css
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/components/pages-list/pages-list.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/runtime~main.5a9a9b80.iframe.bundle.js
  main/storybook/sb-addons/storybook-11/manager-bundle.css
  main/storybook/sb-addons/storybook-11/manager-bundle.js
  main/storybook/sb-addons/storybook-11/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: сохранимся
  eslint.config.js
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
  packages/test-utils/index.ts
  packages/test-utils/package.json
  packages/test-utils/screenshots-comparator/decorator.tsx
  packages/test-utils/screenshots-comparator/screenshots-comparator.module.css
  packages/test-utils/screenshots-comparator/screenshots-comparator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-168/storybook/screenshots/actual/pagetitle-tests-screenshod--screenshotz.png
  issue-168/storybook/screenshots/diff/pagetitle-tests-screenshod--screenshotz.png
  issue-168/storybook/screenshots/reference/pagetitle-tests-screenshod--screenshotz.png
  issue-168/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write
