Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

Updates
  readme/storybook/actual/pageslist-tests-screenshot--screenshot.png
  readme/storybook/diff/pageslist-tests-screenshot--screenshot.png
  readme/storybook/file.txt
  readme/storybook/reference/pageslist-tests-screenshot--screenshot.png
  readme/storybook/report.json
Due: npm run lint:formatting -- --write

fix: ci
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Updates
  readme/storybook/storybook-static/iframe.html
  readme/storybook/storybook-static/project.json
Due: npm run lint:formatting -- --write

Updates
  readme/storybook/iframe.html
  readme/storybook/project.json
  readme/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: pages-list верстка
  packages/core/components/pages-list/pages-list.tsx
Due: npm run lint:js -- --fix

Updates
  readme/storybook/storybook-static/280.4f68f80d.iframe.bundle.js
  readme/storybook/storybook-static/iframe.html
  readme/storybook/storybook-static/project.json
  readme/storybook/storybook-static/runtime~main.7a58606b.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  readme/playwright-report/index.html
  readme/storybook/280.4f68f80d.iframe.bundle.js
  readme/storybook/iframe.html
  readme/storybook/project.json
  readme/storybook/runtime~main.7a58606b.iframe.bundle.js
  readme/storybook/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

chore: убрал ранее написаный if в ci
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Updates
  test/storybook/storybook-static/iframe.html
  test/storybook/storybook-static/project.json
Due: npm run lint:formatting -- --write

fix: фикс скрипта
  packages/core/package.json
  packages/core/screenshots/file.txt
  packages/core/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  test/storybook/screenshots/report.json
  test/storybook/storybook-static/iframe.html
  test/storybook/storybook-static/project.json
  test/storybook/storybook-static/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  test/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

проверка
  packages/core/.storybook/main.ts
Due: npm run lint:js -- --fix

Updates
  test/storybook/screenshots/report.json
  test/storybook/storybook-static/iframe.html
  test/storybook/storybook-static/index.html
  test/storybook/storybook-static/main.2907ebe2.iframe.bundle.js
  test/storybook/storybook-static/project.json
  test/storybook/storybook-static/sb-addons/styling-10/manager-bundle.js
  test/storybook/storybook-static/sb-addons/styling-10/manager-bundle.js.LEGAL.txt
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test
  packages/core/.storybook/main.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  test/storybook/screenshots/report.json
  test/storybook/storybook-static/280.23001779.iframe.bundle.js
  test/storybook/storybook-static/iframe.html
  test/storybook/storybook-static/index.html
  test/storybook/storybook-static/project.json
  test/storybook/storybook-static/runtime~main.630a6122.iframe.bundle.js
  test/storybook/storybook-static/screenshots/report.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  test/storybook/screenshots/report.json
  test/storybook/storybook-static/project.json
Due: npm run lint:formatting -- --write
