Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-154/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-154/storybook/iframe.html
  issue-154/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-154/playwright-report/index.html
  issue-154/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-156/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-156/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-156/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot.png
  issue-156/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-156/storybook/iframe.html
  issue-156/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-156/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: написана функция запроса на ревью
  .github/workflows/pull-request-review.yml
  packages/control-freak/cli.ts
  packages/control-freak/request-review.ts
  packages/control-freak/run.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

refactor: баш скрипт переписан на ts
  packages/control-freak/cli.ts
  packages/control-freak/run.ts
Due: npm run lint:js -- --fix

feat: зачатки контрол фрика
  .github/workflows/pull-request-review.yml
  package-lock.json
  packages/control-freak/bin/control-freak.js
  packages/control-freak/cli.ts
  packages/control-freak/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлен пакет control-freak (#155)
  .github/workflows/pull-request-review.yml
  package-lock.json
  packages/control-freak/bin/control-freak.js
  packages/control-freak/cli.ts
  packages/control-freak/package.json
  packages/control-freak/request-review.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

feat: коммит ради ржаки
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

feat: создан ci фалйик для ловли запроса
  .github/workflows/screenshot-approve.yml
Due: npm run lint:formatting -- --write

fix: фикс CI-высера
  .github/workflows/screenshot-approve.yml
Due: npm run lint:formatting -- --write

test: тестовый коммит
  .github/workflows/build.yml
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-156/storybook/iframe.html
  issue-156/storybook/page-title-__stories__-content-spec-stories.dd164d6a.iframe.bundle.js
  issue-156/storybook/page-title-__stories__-page-title-stories.75535a88.iframe.bundle.js
  issue-156/storybook/page-title-__stories__-screenshot-screenshot-stories.903c038d.iframe.bundle.js
  issue-156/storybook/project.json
  issue-156/storybook/runtime~main.e3a0c023.iframe.bundle.js
  issue-156/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-156/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-156/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-156/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: обработка ошибок
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix

Updates
  issue-156/storybook/iframe.html
  issue-156/storybook/project.json
  issue-156/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: стили
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
Due: npm run lint:formatting -- --write, npm run lint:css -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
