Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: скриншоты сохраняются ну очень быстро
  package-lock.json
  package.json
  packages/core/.storybook/test-runner.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлена папка со скриншотами в гитигнор
  .gitignore
Due: none

feat: добавлено удаление screenshot папки перед запуском тестов, фикс постоянных созданий папок
  packages/core/.storybook/main.ts
  packages/core/.storybook/test-runner.ts
  packages/core/components/prop-editor/__stories__/screenshot/screenshot.stories.ts
  packages/core/components/prop-editor/prop-editor.tsx
Due: npm run lint:js -- --fix

fix: вернул старые настройки поиска сторисов
  packages/core/.storybook/main.ts
  packages/core/.storybook/test-runner.ts
  packages/core/components/page-title/__stories__/screenshot/screenshot.ts
  packages/core/components/prop-editor/__stories__/screenshot/screenshot.ts
Due: npm run lint:js -- --fix

fix: prop-editor, закомментирован скриншот-тест файлы
  packages/core/components/page-title/__stories__/screenshot/screenshot.ts
  packages/core/components/prop-editor/__stories__/screenshot/screenshot.ts
  packages/core/components/prop-editor/prop-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-124/storybook/6070.5b3e2a13.iframe.bundle.js
  issue-124/storybook/iframe.html
  issue-124/storybook/project.json
  issue-124/storybook/runtime~main.a8e5b508.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-124/storybook/iframe.html
  issue-124/storybook/index.json
  issue-124/storybook/main.12f70d80.iframe.bundle.js
  issue-124/storybook/project.json
  issue-124/storybook/runtime~main.fff88e23.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-124/playwright-report/index.html
Due: none

fix: правочки после ревьюшечки
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/index.ts
  packages/core/.storybook/test-runner.ts
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
  packages/core/components/page-title/__stories__/screenshot/screenshot.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/prop-editor/__stories__/screenshot/screenshot.ts
Due: npm run lint:js -- --fix

Updates
  issue-124/storybook/iframe.html
  issue-124/storybook/index.json
  issue-124/storybook/page-title-__stories__-content-spec-stories.d0b80edd.iframe.bundle.js
  issue-124/storybook/page-title-__stories__-page-title-stories.85ccdc99.iframe.bundle.js
  issue-124/storybook/page-title-__stories__-screenshot-screenshot-stories.ccc8af32.iframe.bundle.js
  issue-124/storybook/project.json
  issue-124/storybook/runtime~main.ab29433e.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

refactor: по файликам разложены функции были
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/index.ts
  packages/core/.storybook/screenshoter-config/resolve-settings.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix

Updates
  issue-124/storybook/iframe.html
  issue-124/storybook/project.json
Due: npm run lint:formatting -- --write

feat: настройка скриншотных тестов (#131)
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/index.ts
  packages/core/.storybook/screenshoter-config/resolve-settings.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/.storybook/test-runner.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-132/storybook/iframe.html
  issue-132/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-132/playwright-report/index.html
Due: none

chore: временный коммит
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/report-raw.json
  packages/core/.storybook/screenshoter-config/create-report-js.js
  packages/core/.storybook/screenshoter-config/create-report.ts
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: удален setup, папка со скриншотами не удаляется, а просто перезаписываются файлы
  packages/core/.storybook/report-raw.json
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: закомментирован expect, чтоб каждый раз не ломать page-title
  packages/core/.storybook/screenshoter-config/create-report.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix

chore: иван устранён
  packages/core/.storybook/screenshoter-config/create-report-js.js
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки after ревью
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавление логов после тестов (#133)
  package-lock.json
  packages/core/.storybook/screenshoter-config/fs-utils.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/6716.4734bd3a.iframe.bundle.js
  main/storybook/6716.4734bd3a.iframe.bundle.js.LICENSE.txt
  main/storybook/6716.4734bd3a.iframe.bundle.js.map
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

refactor(core): удаление компонента content-editor-layout
  packages/core/components/content-editor-layout/__stories__/content-editor-layout.stories.ts
  packages/core/components/content-editor-layout/__stories__/content-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/content-editor-layout.module.css
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor-layout/test-object.ts
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/tree-content.spec.stories.ts
  packages/core/components/content-editor/content-editor.module.css
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

refactor(core): логика content-editor отделена от представления
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/content-editor/use-content-editor-logic.ts
Due: npm run lint:js -- --fix

Updates
  issue-117/storybook/9517.033ec5a5.iframe.bundle.js
  issue-117/storybook/content-editor-__stories__-integration-element-add-spec-stories.490a8caf.iframe.bundle.js
  issue-117/storybook/element-add-__stories__-visibility-spec-stories.ba63590a.iframe.bundle.js
  issue-117/storybook/iframe.html
  issue-117/storybook/project.json
  issue-117/storybook/runtime~main.7b7ddf03.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-117/storybook/9517.b1ab0df1.iframe.bundle.js
  issue-117/storybook/content-editor-__stories__-integration-element-add-spec-stories.68f3ffc3.iframe.bundle.js
  issue-117/storybook/iframe.html
  issue-117/storybook/project.json
  issue-117/storybook/runtime~main.cea68fad.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: удалён лишний метод в to добавления элемента
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/element-add/__stories__/visibility.spec.stories.ts
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
