Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: скриншоты сохраняются ну очень быстро
  package-lock.json
  package.json
  packages/core/.storybook/test-runner.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  feat/115/storybook/3005.0e1acaef.iframe.bundle.js
  feat/115/storybook/705.f47d61c4.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-add-spec-stories.45aa52ff.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-components-select-spec-stories.85f253b1.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-element-add-stories.0b35bff1.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-on-close-spec-stories.78ec933c.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-on-ready-spec-stories.4d3ab8bf.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-visibility-spec-stories.a0c72855.iframe.bundle.js
  feat/115/storybook/iframe.html
  feat/115/storybook/index.json
  feat/115/storybook/main.cfa8c595.iframe.bundle.js
  feat/115/storybook/project.json
  feat/115/storybook/runtime~main.688811d7.iframe.bundle.js
  feat/115/swagger/openapi.json
  feat/115/swagger/redoc-static.html
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  feat/115/storybook/content-editor-__stories__-integration-element-add-spec-stories.dc1b6da5.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-editor-spec-stories.605f1098.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-tree-content-spec-stories.d27c8d37.iframe.bundle.js
  feat/115/storybook/iframe.html
  feat/115/storybook/project.json
  feat/115/storybook/runtime~main.f1651324.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  feat/115/storybook/iframe.html
  feat/115/storybook/project.json
Due: npm run lint:formatting -- --write

chore: добавлено сообщение об успешном/неудачном добавлении елемента
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix

feat(core): добавлен компонент ElementAdd в ContentEditor
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix

test: добавлен тест HidesOnAdded
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix

test: бекап по тесту с модалкой
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/element-add/element-add.tsx
Due: npm run lint:js -- --fix

test: добавлен тест HidesOnAdded
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
Due: npm run lint:js -- --fix

test: добавлен тест при ошибке на добавления элемента
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/core/components/element-add/element-add.tsx
  packages/core/components/element-add/test-object.ts
  packages/types/elements.ts
Due: npm run lint:js -- --fix

refactor: логика при клике на добавление элемента вынесена в ТО
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/test-object.ts
Due: npm run lint:js -- --fix

chore: удалено ТОDO
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
Due: npm run lint:js -- --fix

chore: вернул pageId
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/core/components/element-add/element-add.tsx
  packages/types/elements.ts
Due: npm run lint:js -- --fix

Updates
  feat/115/storybook/705.2309aa15.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-content-editor-stories.62078cdb.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-add-spec-stories.3fb7d908.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-editor-spec-stories.a5b7a740.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-remove-spec-stories.7c535209.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-tree-content-spec-stories.ab615ec5.iframe.bundle.js
  feat/115/storybook/content-editor-layout-__stories__-content-editor-layout-stories.7f1ce868.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-components-select-spec-stories.4add01a0.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-element-add-stories.f035d604.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-on-close-spec-stories.f049fd83.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-on-ready-spec-stories.74e9a376.iframe.bundle.js
  feat/115/storybook/element-add-__stories__-visibility-spec-stories.e128f917.iframe.bundle.js
  feat/115/storybook/iframe.html
  feat/115/storybook/project.json
  feat/115/storybook/runtime~main.b531eab5.iframe.bundle.js
  feat/115/swagger/openapi.json
  feat/115/swagger/redoc-static.html
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  feat/115/storybook/705.a7c8bf11.iframe.bundle.js
  feat/115/storybook/iframe.html
  feat/115/storybook/project.json
  feat/115/storybook/runtime~main.97d8e9b2.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  feat/115/playwright-report/index.html
  feat/115/storybook/iframe.html
  feat/115/storybook/project.json
Due: npm run lint:formatting -- --write

refactor: elementAddTO добавлен в TO content-editor
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
Due: npm run lint:js -- --fix

Updates
  feat/115/storybook/705.9306b797.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-add-spec-stories.c77106c4.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-integration-element-editor-spec-stories.931f1a15.iframe.bundle.js
  feat/115/storybook/content-editor-__stories__-tree-content-spec-stories.392c4d29.iframe.bundle.js
  feat/115/storybook/iframe.html
  feat/115/storybook/index.json
  feat/115/storybook/main.3be52d8b.iframe.bundle.js
  feat/115/storybook/project.json
  feat/115/storybook/runtime~main.749cc136.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  feat/115/playwright-report/index.html
Due: none

feat(core): добавлен компонент ElementAdd в ContentEditor (#129)
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/element-add/element-add.tsx
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-120/playwright-report/index.html
Due: none

feat: добавлена проверка на правила по editorconfig'у
  .editorconfig
  .github/workflows/pull-request.yml
  .gitignore
  package-lock.json
  package.json
  packages/api/migrations/1714044117643-create-components.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-120/storybook/iframe.html
  issue-120/storybook/project.json
Due: npm run lint:formatting -- --write

refactor: отформатирован код
  .editorconfig
  .gitattributes
  .gitignore
  .npmrc
  .prettierrc.json
  package.json
Due: npm run lint:formatting -- --write

feat: добавлена проверка на правила по editorconfig'у (#130)
  .editorconfig
  .gitattributes
  .github/workflows/pull-request.yml
  .gitignore
  .npmrc
  .prettierrc.json
  package-lock.json
  package.json
  packages/api/migrations/1714044117643-create-components.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

chore: удалена лишняя команда для притера в package
  package.json
Due: npm run lint:formatting -- --write

feat: начальная настройка скриншот-тестов
  eslint.config.js
  package-lock.json
  package.json
  packages/core/.storybook/test-runner.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: немного оптимизации, деление скринов по папкам
  package-lock.json
  package.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/test-runner.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: переписал решение на стримы в надежде на ускорение
  package-lock.json
  package.json
  packages/core/.storybook/test-runner.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
