Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

fix: правки после ревью
  .github/workflows/build.yml
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-156/storybook/iframe.html
  issue-156/storybook/project.json
  issue-156/storybook/sb-addons/storybook-11/manager-bundle.css
  issue-156/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-156/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: вернул обратно GH_TOKEN в билде
  .github/workflows/build.yml
Due: npm run lint:formatting -- --write

Updates
  issue-156/storybook/iframe.html
  issue-156/storybook/project.json
  issue-156/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: снова вернул гитхуб токен с указание write-all permission для джобы
  .github/workflows/build.yml
  .github/workflows/screenshot-approve.yml
Due: npm run lint:formatting -- --write

fix: снова вернул GH_TOKEN
  .github/workflows/build.yml
Due: npm run lint:formatting -- --write

Updates
  issue-156/storybook/project.json
  issue-156/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: захардкожен токен
  .github/workflows/build.yml
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: жоское решение сокрытие токена
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix

fix: правки апосля ревью
  .github/workflows/screenshot-approve.yml
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-156/storybook/iframe.html
  issue-156/storybook/page-title-__stories__-content-spec-stories.d0b80edd.iframe.bundle.js
  issue-156/storybook/page-title-__stories__-page-title-stories.85ccdc99.iframe.bundle.js
  issue-156/storybook/page-title-__stories__-screenshot-screenshot-stories.ccc8af32.iframe.bundle.js
  issue-156/storybook/project.json
  issue-156/storybook/runtime~main.059ded82.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-156/playwright-report/index.html
  issue-156/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: запуск джобы по HTTP-запросу (#157)
  .github/workflows/build.yml
  .github/workflows/screenshot-approve.yml
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.css
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/sb-addons/storybook-11/manager-bundle.css
  main/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: добавлена команда для обновления сторисов репорта
  eslint.config.js
  package-lock.json
  packages/core/.storybook/screenshot-approve/bin/screenshot-approve.js
  packages/core/.storybook/screenshot-approve/cli.ts
  packages/core/.storybook/screenshot-approve/screenshot-approve.ts
  packages/core/.storybook/screenshot-panel/get-report-data.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/package.json
  tsconfig.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-160/playwright-report/index.html
  issue-160/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/.storybook/screenshot-approve/cli.ts
  packages/core/.storybook/screenshot-approve/screenshot-approve.ts
  packages/core/.storybook/screenshot-panel/get-report.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
Due: npm run lint:js -- --fix

Updates
  issue-160/storybook/iframe.html
  issue-160/storybook/project.json
  issue-160/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-160/storybook/iframe.html
  issue-160/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-160/storybook/iframe.html
  issue-160/storybook/page-title-__stories__-content-spec-stories.dd164d6a.iframe.bundle.js
  issue-160/storybook/page-title-__stories__-page-title-stories.75535a88.iframe.bundle.js
  issue-160/storybook/page-title-__stories__-screenshot-screenshot-stories.903c038d.iframe.bundle.js
  issue-160/storybook/project.json
  issue-160/storybook/runtime~main.7ad45f4e.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
