Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-40/playwright-report/index.html
Due: none

docs: ссылка на swager добавлена в readme
  readme.md
Due: prettier --write

Updates
  issue-40/storybook/iframe.html
  issue-40/storybook/project.json
Due: prettier --write

feat(api): генерация swagger (#41)
  .github/workflows/build.yml
  .github/workflows/deploy-artifacts-to-github-pages/action.yml
  .github/workflows/deploy-github-pages.yml
  .github/workflows/main.yml
  .github/workflows/pull-request-closed.yml
  .github/workflows/pull-request.yml
  .github/workflows/resolve-github-pages-url/action.yml
  .gitignore
  package-lock.json
  packages/api/main.ts
  packages/api/modules/app.controller.ts
  packages/api/modules/app.module.ts
  packages/api/modules/elements/element.entity.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.module.ts
  packages/api/modules/elements/index.ts
  packages/api/package.json
  packages/api/tsconfig.build.json
  readme.md
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
  main/swagger/redoc-static.html
Due: prettier --write

ci: swagger деплоится вместе с openapi.json
  .github/workflows/build.yml
Due: prettier --write

feat(api): настройка typeorm, модуль components
  .eslintrc.json
  .gitignore
  package-lock.json
  packages/api/data-source.ts
  packages/api/migrations/1714044117643-create-components.ts
  packages/api/modules/app.module.ts
  packages/api/modules/components/__tests__/create.spec.ts
  packages/api/modules/components/__tests__/find.spec.ts
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/testing-data.ts
  packages/api/modules/components/component.entity.ts
  packages/api/modules/components/components.controller.ts
  packages/api/modules/components/components.module.ts
  packages/api/modules/components/components.service.ts
  packages/api/modules/components/components.types.ts
  packages/api/modules/components/index.ts
  packages/api/package.json
  packages/api/readme.md
Due: eslint --fix, prettier --write

Updates
  issue-42/example/@colibrijs/example/Example/component.css
  issue-42/example/@colibrijs/example/Example/remote.client.js
  issue-42/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-42/example/@colibrijs/example/Example/remote.server.js
  issue-42/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
  issue-42/example/main.js
  issue-42/example/main.js.LICENSE.txt
  issue-42/example/package.json
  issue-42/storybook/iframe.html
  issue-42/storybook/project.json
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-42/playwright-report/index.html
Due: none

feat(api): настройка typeorm, модуль components (#43)
  .eslintrc.json
  .github/workflows/build.yml
  .gitignore
  package-lock.json
  packages/api/data-source.ts
  packages/api/migrations/1714044117643-create-components.ts
  packages/api/modules/app.module.ts
  packages/api/modules/components/__tests__/create.spec.ts
  packages/api/modules/components/__tests__/find.spec.ts
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/testing-data.ts
  packages/api/modules/components/component.entity.ts
  packages/api/modules/components/components.controller.ts
  packages/api/modules/components/components.module.ts
  packages/api/modules/components/components.service.ts
  packages/api/modules/components/components.types.ts
  packages/api/modules/components/index.ts
  packages/api/package.json
  packages/api/readme.md
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: prettier --write

feat(api-client): настройка апи-клиента
  package-lock.json
  packages/api-client/api-client.ts
  packages/api-client/endpoints/components/endpoint.ts
  packages/api-client/endpoints/components/mocked.ts
  packages/api-client/http-client.ts
  packages/api-client/mocked.ts
  packages/api-client/package.json
  packages/api-client/types.ts
  packages/api/modules/components/__tests__/create.spec.ts
  packages/api/modules/components/__tests__/find.spec.ts
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/testing-data.ts
  packages/api/modules/components/component.entity.ts
  packages/api/package.json
  packages/mocks/components.ts
  packages/mocks/package.json
  packages/types/components.ts
  packages/types/types.ts
Due: eslint --fix, prettier --write

feat(core): инструменты для работы с апи-клиентом в сторибуке
  package-lock.json
  packages/api-client/mocked.ts
  packages/core/.storybook/preview.ts
  packages/core/components/components-list/__stories__/components-list.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/hooks/use-api/index.ts
  packages/core/hooks/use-api/mocked.tsx
  packages/core/hooks/use-api/use-api.ts
  packages/core/package.json
Due: eslint --fix, prettier --write

Updates
  issue-44/playwright-report/index.html
Due: none

feat(api-client): настройка апи-клиента (#45)
  package-lock.json
  packages/api-client/api-client.ts
  packages/api-client/endpoints/components/endpoint.ts
  packages/api-client/endpoints/components/mocked.ts
  packages/api-client/http-client.ts
  packages/api-client/mocked.ts
  packages/api-client/package.json
  packages/api-client/types.ts
  packages/api/modules/components/__tests__/create.spec.ts
  packages/api/modules/components/__tests__/find.spec.ts
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/testing-data.ts
  packages/api/modules/components/component.entity.ts
  packages/api/package.json
  packages/core/.storybook/preview.ts
  packages/core/components/components-list/__stories__/components-list.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/hooks/use-api/index.ts
  packages/core/hooks/use-api/mocked.tsx
  packages/core/hooks/use-api/use-api.ts
  packages/core/package.json
  packages/mocks/components.ts
  packages/mocks/package.json
  packages/types/components.ts
  packages/types/types.ts
Due: eslint --fix, prettier --write

Updates
  main/storybook/222.9168a825.iframe.bundle.js
  main/storybook/222.9168a825.iframe.bundle.js.LICENSE.txt
  main/storybook/427.b884763e.iframe.bundle.js
  main/storybook/427.b884763e.iframe.bundle.js.LICENSE.txt
  main/storybook/788.db62e094.iframe.bundle.js
  main/storybook/788.db62e094.iframe.bundle.js.LICENSE.txt
  main/storybook/788.db62e094.iframe.bundle.js.map
  main/storybook/973.9058aa4d.iframe.bundle.js
  main/storybook/973.9058aa4d.iframe.bundle.js.LICENSE.txt
  main/storybook/components-list-__stories__-components-list-stories.d4a5c027.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.7ddb9066.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.0a3c76a0.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(cli): схема компонента собирается в файлик schema.json
  packages/cli/lib/build-schemas.ts
  packages/cli/package.json
  packages/cli/run.ts
  packages/example/components/example/example.tsx
  packages/example/components/example/index.ts
  packages/example/components/example/schema.ts
Due: eslint --fix, prettier --write

refactor(cli): вынес общую функцию, которая определяет путь к собранному компоненту
  output
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/lib/__tests__/build-component-schema.spec.ts
  packages/cli/lib/__tests__/get-export-output-directory.spec.ts
  packages/cli/lib/build-component-schema.ts
  packages/cli/lib/build-schemas.ts
  packages/cli/lib/get-export-output-directory.ts
  packages/cli/lib/index.ts
Due: eslint --fix

chore: удалён неиспользуемый тип MicrofrontendMeta
  package-lock.json
  packages/cli/lib/build-component-schema.ts
  packages/core/components/microfrontend/import-remote/types.ts
  packages/core/components/microfrontend/microfrontend.tsx
  packages/types/package.json
  packages/types/types.ts
Due: eslint --fix, prettier --write

Updates
  issue-46/playwright-report/index.html
Due: none

Updates
  issue-46/storybook/iframe.html
  issue-46/storybook/microfrontend-__stories__-microfrontend-stories.fbf20030.iframe.bundle.js
  issue-46/storybook/microfrontend-__stories__-microfrontend-test-stories.ef662eca.iframe.bundle.js
  issue-46/storybook/project.json
  issue-46/storybook/runtime~main.55540d55.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  main/example/@colibrijs/example/Example/remote.client.js
  main/example/@colibrijs/example/Example/remote.server.js
  main/example/@colibrijs/example/Example/schema.json
  main/storybook/iframe.html
  main/storybook/microfrontend-__stories__-microfrontend-stories.680c7053.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.4344f989.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.6933bcee.iframe.bundle.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.css) or (any of: *.{yml,json,md})
  stylelint --fix: any of: *.css
