Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-163/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/playwright-report/index.html
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-158/storybook/iframe.html
  issue-158/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-158/playwright-report/index.html
  issue-158/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/screenshot-table/screenshot-table.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/project.json
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-158/playwright-report/index.html
  issue-158/storybook/iframe.html
  issue-158/storybook/project.json
  issue-158/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

chore: автор заменен на assignee
  .github/workflows/pull-request-review.yml
  packages/control-freak/cli.ts
  packages/control-freak/response-review.ts
  packages/control-freak/send-telegram-request.ts
  packages/control-freak/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

refactor: вынесен в отдельный тип optionsTelegram
  packages/control-freak/cli.ts
  packages/control-freak/request-review.ts
  packages/control-freak/response-review.ts
  packages/control-freak/send-telegram-request.ts
  packages/control-freak/types.ts
Due: npm run lint:js -- --fix

feat: добавлен тест для pages-list
  packages/core/components/pages-list/__stories__/screenshot/screenshot.stories.ts
  packages/core/components/pages-list/pages-list.tsx
Due: npm run lint:js -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
