Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-160/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-160/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-160/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot.png
  issue-160/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-160/storybook/iframe.html
  issue-160/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-160/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-160/storybook/iframe.html
  issue-160/storybook/project.json
  issue-160/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

ci: загрузка артифакта сторибука
  .github/workflows/build.yml
  .github/workflows/screenshot-approve.yml
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: изменена тактика апрувов
  .github/workflows/screenshot-approve.yml
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/screenshot-approve/bin/screenshot-approve.js
  packages/core/.storybook/screenshot-approve/cli.ts
  packages/core/.storybook/screenshot-approve/screenshot-approve.ts
  packages/core/.storybook/screenshot-panel/has-approve.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-160/storybook/iframe.html
  issue-160/storybook/main.851187d7.iframe.bundle.js
  issue-160/storybook/project.json
  issue-160/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-160/playwright-report/index.html
  issue-160/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

feat: тесты засчитываются как успешные если есть комментарий
  .github/workflows/build.yml
  packages/core/.storybook/preview.ts
  packages/core/.storybook/screenshot-panel/comments.ts
  packages/core/.storybook/screenshot-panel/has-approve.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: настроены апрувы скриншотных тестов (#161)
  .github/workflows/build.yml
  .github/workflows/screenshot-approve.yml
  eslint.config.js
  package-lock.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/preview.ts
  packages/core/.storybook/screenshot-panel/comments.ts
  packages/core/.storybook/screenshot-panel/get-report.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshot-panel/types.ts
  packages/core/.storybook/screenshoter-config/screenshoter-config.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
  tsconfig.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/main.cba66626.iframe.bundle.js
  main/storybook/page-title-__stories__-content-spec-stories.dd164d6a.iframe.bundle.js
  main/storybook/page-title-__stories__-page-title-stories.75535a88.iframe.bundle.js
  main/storybook/page-title-__stories__-screenshot-screenshot-stories.903c038d.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.e70dd677.iframe.bundle.js
  main/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat(ci): реализован ответ на ревью в CI
  .github/workflows/pull-request-review.yml
  .github/workflows/screenshot-approve.yml
  packages/control-freak/interfaces.ts
  packages/control-freak/response-review.ts
  packages/control-freak/send-telegram-request.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: добавлена передача responseReview в cli
  .github/workflows/pull-request-review.yml
  packages/control-freak/cli.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-158/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-158/playwright-report/index.html
  issue-158/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

chore: декомпазирова request-review и response-review
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-response-review.yml
Due: npm run lint:formatting -- --write

Updates
  issue-158/storybook/iframe.html
  issue-158/storybook/project.json
Due: npm run lint:formatting -- --write

refactor: вынесены в отдельные файлы request-review и response-review
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-response-review.yml
  packages/control-freak/cli.ts
  packages/control-freak/request-review.ts
  packages/control-freak/response-review.ts
  packages/control-freak/send-telegram-request.ts
  packages/control-freak/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: page-title
  packages/core/components/page-title/page-title.tsx
Due: npm run lint:js -- --fix

refactor: миноре фикс
  packages/control-freak/cli.ts
Due: npm run lint:js -- --fix

Updates
  issue-163/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-163/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-163/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot.png
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
