Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-117/storybook/2945.2496de82.iframe.bundle.js
  issue-117/storybook/2945.2496de82.iframe.bundle.js.LICENSE.txt
  issue-117/storybook/3351.c36730f0.iframe.bundle.js
  issue-117/storybook/9597.799cd8d8.iframe.bundle.js
  issue-117/storybook/content-editor-__stories__-content-editor-stories.02a1f997.iframe.bundle.js
  issue-117/storybook/content-editor-__stories__-integration-element-remove-spec-stories.4b19607a.iframe.bundle.js
  issue-117/storybook/element-add-__stories__-components-select-spec-stories.ac8f4800.iframe.bundle.js
  issue-117/storybook/element-add-__stories__-element-add-stories.25c4bd63.iframe.bundle.js
  issue-117/storybook/element-add-__stories__-on-close-spec-stories.410e73f5.iframe.bundle.js
  issue-117/storybook/element-add-__stories__-on-ready-spec-stories.3ff5397e.iframe.bundle.js
  issue-117/storybook/element-add-__stories__-visibility-spec-stories.cbc6b3fa.iframe.bundle.js
  issue-117/storybook/iframe.html
  issue-117/storybook/main.3672720a.iframe.bundle.js
  issue-117/storybook/project.json
  issue-117/storybook/runtime~main.dbfa3d58.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-117/playwright-report/index.html
Due: none

refactor(core): удаление компонента content-editor-layout (#122)
  packages/core/components/content-editor-layout/__stories__/content-editor-layout.stories.ts
  packages/core/components/content-editor-layout/__stories__/content-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/content-editor-layout.module.css
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor-layout/test-object.ts
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/tree-content.spec.stories.ts
  packages/core/components/content-editor/content-editor.module.css
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/test-object.ts
  packages/core/components/content-editor/use-content-editor-logic.ts
  packages/core/components/element-add/__stories__/visibility.spec.stories.ts
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/2945.2496de82.iframe.bundle.js
  main/storybook/2945.2496de82.iframe.bundle.js.LICENSE.txt
  main/storybook/9597.799cd8d8.iframe.bundle.js
  main/storybook/content-editor-__stories__-content-editor-stories.02a1f997.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-add-spec-stories.68f3ffc3.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-editor-spec-stories.b3a49e5c.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-remove-spec-stories.4b19607a.iframe.bundle.js
  main/storybook/content-editor-__stories__-tree-content-spec-stories.97013e37.iframe.bundle.js
  main/storybook/element-add-__stories__-components-select-spec-stories.ac8f4800.iframe.bundle.js
  main/storybook/element-add-__stories__-element-add-stories.25c4bd63.iframe.bundle.js
  main/storybook/element-add-__stories__-on-close-spec-stories.410e73f5.iframe.bundle.js
  main/storybook/element-add-__stories__-on-ready-spec-stories.3ff5397e.iframe.bundle.js
  main/storybook/element-add-__stories__-visibility-spec-stories.cbc6b3fa.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/layout-__stories__-layout-stories.ac7d93f8.iframe.bundle.js
  main/storybook/main.3672720a.iframe.bundle.js
  main/storybook/pages-list-__stories__-pages-list-stories.ba7002f2.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.25145bc8.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: написал test-object для element-editor
  packages/core/components/element-editor/__stories__/common.spec.stories.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/__stories__/props.spec.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/test-object.ts
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/index.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/test-object.ts
Due: npm run lint:js -- --fix

feat: настройка статических файлов в сторибуке
  packages/core/.storybook/main.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: попытка починить смэрть билда, когда папка screenshots отсутствует
  packages/core/.storybook/main.ts
Due: npm run lint:js -- --fix

Updates
  issue-134/playwright-report/index.html
Due: none

Updates
  issue-140/playwright-report/index.html
Due: none

Updates
  issue-140/storybook/iframe.html
  issue-140/storybook/project.json
Due: npm run lint:formatting -- --write

feat: добавлен файл pull-request-review.yml с выводом echo
  .github/workflows/pull-request-review.yml
Due: npm run lint:formatting -- --write

feat: удален файл pull-request-review.yml с выводом echo
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Updates
  issue-134/storybook/iframe.html
  issue-134/storybook/project.json
Due: npm run lint:formatting -- --write

Updates
  issue-134/playwright-report/index.html
  issue-134/storybook/screenshots/actual/pagetitle-tests-screenshot--screenshot.png
  issue-134/storybook/screenshots/diff/pagetitle-tests-screenshot--screenshot.png
  issue-134/storybook/screenshots/reference/pagetitle-tests-screenshot--screenshot.png
  issue-134/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-135/storybook/9791.4f0b532a.iframe.bundle.js
  issue-135/storybook/9791.4f0b532a.iframe.bundle.js.map
  issue-135/storybook/element-editor-__stories__-props-spec-stories.9381ba44.iframe.bundle.js
  issue-135/storybook/iframe.html
  issue-135/storybook/index.json
  issue-135/storybook/project.json
  issue-135/storybook/runtime~main.d52b71e9.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-135/storybook/9006.04948e9e.iframe.bundle.js
  issue-135/storybook/element-editor-__stories__-common-spec-stories.13b24d03.iframe.bundle.js
  issue-135/storybook/element-editor-__stories__-props-spec-stories.1ce3d153.iframe.bundle.js
  issue-135/storybook/iframe.html
  issue-135/storybook/index.json
  issue-135/storybook/main.173384b5.iframe.bundle.js
  issue-135/storybook/project.json
  issue-135/storybook/prop-editor-__stories__-object-editor-spec-stories.126bac0f.iframe.bundle.js
  issue-135/storybook/runtime~main.b24db688.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: написал test-object для element-editor
  packages/core/components/element-editor/__stories__/common.spec.stories.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/__stories__/props.spec.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/test-object.ts
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/index.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-135/storybook/9006.28f7673b.iframe.bundle.js
  issue-135/storybook/iframe.html
  issue-135/storybook/project.json
  issue-135/storybook/runtime~main.2fe302d9.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-135/playwright-report/index.html
  issue-135/storybook/iframe.html
  issue-135/storybook/project.json
Due: npm run lint:formatting -- --write

feat: интеграция props-editor в element-editor (#139)
  packages/core/components/element-editor/__stories__/common.spec.stories.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/__stories__/props.spec.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/test-object.ts
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/index.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/test-object.ts
Due: npm run lint:js -- --fix

refactor: реализована моковая версия загрузчика схем
  package-lock.json
  packages/core/.storybook/preview.ts
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/core/components/element-add/element-add.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/index.ts
  packages/core/hooks/use-schema/index.ts
  packages/core/hooks/use-schema/mocked.tsx
  packages/core/hooks/use-schema/use-schema.ts
  packages/mocks/components.ts
  packages/mocks/types.ts
  packages/module-utils/index.ts
  packages/module-utils/load-schema.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-136/storybook/8093.3f742372.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-content-editor-stories.d29f3101.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-add-spec-stories.1659ffa0.iframe.bundle.js
  issue-136/storybook/content-editor-__stories__-integration-element-remove-spec-stories.ec2e089b.iframe.bundle.js
  issue-136/storybook/element-add-__stories__-element-add-stories.658f76ed.iframe.bundle.js
  issue-136/storybook/iframe.html
  issue-136/storybook/main.2dea920d.iframe.bundle.js
  issue-136/storybook/project.json
  issue-136/storybook/runtime~main.d3736b92.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-136/playwright-report/index.html
Due: none

refactor: декоратор который скрывает уведомления отныне общий
  packages/core/.storybook/preview.ts
  packages/core/components/component-remove/__stories__/component-remove.stories.ts
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-remove/__stories__/element-remove.stories.ts
  packages/core/components/page-remove/__stories__/page-remove.stories.ts
Due: npm run lint:js -- --fix

refactor: реализована моковая версия загрузчика схем (#143)
  package-lock.json
  packages/core/.storybook/preview.ts
  packages/core/components/component-remove/__stories__/component-remove.stories.ts
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.tsx
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/core/components/element-add/element-add.tsx
  packages/core/components/element-editor/__stories__/element-editor.stories.tsx
  packages/core/components/element-editor/element-editor.tsx
  packages/core/components/element-editor/index.ts
  packages/core/components/element-remove/__stories__/element-remove.stories.ts
  packages/core/components/page-remove/__stories__/page-remove.stories.ts
  packages/core/hooks/use-schema/index.ts
  packages/core/hooks/use-schema/mocked.tsx
  packages/core/hooks/use-schema/use-schema.ts
  packages/mocks/components.ts
  packages/mocks/types.ts
  packages/module-utils/index.ts
  packages/module-utils/load-schema.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
