Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{yml,json,md}": "prettier --write"
}

Updates
  issue-92/playwright-report/index.html
Due: none

Updates
  issue-92/storybook/iframe.html
  issue-92/storybook/project.json
Due: prettier --write

feat: создан тип json-schema
  .github/workflows/pull-request.yml
  package.json
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.json
  packages/core/components/props-editor/__stories__/schema.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/utils/get-properties-names.spec.ts
  packages/core/components/props-editor/utils/get-properties-names.ts
  packages/types/json-schema.ts
  packages/types/types.ts
Due: eslint --fix, prettier --write

refactor: schem'ы вынесены в отдельный пакет
  package-lock.json
  packages/core/components/props-editor/__stories__/schema.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/core/package.json
  packages/schema/index.ts
  packages/schema/package.json
  packages/schema/types.ts
  packages/schema/utils/get-properties-names.spec.ts
  packages/schema/utils/get-properties-names.ts
  packages/types/types.ts
Due: eslint --fix, prettier --write

Updates
  issue-93/playwright-report/index.html
Due: none

feat: добавлен тип JsonSchema (#95)
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.json
  packages/core/components/props-editor/__stories__/schema.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/core/components/props-editor/utils/get-properties-names.spec.ts
  packages/core/components/props-editor/utils/get-properties-names.ts
  packages/core/package.json
  packages/schema/index.ts
  packages/schema/package.json
  packages/schema/types.ts
  packages/schema/utils/get-properties-names.spec.ts
  packages/schema/utils/get-properties-names.ts
  packages/types/types.ts
Due: eslint --fix, prettier --write

ci: обновление eslint
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
  packages/api-client/http-client.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ci: настройка отдельных нпм-скриптов для линта всех файлов
  .github/workflows/pull-request.yml
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
  packages/api-client/http-client.ts
  packages/core/components/components-list/components-list.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
  main/storybook/props-editor-__stories__-common-test-stories.1507847c.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.3a118118.iframe.bundle.js
  main/storybook/runtime~main.a6cc729d.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-92/storybook/iframe.html
  issue-92/storybook/project.json
  issue-92/storybook/props-editor-__stories__-common-test-stories.1507847c.iframe.bundle.js
  issue-92/storybook/props-editor-__stories__-props-editor-stories.3a118118.iframe.bundle.js
  issue-92/storybook/runtime~main.fbba5239.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-92/playwright-report/index.html
  issue-92/storybook/iframe.html
  issue-92/storybook/project.json
Due: prettier --write

ci: обновление eslint (#94)
  .eslintignore
  .eslintrc.json
  .github/workflows/pull-request.yml
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
  packages/core/components/components-list/components-list.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/8445.d71fb346.iframe.bundle.js
  main/storybook/8445.d71fb346.iframe.bundle.js.LICENSE.txt
  main/storybook/8445.d71fb346.iframe.bundle.js.map
  main/storybook/iframe.html
  main/storybook/project.json
Due: eslint --fix, prettier --write

ci: добавлена проверка на актуальность package-lock.json
  .github/workflows/prepare-environment/action.yml
Due: prettier --write

chore: npm audit fix
  .github/workflows/prepare-environment/action.yml
  .github/workflows/pull-request.yml
  package-lock.json
Due: prettier --write

Updates
  issue-96/storybook/iframe.html
  issue-96/storybook/project.json
Due: prettier --write

chore: react доступен глобально в сторибуке
  packages/core/.storybook/preview.ts
Due: eslint --fix

Updates
  issue-96/storybook/iframe.html
  issue-96/storybook/main.7809bd5d.iframe.bundle.js
  issue-96/storybook/project.json
Due: eslint --fix, prettier --write

Updates
  issue-96/playwright-report/index.html
Due: none

feat: метод для добавления элемента принимает данные одного элемента
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
  packages/api/modules/elements/__tests__/create.spec.ts
  packages/api/modules/elements/__tests__/mocked-elements-repository.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
Due: eslint --fix

feat: метод для удаления элемента принимает данные одного элемента
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api/modules/elements/__tests__/mocked-elements-repository.ts
  packages/api/modules/elements/__tests__/remove.spec.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
Due: eslint --fix

feat: добавлен метод для патча элементов
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
  packages/api/modules/elements/__tests__/edit.spec.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
  packages/types/elements.ts
  packages/types/types.ts
Due: eslint --fix

Updates
  issue-100/playwright-report/index.html
Due: none

feat(api,api-client): добавлен метод для патча элементов (#101)
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api-client/endpoints/elements/mocked.ts
  packages/api/modules/elements/__tests__/create.spec.ts
  packages/api/modules/elements/__tests__/edit.spec.ts
  packages/api/modules/elements/__tests__/mocked-elements-repository.ts
  packages/api/modules/elements/__tests__/remove.spec.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
  packages/types/elements.ts
  packages/types/types.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.5cbef637.iframe.bundle.js
  main/storybook/project.json
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

feat(core): реализация компонента content
  packages/core/components/content/__stories__/content.stories.ts
  packages/core/components/content/__stories__/render-microfrontends.spec.stories.ts
  packages/core/components/content/content.tsx
  packages/core/components/microfrontend/microfrontend.tsx
  packages/mocks/components.ts
  packages/mocks/elements.ts
Due: eslint --fix
