Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{yml,json,md}": "prettier --write"
}

Updates
  issue-64/playwright-report/index.html
Due: none

feat(core): реализация компонента PagesList (#69)
  .gitignore
  packages/api-client/endpoints/pages/mocked.ts
  packages/core/components/page-add-modal/__stories__/page-add-integration.spec.stories.ts
  packages/core/components/page-add-modal/test-object.ts
  packages/core/components/page-add/__stories__/api.spec.stories.ts
  packages/core/components/page-add/__stories__/callbacks.spec.stories.ts
  packages/core/components/page-add/__stories__/validation.spec.stories.ts
  packages/core/components/page-add/test-object.ts
  packages/core/components/pages-list/__stories__/content.spec.stories.ts
  packages/core/components/pages-list/__stories__/integration-page-add.spec.stories.tsx
  packages/core/components/pages-list/__stories__/pages-list.stories.tsx
  packages/core/components/pages-list/pages-list.module.css
  packages/core/components/pages-list/pages-list.tsx
  packages/core/components/pages-list/test-object.ts
  packages/core/components/pages-list/utils/__tests__/get-children.spec.ts
  packages/core/components/pages-list/utils/__tests__/get-page-href.spec.ts
  packages/core/components/pages-list/utils/__tests__/get-title.spec.ts
  packages/core/components/pages-list/utils/__tests__/is-leaf-or-subtree.spec.ts
  packages/core/components/pages-list/utils/__tests__/pages-to-tree.spec.ts
  packages/core/components/pages-list/utils/get-children.ts
  packages/core/components/pages-list/utils/get-page-href.ts
  packages/core/components/pages-list/utils/get-title.ts
  packages/core/components/pages-list/utils/index.ts
  packages/core/components/pages-list/utils/is-leaf-or-subtree.ts
  packages/core/components/pages-list/utils/pages-to-tree.ts
  packages/mocks/pages.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(core): реализован компонент PageTitle
  packages/core/components/page-title/__stories__/content.spec.stories.ts
  packages/core/components/page-title/__stories__/page-title.stories.ts
  packages/core/components/page-title/index.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/page-title/test-object.ts
  packages/core/components/pages-list/index.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/index.ts
Due: eslint --fix

Updates
  issue-70/playwright-report/index.html
Due: none

feat(core): реализован компонент PageTitle (#74)
  packages/core/components/page-title/__stories__/content.spec.stories.ts
  packages/core/components/page-title/__stories__/page-title.stories.ts
  packages/core/components/page-title/index.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/page-title/test-object.ts
  packages/core/components/pages-list/index.ts
  packages/core/components/pages-list/pages-list.tsx
  packages/core/index.ts
Due: eslint --fix

Updates
  main/storybook/2909.440cdc0c.iframe.bundle.js
  main/storybook/2909.440cdc0c.iframe.bundle.js.LICENSE.txt
  main/storybook/3235.3c462743.iframe.bundle.js
  main/storybook/4476.095d2800.iframe.bundle.js
  main/storybook/4476.095d2800.iframe.bundle.js.LICENSE.txt
  main/storybook/7625.7ac6c369.iframe.bundle.js
  main/storybook/7625.7ac6c369.iframe.bundle.js.LICENSE.txt
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/layout-__stories__-layout-stories.b12d6406.iframe.bundle.js
  main/storybook/main.cfec53ea.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.7b2654f2.iframe.bundle.js
  main/storybook/page-remove-__stories__-page-remove-stories.92d9ea59.iframe.bundle.js
  main/storybook/page-title-__stories__-content-spec-stories.f2a99850.iframe.bundle.js
  main/storybook/page-title-__stories__-page-title-stories.11262d6b.iframe.bundle.js
  main/storybook/pages-list-__stories__-content-spec-stories.87a98b7c.iframe.bundle.js
  main/storybook/pages-list-__stories__-integration-page-add-spec-stories.4d3ffbae.iframe.bundle.js
  main/storybook/pages-list-__stories__-pages-list-stories.f422d9d7.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.4962e70d.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(api): добавлен эндпоинт для получения данных о странице по id
  packages/api-client/api-client.ts
  packages/api-client/endpoints/pages/endpoint.ts
  packages/api-client/endpoints/pages/mocked.ts
  packages/api-client/errors.ts
  packages/api-client/http-client.ts
  packages/api/modules/components/components.controller.ts
  packages/api/modules/pages/__tests__/find-by-id.spec.ts
  packages/api/modules/pages/pages.controller.ts
  packages/api/modules/pages/pages.service.ts
  packages/api/modules/pages/pages.types.ts
Due: eslint --fix

feat(admin): компоненты PagesList и PageTitle добавлены на страницы
  package-lock.json
  packages/admin/package.json
  packages/admin/pages/pages/[id].tsx
  packages/admin/pages/pages/index.tsx
  packages/core/components/layout/layout.tsx
Due: eslint --fix, prettier --write

Updates
  issue-65/playwright-report/index.html
Due: none

feat(admin): компоненты PagesList и PageTitle добавлены на страницы (#75)
  package-lock.json
  packages/admin/package.json
  packages/admin/pages/pages/[id].tsx
  packages/admin/pages/pages/index.tsx
  packages/api-client/api-client.ts
  packages/api-client/endpoints/pages/endpoint.ts
  packages/api-client/endpoints/pages/mocked.ts
  packages/api-client/errors.ts
  packages/api-client/http-client.ts
  packages/api/modules/components/components.controller.ts
  packages/api/modules/pages/__tests__/find-by-id.spec.ts
  packages/api/modules/pages/pages.controller.ts
  packages/api/modules/pages/pages.service.ts
  packages/api/modules/pages/pages.types.ts
  packages/core/components/layout/layout.tsx
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/layout-__stories__-layout-stories.d3ce3b34.iframe.bundle.js
  main/storybook/main.3ee0ce0a.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.04f7da54.iframe.bundle.js
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

feat: для страниц добавлено поле "Название"
  packages/api/migrations/1714254081707-create-pages.ts
  packages/api/modules/pages/page.entity.ts
  packages/core/components/page-add-modal/__stories__/page-add-integration.spec.stories.ts
  packages/core/components/page-add/__stories__/api.spec.stories.ts
  packages/core/components/page-add/__stories__/validation.spec.stories.ts
  packages/core/components/page-add/page-add.tsx
  packages/core/components/page-add/test-object.ts
  packages/core/components/page-remove/__stories__/api.spec.stories.ts
  packages/core/components/page-remove/page-remove.tsx
  packages/core/components/page-title/__stories__/content.spec.stories.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/page-title/test-object.ts
  packages/core/components/pages-list/__stories__/integration-page-add.spec.stories.tsx
  packages/core/components/pages-list/utils/__tests__/get-children.spec.ts
  packages/core/components/pages-list/utils/__tests__/is-leaf-or-subtree.spec.ts
  packages/core/components/pages-list/utils/__tests__/pages-to-tree.spec.ts
  packages/mocks/pages.ts
  packages/types/pages.ts
Due: eslint --fix

Updates
  issue-72/storybook/iframe.html
  issue-72/storybook/page-remove-__stories__-api-spec-stories.1beb6b4c.iframe.bundle.js
  issue-72/storybook/page-remove-__stories__-page-remove-stories.3a2dadc9.iframe.bundle.js
  issue-72/storybook/page-title-__stories__-content-spec-stories.6ae32edd.iframe.bundle.js
  issue-72/storybook/page-title-__stories__-page-title-stories.0a40cebb.iframe.bundle.js
  issue-72/storybook/project.json
  issue-72/storybook/runtime~main.475b16a8.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-72/playwright-report/index.html
Due: none

feat: для страниц добавлено поле "Название" (#76)
  packages/api/migrations/1714254081707-create-pages.ts
  packages/api/modules/pages/page.entity.ts
  packages/core/components/page-add-modal/__stories__/page-add-integration.spec.stories.ts
  packages/core/components/page-add/__stories__/api.spec.stories.ts
  packages/core/components/page-add/__stories__/validation.spec.stories.ts
  packages/core/components/page-add/page-add.tsx
  packages/core/components/page-add/test-object.ts
  packages/core/components/page-remove/__stories__/api.spec.stories.ts
  packages/core/components/page-remove/page-remove.tsx
  packages/core/components/page-title/__stories__/content.spec.stories.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/components/page-title/test-object.ts
  packages/core/components/pages-list/__stories__/integration-page-add.spec.stories.tsx
  packages/core/components/pages-list/utils/__tests__/get-children.spec.ts
  packages/core/components/pages-list/utils/__tests__/is-leaf-or-subtree.spec.ts
  packages/core/components/pages-list/utils/__tests__/pages-to-tree.spec.ts
  packages/mocks/pages.ts
  packages/types/pages.ts
Due: eslint --fix

Updates
  main/storybook/1589.72bb89d2.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.79214529.iframe.bundle.js
  main/storybook/page-add-__stories__-api-spec-stories.2f588d8a.iframe.bundle.js
  main/storybook/page-add-__stories__-callbacks-spec-stories.045c4b0b.iframe.bundle.js
  main/storybook/page-add-__stories__-page-add-stories.d194091f.iframe.bundle.js
  main/storybook/page-add-__stories__-validation-spec-stories.fefb728c.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-integration-spec-stories.3206550a.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-modal-stories.79b22ba9.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.1beb6b4c.iframe.bundle.js
  main/storybook/page-remove-__stories__-page-remove-stories.3a2dadc9.iframe.bundle.js
  main/storybook/page-title-__stories__-content-spec-stories.6ae32edd.iframe.bundle.js
  main/storybook/page-title-__stories__-page-title-stories.0a40cebb.iframe.bundle.js
  main/storybook/pages-list-__stories__-integration-page-add-spec-stories.988841cf.iframe.bundle.js
  main/storybook/pages-list-__stories__-pages-list-stories.55ce3a96.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.4c0236e9.iframe.bundle.js
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

refactor: компонент Microfrontend оперирует понятными сущностями, а не своими
  packages/application/pages/index.tsx
  packages/core/components/components-list/get-component-schema-url.ts
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/import-remote/__tests__/get-base-url.spec.ts
  packages/core/components/microfrontend/import-remote/__tests__/testing-data.ts
  packages/core/components/microfrontend/import-remote/get-base-url.ts
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/core/components/microfrontend/import-remote/index.ts
  packages/core/components/microfrontend/import-remote/types.ts
  packages/core/components/microfrontend/microfrontend.tsx
Due: eslint --fix

Updates
  issue-58/playwright-report/index.html
Due: none

refactor: componentName переименован на name
  packages/api/migrations/1714044117643-create-components.ts
  packages/api/modules/components/component.entity.ts
  packages/application/pages/index.tsx
  packages/core/components/components-add/__stories__/api.spec.stories.ts
  packages/core/components/components-add/__stories__/validation.spec.stories.ts
  packages/core/components/components-add/components-add.tsx
  packages/core/components/components-list/__stories__/api.spec.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/components-remove/__stories__/api.spec.stories.ts
  packages/core/components/components-remove/components-remove.tsx
  packages/core/components/microfrontend/import-remote/__tests__/get-base-url.spec.ts
  packages/core/components/microfrontend/import-remote/get-base-url.ts
  packages/mocks/components.ts
  packages/types/components.ts
Due: eslint --fix

Updates
  issue-58/storybook/components-add-__stories__-api-spec-stories.b82af810.iframe.bundle.js
  issue-58/storybook/components-add-__stories__-components-add-stories.7d638d15.iframe.bundle.js
  issue-58/storybook/components-add-__stories__-validation-spec-stories.a43388b0.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-api-spec-stories.62997a39.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-components-list-stories.009d6ad9.iframe.bundle.js
  issue-58/storybook/components-remove-__stories__-api-spec-stories.c24f65b0.iframe.bundle.js
  issue-58/storybook/components-remove-__stories__-callbacks-spec-stories.91f140e4.iframe.bundle.js
  issue-58/storybook/components-remove-__stories__-components-remove-stories.927468eb.iframe.bundle.js
  issue-58/storybook/iframe.html
  issue-58/storybook/index.json
  issue-58/storybook/main.cc67c578.iframe.bundle.js
  issue-58/storybook/microfrontend-__stories__-microfrontend-stories.c6a3b238.iframe.bundle.js
  issue-58/storybook/microfrontend-__stories__-microfrontend-test-stories.0d5ab4a5.iframe.bundle.js
  issue-58/storybook/project.json
  issue-58/storybook/runtime~main.2f3b1470.iframe.bundle.js
  issue-58/swagger/openapi.json
  issue-58/swagger/redoc-static.html
Due: eslint --fix, prettier --write

refactor: вынес утилиты getBaseUrl и getComponentSchemaUrl в module-utils
  package-lock.json
  packages/core/components/components-list/__stories__/api.spec.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/core/components/microfrontend/import-remote/index.ts
  packages/core/components/microfrontend/index.ts
  packages/core/components/microfrontend/microfrontend.tsx
  packages/module-utils/get-base-url.spec.ts
  packages/module-utils/get-base-url.ts
  packages/module-utils/get-component-schema-url.ts
  packages/module-utils/index.ts
  packages/module-utils/package.json
Due: eslint --fix, prettier --write

Updates
  issue-58/storybook/components-list-__stories__-api-spec-stories.7fa599a6.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-components-list-stories.fa35308c.iframe.bundle.js
  issue-58/storybook/iframe.html
  issue-58/storybook/main.5bb042a3.iframe.bundle.js
  issue-58/storybook/microfrontend-__stories__-microfrontend-stories.81a4e6f4.iframe.bundle.js
  issue-58/storybook/microfrontend-__stories__-microfrontend-test-stories.eeca612b.iframe.bundle.js
  issue-58/storybook/project.json
  issue-58/storybook/runtime~main.0df7fbbf.iframe.bundle.js
Due: eslint --fix, prettier --write

feat: сделал отдельную функцию getCssUrl
  packages/core/components/components-list/__stories__/api.spec.stories.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/microfrontend/microfrontend.tsx
  packages/module-utils/get-css-url.spec.ts
  packages/module-utils/get-css-url.ts
  packages/module-utils/get-schema-url.spec.ts
  packages/module-utils/get-schema-url.ts
  packages/module-utils/index.ts
Due: eslint --fix

Updates
  issue-58/storybook/components-list-__stories__-api-spec-stories.f3f9c38a.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-components-list-stories.5683b338.iframe.bundle.js
  issue-58/storybook/iframe.html
  issue-58/storybook/microfrontend-__stories__-microfrontend-stories.122da0e3.iframe.bundle.js
  issue-58/storybook/microfrontend-__stories__-microfrontend-test-stories.5c03d58d.iframe.bundle.js
  issue-58/storybook/project.json
  issue-58/storybook/runtime~main.f0f19780.iframe.bundle.js
Due: eslint --fix, prettier --write

refactor: компонент ComponentsAdd переименован на ComponentAdd
  packages/core/components/component-add/__stories__/api.spec.stories.ts
  packages/core/components/component-add/__stories__/component-add.stories.ts
  packages/core/components/component-add/__stories__/validation.spec.stories.ts
  packages/core/components/component-add/component-add.tsx
  packages/core/components/component-add/index.ts
  packages/core/components/components-add/index.ts
  packages/core/components/components-list/components-list.tsx
Due: eslint --fix

Updates
  issue-58/storybook/component-add-__stories__-api-spec-stories.4e5e9320.iframe.bundle.js
  issue-58/storybook/component-add-__stories__-component-add-stories.4f867ca0.iframe.bundle.js
  issue-58/storybook/component-add-__stories__-validation-spec-stories.a525bcc7.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-api-spec-stories.a3443447.iframe.bundle.js
  issue-58/storybook/components-list-__stories__-components-list-stories.b6a26ad1.iframe.bundle.js
  issue-58/storybook/iframe.html
  issue-58/storybook/index.json
  issue-58/storybook/main.10b5942c.iframe.bundle.js
  issue-58/storybook/project.json
  issue-58/storybook/runtime~main.227cb61f.iframe.bundle.js
Due: eslint --fix, prettier --write

refactor: компонент ComponentRemove переименован на ComponentRemove
  packages/core/components/component-remove/__stories__/api.spec.stories.ts
  packages/core/components/component-remove/__stories__/callbacks.spec.stories.ts
  packages/core/components/component-remove/__stories__/component-remove.stories.tsx
  packages/core/components/component-remove/component-remove.tsx
  packages/core/components/component-remove/index.ts
  packages/core/components/components-list/components-list.tsx
  packages/core/components/components-remove/index.ts
Due: eslint --fix
