Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

Updates
  issue-163/storybook/280.23001779.iframe.bundle.js
  issue-163/storybook/iframe.html
  issue-163/storybook/index.json
  issue-163/storybook/main.3f039309.iframe.bundle.js
  issue-163/storybook/pages-list-__stories__-screenshot-screenshot-stories.5d09969e.iframe.bundle.js
  issue-163/storybook/project.json
  issue-163/storybook/runtime~main.9932eacf.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-163/storybook/screenshots/actual/pageslist-tests-screenshot--screenshot.png
  issue-163/storybook/screenshots/diff/pageslist-tests-screenshot--screenshot.png
  issue-163/storybook/screenshots/reference/pageslist-tests-screenshot--screenshot.png
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write

Updates
  issue-163/storybook/project.json
Due: npm run lint:formatting -- --write

feat(ci): реализован ответ на ревью в CI (#162)
  .github/workflows/pull-request-review.yml
  .github/workflows/screenshot-approve.yml
  packages/control-freak/cli.ts
  packages/control-freak/request-review.ts
  packages/control-freak/response-review.ts
  packages/control-freak/send-telegram-request.ts
  packages/control-freak/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

fix: парсинг pre тега
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/project.json
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: вывод кнопки апрува
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix

test: проверка ошибки в деплое
  packages/core/.storybook/screenshot-panel/comments.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

Updates
  issue-163/storybook/iframe.html
  issue-163/storybook/main.8b5eb635.iframe.bundle.js
  issue-163/storybook/project.json
  issue-163/storybook/sb-addons/storybook-11/manager-bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: getParsedScreenshots возвращает пустой массив, если коммента с апрувом нет
  packages/core/.storybook/screenshot-panel/comments.ts
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

test: еще одна проверка
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

fix: изменено условие показа кнопки апрува
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
  packages/core/.storybook/screenshoter-config/get-approved-screenshots.ts
Due: npm run lint:js -- --fix

fix: апрувнутые сторисы друг друга не перезаписывают
  packages/core/.storybook/screenshot-panel/screenshot-panel.tsx
Due: npm run lint:js -- --fix

Updates
  issue-163/playwright-report/index.html
  issue-163/storybook/screenshots/report.json
Due: npm run lint:formatting -- --write
