Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

test: e2e-тест для проверки отрисовки микрофронта на стороне сервера (#27)
  .eslintrc.json
  .github/workflows/pull-request.yml
  .gitignore
  .npmrc
  package-lock.json
  package.json
  packages/application/__e2e__/render-microfrontend.test.ts
  packages/application/next-env.d.ts
  packages/application/next.config.js
  packages/application/package.json
  packages/application/pages/index.tsx
  packages/application/tsconfig.json
  playwright.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: prettier --write

test(cli): добавлены недостающие тесты для create-federation-plugin
  packages/cli/config/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/create-federation-plugin.ts
  packages/cli/config/get-federation-plugin-options.ts
Due: eslint --fix

feat(cli): сборщик умеет обрабатывать css
  .lintstagedrc.json
  package-lock.json
  packages/cli/package.json
  packages/cli/webpack.config.ts
  packages/example/components/example/example.css
  packages/example/components/example/example.tsx
Due: eslint --fix, stylelint --fix, prettier --write

refactor(cli): весь конфиг вебпака перенёс в папку webpack
  packages/cli/config/entry/entry.ts
  packages/cli/config/entry/fake-entry.ts
  packages/cli/config/entry/index.ts
  packages/cli/config/plugins/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/create-federation-plugin.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/config/plugins/get-plugins.ts
  packages/cli/config/plugins/index.ts
  packages/cli/config/webpack.config.ts
  packages/cli/lib/index.ts
  packages/cli/run.ts
Due: eslint --fix

feat(cli): для каждого экспорта создаётся своя точка входа
  package-lock.json
  packages/cli/config/plugins/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/create-federation-plugin.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/config/plugins/get-federation-plugins.ts
  packages/cli/config/plugins/get-plugins.ts
  packages/cli/lib/__tests__/decode-package-name.spec.ts
  packages/cli/lib/decode-package-name.ts
  packages/cli/lib/fake-entry.ts
  packages/cli/package.json
Due: eslint --fix, prettier --write

chore(core,application): привёл core и application к сложившимся изменениям
  packages/application/pages/index.tsx
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/__stories__/microfrontend.test.stories.tsx
  packages/core/components/microfrontend/import-remote/import-remote.ts
Due: eslint --fix

Updates
  issue-18/storybook/iframe.html
  issue-18/storybook/project.json
Due: prettier --write

Updates
  issue-18/playwright-report/index.html
Due: none

feat(cli): сборщик умеет обрабатывать css (#30)
  .lintstagedrc.json
  package-lock.json
  packages/application/pages/index.tsx
  packages/cli/config/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/create-federation-plugin.ts
  packages/cli/config/entry/entry.ts
  packages/cli/config/entry/fake-entry.ts
  packages/cli/config/entry/index.ts
  packages/cli/config/plugins/__tests__/create-federation-plugin.spec.ts
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/create-federation-plugin.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/config/plugins/get-federation-plugins.ts
  packages/cli/config/plugins/get-plugins.ts
  packages/cli/config/plugins/index.ts
  packages/cli/config/webpack.config.ts
  packages/cli/lib/__tests__/decode-package-name.spec.ts
  packages/cli/lib/decode-package-name.ts
  packages/cli/lib/fake-entry.ts
  packages/cli/lib/index.ts
  packages/cli/package.json
  packages/cli/run.ts
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/__stories__/microfrontend.test.stories.tsx
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/example/components/example/example.css
  packages/example/components/example/example.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Updates
  main/example/@colibrijs/example/Example/remote.client.js
  main/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  main/example/@colibrijs/example/Example/remote.server.js
  main/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
  main/example/main.js
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/microfrontend-__stories__-microfrontend-stories.6aff17cc.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.9b5bbeb7.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.ebcc6764.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(cli): css собирается в отдельный файл
  package-lock.json
  packages/cli/config/plugins/create-mini-css-extract-plugin.ts
  packages/cli/config/plugins/get-plugins.ts
  packages/cli/config/webpack.config.ts
  packages/cli/package.json
Due: eslint --fix, prettier --write

Updates
  issue-31/example/@colibrijs/example/Example/component.css
  issue-31/example/@colibrijs/example/Example/remote.client.js
  issue-31/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-31/example/@colibrijs/example/Example/remote.server.js
  issue-31/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
  issue-31/example/main.js
  issue-31/example/main.js.LICENSE.txt
  issue-31/example/package.json
Due: eslint --fix, stylelint --fix, prettier --write

ci: исправлена ссылка на environment example
  .github/workflows/deploy-github-pages.yml
Due: prettier --write

Updates
  issue-31/playwright-report/index.html
Due: none

feat(core): микрофронтенды рендерятся с css-файлами
  packages/core/components/microfrontend/__stories__/microfrontend.test.stories.tsx
  packages/core/components/microfrontend/microfrontend.tsx
  packages/example/components/example/example.css
Due: eslint --fix, stylelint --fix, prettier --write

test: e2e тесты для проверки загрузки css на стороне сервера
  package.json
  packages/application/__e2e__/render-microfrontend.test.ts
  packages/application/package.json
  playwright.config.ts
Due: eslint --fix, prettier --write

Updates
  issue-31/example/@colibrijs/example/Example/component.css
Due: stylelint --fix, prettier --write

Updates
  issue-31/storybook/iframe.html
  issue-31/storybook/index.json
  issue-31/storybook/microfrontend-__stories__-microfrontend-stories.6826ec60.iframe.bundle.js
  issue-31/storybook/microfrontend-__stories__-microfrontend-test-stories.85d4e41e.iframe.bundle.js
  issue-31/storybook/project.json
  issue-31/storybook/runtime~main.08676d81.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(cli): на стороне клиента для css используется null лоадер
  packages/cli/config/loaders/css.ts
  packages/cli/config/loaders/get-rules.ts
  packages/cli/config/loaders/index.ts
  packages/cli/config/loaders/javascript.ts
  packages/cli/config/loaders/typescript.ts
  packages/cli/config/webpack.config.ts
Due: eslint --fix

Updates
  issue-31/example/@colibrijs/example/Example/remote.client.js
Due: eslint --fix

Updates
  issue-31/storybook/iframe.html
  issue-31/storybook/project.json
Due: prettier --write

feat(cli): css собирается в отдельный файл (#33)
  .github/workflows/deploy-github-pages.yml
  package-lock.json
  package.json
  packages/application/__e2e__/render-microfrontend.test.ts
  packages/application/package.json
  packages/cli/config/loaders/css.ts
  packages/cli/config/loaders/get-rules.ts
  packages/cli/config/loaders/index.ts
  packages/cli/config/loaders/javascript.ts
  packages/cli/config/loaders/typescript.ts
  packages/cli/config/plugins/create-mini-css-extract-plugin.ts
  packages/cli/config/plugins/get-plugins.ts
  packages/cli/config/webpack.config.ts
  packages/cli/package.json
  packages/core/components/microfrontend/__stories__/microfrontend.test.stories.tsx
  packages/core/components/microfrontend/microfrontend.tsx
  packages/example/components/example/example.css
  playwright.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/microfrontend-__stories__-microfrontend-stories.285aaac2.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.4f8c1843.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.22a4e981.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  main/example/@colibrijs/example/Example/component.css
  main/example/@colibrijs/example/Example/remote.client.js
Due: eslint --fix, stylelint --fix, prettier --write

feat(core): компонент microfrontend принимает корректное название библиотеки в пропсах
  package-lock.json
  packages/application/pages/index.tsx
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/config/webpack.config.ts
  packages/cli/lib/__tests__/decode-package-name.spec.ts
  packages/cli/lib/__tests__/validate-package-json.spec.ts
  packages/cli/lib/decode-package-name.ts
  packages/cli/lib/index.ts
  packages/cli/lib/validate-package-json.ts
  packages/cli/package.json
  packages/core/components/microfrontend/__stories__/microfrontend.stories.ts
  packages/core/components/microfrontend/import-remote/__tests__/get-base-url.spec.ts
  packages/core/components/microfrontend/import-remote/__tests__/testing-data.ts
  packages/core/components/microfrontend/import-remote/get-base-url.ts
  packages/core/components/microfrontend/import-remote/import-remote.ts
  packages/core/components/microfrontend/import-remote/index.ts
  packages/core/components/microfrontend/import-remote/types.ts
  packages/core/components/microfrontend/microfrontend.tsx
  packages/core/package.json
  packages/module-utils/encode-package-name.spec.ts
  packages/module-utils/encode-package-name.ts
  packages/module-utils/index.ts
  packages/module-utils/package.json
Due: eslint --fix, prettier --write

Updates
  issue-32/example/@colibrijs/example/Example/component.css
  issue-32/example/@colibrijs/example/Example/remote.client.js
  issue-32/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-32/example/main.js
  issue-32/example/main.js.LICENSE.txt
  issue-32/example/package.json
Due: eslint --fix, stylelint --fix, prettier --write

test(core): добавлен тест на trailing слеш
  packages/core/components/microfrontend/import-remote/__tests__/get-base-url.spec.ts
  packages/core/components/microfrontend/import-remote/get-base-url.ts
Due: eslint --fix

Updates
  issue-32/storybook/iframe.html
  issue-32/storybook/microfrontend-__stories__-microfrontend-stories.49148515.iframe.bundle.js
  issue-32/storybook/microfrontend-__stories__-microfrontend-test-stories.de11865a.iframe.bundle.js
  issue-32/storybook/project.json
  issue-32/storybook/runtime~main.d5d58dd2.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-32/storybook/iframe.html
  issue-32/storybook/project.json
Due: prettier --write

Updates
  issue-32/example/@colibrijs/example/Example/remote.server.js
  issue-32/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write: (any of: *.css) or (any of: *.{yml,json,md})
