Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js -- --fix",
  "*.css": ["npm run lint:formatting -- --write", "npm run lint:css -- --fix"],
  "*.{yml,json,md}": "npm run lint:formatting -- --write"
}

Updates
  issue-84/playwright-report/index.html
Due: none

feat: получение значений по умолчанию для схем (#111)
  packages/schema/index.ts
  packages/schema/utils/get-default-values.spec.ts
  packages/schema/utils/get-default-values.ts
Due: npm run lint:js -- --fix

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

feat: функция для загрузки схем компонентов
  packages/mocks/components.ts
  packages/mocks/package.json
  packages/mocks/types.ts
  packages/module-utils/index.ts
  packages/module-utils/load-schema.spec.ts
  packages/module-utils/load-schema.ts
  packages/module-utils/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: реализация компонента element-add
  package-lock.json
  packages/core/components/element-add/__stories__/element-add.stories.tsx
  packages/core/components/element-add/element-add.tsx
  packages/schema/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-83/playwright-report/index.html
Due: none

Updates
  issue-83/storybook/2450.35a59288.iframe.bundle.js
  issue-83/storybook/4588.b95b265d.iframe.bundle.js
  issue-83/storybook/4588.b95b265d.iframe.bundle.js.LICENSE.txt
  issue-83/storybook/4623.66a37d4e.iframe.bundle.js
  issue-83/storybook/4909.8819b72a.iframe.bundle.js
  issue-83/storybook/6601.50ee8861.iframe.bundle.js
  issue-83/storybook/8835.5b3f1d3f.iframe.bundle.js
  issue-83/storybook/9791.4f0b532a.iframe.bundle.js
  issue-83/storybook/9791.4f0b532a.iframe.bundle.js.map
  issue-83/storybook/988.0804853b.iframe.bundle.js
  issue-83/storybook/component-remove-__stories__-api-spec-stories.26988615.iframe.bundle.js
  issue-83/storybook/component-remove-__stories__-callbacks-spec-stories.7248a48c.iframe.bundle.js
  issue-83/storybook/component-remove-__stories__-component-remove-stories.ad3670f1.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-components-select-spec-stories.4680adbf.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-element-add-stories.3a4bd87f.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-on-close-spec-stories.e9bc49cc.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-on-ready-spec-stories.c89573e7.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-visibility-spec-stories.46a51b2b.iframe.bundle.js
  issue-83/storybook/iframe.html
  issue-83/storybook/index.json
  issue-83/storybook/layout-__stories__-layout-stories.250e4c76.iframe.bundle.js
  issue-83/storybook/main.0480fce9.iframe.bundle.js
  issue-83/storybook/page-remove-__stories__-api-spec-stories.3b4a19f0.iframe.bundle.js
  issue-83/storybook/page-remove-__stories__-page-remove-stories.0200fabd.iframe.bundle.js
  issue-83/storybook/page-title-__stories__-content-spec-stories.c370e578.iframe.bundle.js
  issue-83/storybook/page-title-__stories__-page-title-stories.381fcd20.iframe.bundle.js
  issue-83/storybook/project.json
  issue-83/storybook/runtime~main.f65bf5b2.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: тесты для компонента element-add
  package-lock.json
  packages/core/components/element-add/__stories__/components-select.spec.stories.ts
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/core/components/element-add/__stories__/on-close.spec.stories.ts
  packages/core/components/element-add/__stories__/on-ready.spec.stories.ts
  packages/core/components/element-add/__stories__/visibility.spec.stories.ts
  packages/core/components/element-add/element-add.tsx
  packages/core/components/element-add/index.ts
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-83/storybook/6601.0f6e7968.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-components-select-spec-stories.d28bd9cf.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-on-ready-spec-stories.2e03efe9.iframe.bundle.js
  issue-83/storybook/iframe.html
  issue-83/storybook/project.json
  issue-83/storybook/runtime~main.f01dba9a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: замокал загрузку схем
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/module-utils/load-schema.spec.ts
  packages/module-utils/mocked.ts
Due: npm run lint:js -- --fix

Updates
  issue-83/storybook/1805.1255288f.iframe.bundle.js
  issue-83/storybook/9630.9c2c51ed.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-element-add-stories.ffc92ba3.iframe.bundle.js
  issue-83/storybook/iframe.html
  issue-83/storybook/main.17b34dc1.iframe.bundle.js
  issue-83/storybook/project.json
  issue-83/storybook/runtime~main.3f7eacb2.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

refactor: isVisible теперь синхронный
  packages/core/components/element-add/__stories__/visibility.spec.stories.ts
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-83/storybook/1805.92549849.iframe.bundle.js
  issue-83/storybook/element-add-__stories__-visibility-spec-stories.172ea9f6.iframe.bundle.js
  issue-83/storybook/iframe.html
  issue-83/storybook/project.json
  issue-83/storybook/runtime~main.a351782d.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat(core): реализация компонента element-add (#113)
  package-lock.json
  packages/core/components/element-add/__stories__/components-select.spec.stories.ts
  packages/core/components/element-add/__stories__/element-add.stories.ts
  packages/core/components/element-add/__stories__/on-close.spec.stories.ts
  packages/core/components/element-add/__stories__/on-ready.spec.stories.ts
  packages/core/components/element-add/__stories__/visibility.spec.stories.ts
  packages/core/components/element-add/element-add.tsx
  packages/core/components/element-add/index.ts
  packages/core/components/element-add/test-object.ts
  packages/mocks/components.ts
  packages/mocks/package.json
  packages/mocks/types.ts
  packages/module-utils/index.ts
  packages/module-utils/load-schema.spec.ts
  packages/module-utils/load-schema.ts
  packages/module-utils/mocked.ts
  packages/module-utils/package.json
  packages/schema/types.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-112/playwright-report/index.html
Due: none

feat: начало положено
  packages/core/components/prop-editor/components/object-editor.tsx
  packages/schema/types.ts
Due: npm run lint:js -- --fix

feat: создан primitive-editor компонент
  packages/core/components/prop-editor/components/primitive-editor.tsx
  packages/schema/index.ts
  packages/schema/types.ts
Due: npm run lint:js -- --fix

feat: переделан object-editor
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/components/layout.module.css
  packages/core/components/prop-editor/components/object-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: добавлена поддержка объектов для getDefaultValues
  packages/schema/utils/get-default-values.ts
Due: npm run lint:js -- --fix

fix: мелкие правки по верстке
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
Due: npm run lint:js -- --fix

feat: добавлены тесты на primitive и object editor'ы
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/primitive-editor.spec.stories.tsx
  packages/core/components/prop-editor/components/object-editor.tsx
  packages/core/components/prop-editor/test-object.ts
Due: npm run lint:js -- --fix

Updates
  issue-112/storybook/iframe.html
  issue-112/storybook/project.json
Due: npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/components/object-editor.module.css
  packages/core/components/prop-editor/components/object-editor.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/prop-editor/types.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/schema/types.ts
  packages/schema/utils/get-properties-names.spec.ts
  packages/schema/utils/get-properties-names.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

fix: фикс props-editor тестов
  packages/core/components/prop-editor/components/boolean-editor.tsx
  packages/core/components/prop-editor/components/number-editor.tsx
  packages/core/components/prop-editor/components/string-editor.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
Due: npm run lint:js -- --fix

fix: types
  packages/schema/types.ts
Due: npm run lint:js -- --fix

Updates
  issue-112/storybook/6070.273f2e33.iframe.bundle.js
  issue-112/storybook/iframe.html
  issue-112/storybook/main.05eaf390.iframe.bundle.js
  issue-112/storybook/project.json
  issue-112/storybook/prop-editor-__stories__-boolean-editor-spec-stories.7bf9d327.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-number-editor-spec-stories.c77ff31d.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-object-editor-spec-stories.a14ae929.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-primitive-editor-spec-stories.fd1f0922.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-prop-editor-stories.6fb210e9.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-string-editor-spec-stories.0a99044e.iframe.bundle.js
  issue-112/storybook/props-editor-__stories__-common-test-stories.7b159f04.iframe.bundle.js
  issue-112/storybook/props-editor-__stories__-props-editor-stories.1ed173df.iframe.bundle.js
  issue-112/storybook/runtime~main.1c089840.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/components/prop-editor/__stories__/boolean-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/primitive-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/schema/utils/get-default-values.spec.ts
Due: npm run lint:js -- --fix

Updates
  issue-112/storybook/iframe.html
  issue-112/storybook/index.json
  issue-112/storybook/main.d52a6925.iframe.bundle.js
  issue-112/storybook/project.json
  issue-112/storybook/prop-editor-__stories__-boolean-editor-spec-stories.aa45054e.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-number-editor-spec-stories.a628003c.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-object-editor-spec-stories.cf00b311.iframe.bundle.js
  issue-112/storybook/prop-editor-__stories__-string-editor-spec-stories.4bc4776f.iframe.bundle.js
  issue-112/storybook/props-editor-__stories__-common-test-stories.f1fe6a30.iframe.bundle.js
  issue-112/storybook/props-editor-__stories__-props-editor-stories.41a66c72.iframe.bundle.js
  issue-112/storybook/runtime~main.8168474a.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

fix: правки после ревью
  packages/core/components/prop-editor/__stories__/boolean-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/number-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/object-editor.spec.stories.tsx
  packages/core/components/prop-editor/__stories__/string-editor.spec.stories.tsx
  packages/core/components/prop-editor/test-object.ts
  packages/schema/utils/get-default-values.spec.ts
  packages/schema/utils/get-default-values.ts
Due: npm run lint:js -- --fix
