Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

ci: сторибук деплоится с ветки, а не с артифакта
  .github/workflows/deploy-github-pages.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .github/workflows/put-artifact-to-github-pages/action.yml
  package-lock.json
  package.json
Due: prettier --write

Updates
  issue-28/storybook/iframe.html
  issue-28/storybook/project.json
Due: prettier --write

Updates
  issue-28/example/@colibrijs/example/remote.client.js
  issue-28/example/@colibrijs/example/remote.client.js.LICENSE.txt
  issue-28/example/@colibrijs/example/remote.server.js
  issue-28/example/@colibrijs/example/remote.server.js.LICENSE.txt
  issue-28/example/main.js
  issue-28/example/main.js.LICENSE.txt
  issue-28/example/package.json
Due: eslint --fix, prettier --write

fix: исправлена досадная ошибка у wait-storybook
  packages/wait-storybook/cli.ts
Due: eslint --fix

Updates
  .nojekyll
  issue-28/example/@colibrijs/example/remote.client.js
  issue-28/example/@colibrijs/example/remote.client.js.LICENSE.txt
  issue-28/example/@colibrijs/example/remote.server.js
  issue-28/example/@colibrijs/example/remote.server.js.LICENSE.txt
  issue-28/example/main.js
  issue-28/example/main.js.LICENSE.txt
  issue-28/example/package.json
Due: eslint --fix, prettier --write

chore: для stylelint разрешен запуск без файлов
  package.json
Due: prettier --write

chore: исправлена ссылка на artifact
  .github/workflows/put-artifact-to-github-pages/action.yml
Due: prettier --write

ci: удаление всего из сторибука, что относится к пулл-реквесту
  .github/workflows/pull-request-closed.yml
Due: prettier --write

ci: сторибук деплоится с ветки, а не с артифакта (#29)
  .github/workflows/deploy-github-pages.yml
  .github/workflows/main.yml
  .github/workflows/pull-request-closed.yml
  .github/workflows/pull-request.yml
  .github/workflows/put-artifact-to-github-pages/action.yml
  package-lock.json
  package.json
  packages/wait-storybook/cli.ts
Due: eslint --fix, prettier --write

ci: настройка playwright
  .eslintrc.json
  .gitignore
  .npmrc
  package-lock.json
  package.json
  packages/admin/.gitignore
  packages/admin/__e2e__/render-microfrontend.test.ts
  packages/admin/next-env.d.ts
  packages/admin/next.config.js
  packages/admin/package.json
  packages/admin/pages/index.tsx
  packages/admin/tsconfig.json
  playwright.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ci: настройка запуска e2e-тестов
  .github/workflows/pull-request.yml
  .gitignore
  packages/admin/.gitignore
  tsconfig.json
Due: prettier --write

Updates
  main/example/@colibrijs/example/remote.client.js
  main/example/@colibrijs/example/remote.client.js.LICENSE.txt
  main/example/@colibrijs/example/remote.server.js
  main/example/@colibrijs/example/remote.server.js.LICENSE.txt
  main/example/main.js
  main/example/main.js.LICENSE.txt
  main/example/package.json
Due: eslint --fix, prettier --write

ci: деплой playwright report на github pages
  .eslintrc.json
  .github/workflows/pull-request.yml
  .gitignore
  package-lock.json
  package.json
  packages/application/__e2e__/render-microfrontend.test.ts
  packages/application/next-env.d.ts
  packages/application/next.config.js
  packages/application/package.json
  packages/application/pages/index.tsx
  packages/application/tsconfig.json
  playwright.config.ts
Due: eslint --fix, prettier --write

Updates
  issue-25/example/@colibrijs/example/remote.client.js
  issue-25/example/@colibrijs/example/remote.client.js.LICENSE.txt
  issue-25/example/@colibrijs/example/remote.server.js
  issue-25/example/@colibrijs/example/remote.server.js.LICENSE.txt
  issue-25/example/main.js
  issue-25/example/main.js.LICENSE.txt
  issue-25/example/package.json
Due: eslint --fix, prettier --write

Updates
  issue-25/playwright-report/index.html
Due: none

Updates
  issue-18/example/@colibrijs/example/remote.client.js
  issue-18/example/@colibrijs/example/remote.client.js.LICENSE.txt
  issue-18/example/@colibrijs/example/remote.server.js
  issue-18/example/@colibrijs/example/remote.server.js.LICENSE.txt
  issue-18/example/_colibrijs__example.css
  issue-18/example/main.js
  issue-18/example/main.js.LICENSE.txt
  issue-18/example/package.json
Due: eslint --fix, stylelint --fix, prettier --write

Updates
  issue-18/playwright-report/index.html
Due: none

Updates
  issue-18/example/@colibrijs/example/remote.client.js
  issue-18/example/@colibrijs/example/remote.server.js
Due: eslint --fix

Updates
  issue-18/storybook/iframe.html
  issue-18/storybook/project.json
Due: prettier --write

Updates
  issue-18/example/@colibrijs/example/Example/remote.client.js
  issue-18/example/@colibrijs/example/Example/remote.client.js.LICENSE.txt
  issue-18/example/@colibrijs/example/Example/remote.server.js
  issue-18/example/@colibrijs/example/Example/remote.server.js.LICENSE.txt
  issue-18/example/main.js
Due: eslint --fix

Updates
  issue-18/storybook/iframe.html
  issue-18/storybook/microfrontend-__stories__-microfrontend-stories.15b72dfd.iframe.bundle.js
  issue-18/storybook/microfrontend-__stories__-microfrontend-test-stories.832a488f.iframe.bundle.js
  issue-18/storybook/project.json
  issue-18/storybook/runtime~main.836f2e07.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-18/example/@colibrijs/example/Example/remote.client.js
  issue-18/example/@colibrijs/example/Example/remote.server.js
Due: eslint --fix

Updates
  issue-10/example/@colibrijs/example/remote.client.js
  issue-10/example/@colibrijs/example/remote.client.js.LICENSE.txt
  issue-10/example/@colibrijs/example/remote.server.js
  issue-10/example/@colibrijs/example/remote.server.js.LICENSE.txt
  issue-10/example/main.js
  issue-10/example/main.js.LICENSE.txt
  issue-10/example/package.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write: (any of: *.css) or (any of: *.{yml,json,md})
