Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: попытка запустить тесты №2
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
Due: npm run lint:formatting -- --write

feat: попытка запустить тесты №3
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

refactor(core): удаление компонента content-editor-layout
  packages/core/components/content-editor-layout/__stories__/content-editor-layout.stories.ts
  packages/core/components/content-editor-layout/__stories__/content-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/content-editor-layout.module.css
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor-layout/test-object.ts
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/tree-content.spec.stories.ts
  packages/core/components/content-editor/content-editor.module.css
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: попытка запустить тесты №4
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Updates
  issue-117/playwright-report/index.html
Due: none

feat(core): добавлен компонент ElementAdd в ContentEditor
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix

Updates
  feat/115/playwright-report/index.html
Due: none

feat: попытка запустить тесты №5
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

feat: попытка запустить тесты №6
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

fix: удалил никому ненужный код
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

fix: правки после ревью
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
  packages/core/package.json
Due: npm run lint:formatting -- --write

fix: правки после ревью №2
  .github/workflows/pull-request.yml
  packages/core/package.json
Due: npm run lint:formatting -- --write

Updates
  issue-119/playwright-report/index.html
  issue-119/storybook/iframe.html
  issue-119/storybook/project.json
Due: npm run lint:formatting -- --write

feat: интерактивные тесты в CI запускаются на локальном сторибуке (#121)
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
  packages/core/package.json
Due: npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: npm run lint:formatting -- --write

chore: добавлено сообщение об успешном/неудачном добавлении елемента
  packages/core/components/content-editor/content-editor.tsx
Due: npm run lint:js -- --fix

Updates
  feat/115/playwright-report/index.html
  feat/115/storybook/176.9027f929.iframe.bundle.js
  feat/115/storybook/176.9027f929.iframe.bundle.js.LICENSE.txt
  feat/115/storybook/1915.4ab5a2b1.iframe.bundle.js
  feat/115/storybook/2466.04311526.iframe.bundle.js
  feat/115/storybook/261.2a4e7e05.iframe.bundle.js
  feat/115/storybook/3609.2c1111cc.iframe.bundle.js
  feat/115/storybook/5362.281ef61c.iframe.bundle.js
  feat/115/storybook/5808.a20a61ea.iframe.bundle.js
  feat/115/storybook/705.8762262d.iframe.bundle.js
  feat/115/storybook/9118.4e4ebdb8.iframe.bundle.js
  feat/115/storybook/component-remove-__stories__-api-spec-stories.60f4514c.iframe.bundle.js
  feat/115/storybook/component-remove-__stories__-callbacks-spec-stories.9e7e56e0.iframe.bundle.js
  feat/115/storybook/component-remove-__stories__-component-remove-stories.8e839d77.iframe.bundle.js
  feat/115/storybook/element-remove-__stories__-api-spec-stories.f226a2a8.iframe.bundle.js
  feat/115/storybook/element-remove-__stories__-element-remove-stories.83515309.iframe.bundle.js
  feat/115/storybook/iframe.html
  feat/115/storybook/main.2f00791c.iframe.bundle.js
  feat/115/storybook/page-add-__stories__-api-spec-stories.d1651749.iframe.bundle.js
  feat/115/storybook/page-add-__stories__-callbacks-spec-stories.d3bbc5eb.iframe.bundle.js
  feat/115/storybook/page-add-__stories__-page-add-stories.f2edf5d0.iframe.bundle.js
  feat/115/storybook/page-add-__stories__-validation-spec-stories.638075a3.iframe.bundle.js
  feat/115/storybook/page-add-modal-__stories__-page-add-integration-spec-stories.c8b80c36.iframe.bundle.js
  feat/115/storybook/page-add-modal-__stories__-page-add-modal-stories.f32d3b76.iframe.bundle.js
  feat/115/storybook/page-remove-__stories__-api-spec-stories.4a54a472.iframe.bundle.js
  feat/115/storybook/page-remove-__stories__-page-remove-stories.203a4478.iframe.bundle.js
  feat/115/storybook/page-title-__stories__-content-spec-stories.d0b80edd.iframe.bundle.js
  feat/115/storybook/page-title-__stories__-page-title-stories.85ccdc99.iframe.bundle.js
  feat/115/storybook/pages-list-__stories__-content-spec-stories.f3e25580.iframe.bundle.js
  feat/115/storybook/pages-list-__stories__-integration-page-add-spec-stories.988841cf.iframe.bundle.js
  feat/115/storybook/pages-list-__stories__-pages-list-stories.d84a355b.iframe.bundle.js
  feat/115/storybook/project.json
  feat/115/storybook/runtime~main.23a2e31f.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: добавлен зародыш будущего скриншот-теста
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
Due: npm run lint:js -- --fix

ci: example деплоится до запуска тестов
  .github/workflows/deploy-github-pages.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Due: npm run lint:formatting -- --write

Updates
  issue-124/playwright-report/index.html
Due: none

feat: добавлен зародыш будущего скриншот-теста (#126)
  .github/workflows/deploy-github-pages.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  packages/core/components/page-title/__stories__/screenshot/screenshot.stories.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.17e99b96.iframe.bundle.js
  main/storybook/page-title-__stories__-screenshot-screenshot-stories.21c20062.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.e546ac13.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-115/playwright-report/index.html
Due: none

test: бекап по тесту с модалкой
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/element-add/element-add.tsx
Due: npm run lint:js -- --fix

feat: начальная настройка скриншот-тестов
  eslint.config.js
  package-lock.json
  package.json
  packages/core/.storybook/test-runner.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: добавлен тест HidesOnAdded
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/element-add/test-object.ts
Due: npm run lint:js -- --fix

test: добавлен тест HidesOnAdded
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
Due: npm run lint:js -- --fix

feat: немного оптимизации, деление скринов по папкам
  package-lock.json
  package.json
  packages/core/.storybook/main.ts
  packages/core/.storybook/test-runner.ts
  packages/core/components/page-title/page-title.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: переписал решение на стримы в надежде на ускорение
  package-lock.json
  package.json
  packages/core/.storybook/test-runner.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
