Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-79/playwright-report/index.html
Due: none

feat: добавлен тип number для инпутов в props-editor
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/components/props-editor/__stories__/schema.ts
  packages/core/components/props-editor/props-editor.tsx
  packages/schema/index.ts
  packages/schema/types.ts
  packages/schema/utils/get-properties-names.ts
Due: npm run lint:js -- --fix

feat: добавил тест на проверку type-аттрибута у инпутов
  packages/core/components/props-editor/__stories__/common.test.stories.tsx
  packages/core/components/props-editor/props-editor.tsx
Due: npm run lint:js -- --fix

Updates
  issue-98/playwright-report/index.html
Due: none

feat(core): реализация компонента content (#102)
  packages/core/components/content/__stories__/content.stories.ts
  packages/core/components/content/__stories__/render-microfrontends.spec.stories.ts
  packages/core/components/content/content.tsx
  packages/core/components/microfrontend/microfrontend.tsx
  packages/mocks/components.ts
  packages/mocks/elements.ts
Due: npm run lint:js -- --fix

Updates
  main/storybook/component-add-__stories__-api-spec-stories.edeebcb7.iframe.bundle.js
  main/storybook/component-add-__stories__-validation-spec-stories.2df0e35a.iframe.bundle.js
  main/storybook/component-remove-__stories__-api-spec-stories.290501f3.iframe.bundle.js
  main/storybook/component-remove-__stories__-callbacks-spec-stories.f73aa77a.iframe.bundle.js
  main/storybook/component-remove-__stories__-component-remove-stories.8ed4eefa.iframe.bundle.js
  main/storybook/components-list-__stories__-api-spec-stories.2a619624.iframe.bundle.js
  main/storybook/content-__stories__-content-stories.8cdbb116.iframe.bundle.js
  main/storybook/content-__stories__-render-microfrontends-spec-stories.c21a4853.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.4102d4ee.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-stories.cb87a160.iframe.bundle.js
  main/storybook/microfrontend-__stories__-microfrontend-test-stories.d57e67e2.iframe.bundle.js
  main/storybook/project.json
  main/storybook/runtime~main.4564a3b7.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat(application): базовая реализация загрузки контента
  packages/api/modules/elements/element.entity.ts
  packages/application/next.config.js
  packages/application/package.json
  packages/application/pages/[[...slug]].tsx
  packages/application/pages/index.tsx
  packages/application/tsconfig.json
  packages/core/components/content/index.ts
  packages/core/index.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: контент загружается только для указанной страницы
  .env
  package-lock.json
  package.json
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api/modules/elements/__tests__/find.spec.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
  packages/application/__e2e__/render-content.test.ts
  packages/application/package.json
  packages/application/pages/[[...slug]].tsx
  packages/application/tsconfig.json
  packages/mocks/elements.ts
  playwright.config.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-104/playwright-report/index.html
Due: none

feat: загрузка контента на страницах приложения (#105)
  .env
  package-lock.json
  package.json
  packages/api-client/endpoints/elements/endpoint.ts
  packages/api/modules/elements/__tests__/find.spec.ts
  packages/api/modules/elements/element.entity.ts
  packages/api/modules/elements/elements.controller.ts
  packages/api/modules/elements/elements.service.ts
  packages/api/modules/elements/elements.types.ts
  packages/application/__e2e__/render-content.test.ts
  packages/application/next.config.js
  packages/application/package.json
  packages/application/pages/[[...slug]].tsx
  packages/application/pages/index.tsx
  packages/application/tsconfig.json
  packages/core/components/content/index.ts
  packages/core/index.ts
  packages/mocks/elements.ts
  playwright.config.ts
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  main/storybook/iframe.html
  main/storybook/main.b946eada.iframe.bundle.js
  main/storybook/project.json
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

Updates
  issue-82/playwright-report/index.html
Due: none

feat(core): реализация layout'a для редактора контента
  eslint.config.js
  package-lock.json
  packages/core/components/content-editor-layout/__stories__/content-editor-layout.stories.ts
  packages/core/components/content-editor-layout/__stories__/content-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor.spec.stories.ts
  packages/core/components/content-editor-layout/content-editor-layout.module.css
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor-layout/test-object.ts
  packages/core/components/layout/index.ts
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-82/storybook/iframe.html
  issue-82/storybook/project.json
Due: npm run lint:formatting -- --write

feat: перевел content-editor-layout с drawer на layout
  packages/core/components/content-editor-layout/__stories__/content-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor.spec.stories.ts
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor-layout/test-object.ts
  packages/core/components/layout/index.ts
  packages/core/components/layout/layout.module.css
  packages/core/components/layout/layout.tsx
  packages/core/components/layout/sidebar.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-82/storybook/516.86a9640c.iframe.bundle.js
  issue-82/storybook/5395.b49c5db2.iframe.bundle.js
  issue-82/storybook/6189.2df3d952.iframe.bundle.js
  issue-82/storybook/7625.ea7f9a5a.iframe.bundle.js
  issue-82/storybook/7625.ea7f9a5a.iframe.bundle.js.LICENSE.txt
  issue-82/storybook/component-remove-__stories__-component-remove-stories.a8d5e56a.iframe.bundle.js
  issue-82/storybook/content-editor-layout-__stories__-content-editor-layout-stories.0a55ebd7.iframe.bundle.js
  issue-82/storybook/content-editor-layout-__stories__-content-loading-states-spec-stories.8d5364dd.iframe.bundle.js
  issue-82/storybook/content-editor-layout-__stories__-editor-loading-states-spec-stories.4484d4f0.iframe.bundle.js
  issue-82/storybook/iframe.html
  issue-82/storybook/index.json
  issue-82/storybook/layout-__stories__-layout-stories.63b2ba2a.iframe.bundle.js
  issue-82/storybook/main.b6d5e34c.iframe.bundle.js
  issue-82/storybook/page-remove-__stories__-api-spec-stories.54f208bc.iframe.bundle.js
  issue-82/storybook/page-remove-__stories__-page-remove-stories.a16d3879.iframe.bundle.js
  issue-82/storybook/page-title-__stories__-content-spec-stories.40246648.iframe.bundle.js
  issue-82/storybook/page-title-__stories__-page-title-stories.290f4759.iframe.bundle.js
  issue-82/storybook/pages-list-__stories__-pages-list-stories.7e3d19f0.iframe.bundle.js
  issue-82/storybook/project.json
  issue-82/storybook/props-editor-__stories__-common-test-stories.f9f84352.iframe.bundle.js
  issue-82/storybook/props-editor-__stories__-props-editor-stories.c39ee2c3.iframe.bundle.js
  issue-82/storybook/runtime~main.45ce1e82.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

test: исправлены тесты состояний редактора
  packages/core/components/content-editor-layout/content-editor-layout.tsx
Due: npm run lint:js -- --fix

Updates
  issue-82/storybook/content-editor-layout-__stories__-content-editor-layout-stories.7e5b3f85.iframe.bundle.js
  issue-82/storybook/iframe.html
  issue-82/storybook/project.json
  issue-82/storybook/runtime~main.8360235e.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat(core): реализация layout'a для редактора контента (#106)
  eslint.config.js
  package-lock.json
  packages/core/components/content-editor-layout/__stories__/content-editor-layout.stories.ts
  packages/core/components/content-editor-layout/__stories__/content-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/__stories__/editor-loading-states.spec.stories.ts
  packages/core/components/content-editor-layout/content-editor-layout.module.css
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor-layout/test-object.ts
  packages/core/components/layout/layout.module.css
  packages/core/components/layout/layout.tsx
  packages/core/components/layout/sidebar.tsx
  packages/core/package.json
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

feat: базовая реализация content-editor
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-remove.spec.stories.ts
  packages/core/components/content-editor/__stories__/tree-content.spec.stories.ts
  packages/core/components/content-editor/content-editor.module.css
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/index.ts
  packages/core/components/content-editor/test-object.ts
  packages/core/components/layout/sidebar-decorator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  issue-107/playwright-report/index.html
Due: none

feat(core): базовая реализация content-editor (#109)
  packages/core/components/content-editor-layout/content-editor-layout.tsx
  packages/core/components/content-editor/__stories__/content-editor.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-add.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-editor.spec.stories.ts
  packages/core/components/content-editor/__stories__/integration-element-remove.spec.stories.ts
  packages/core/components/content-editor/__stories__/tree-content.spec.stories.ts
  packages/core/components/content-editor/content-editor.module.css
  packages/core/components/content-editor/content-editor.tsx
  packages/core/components/content-editor/index.ts
  packages/core/components/content-editor/test-object.ts
  packages/core/components/layout/sidebar-decorator.tsx
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write, npm run lint:css -- --fix

Updates
  main/storybook/2465.302e4574.iframe.bundle.js
  main/storybook/2465.302e4574.iframe.bundle.js.LICENSE.txt
  main/storybook/3396.2d06c631.iframe.bundle.js
  main/storybook/3396.2d06c631.iframe.bundle.js.LICENSE.txt
  main/storybook/4514.30156d31.iframe.bundle.js
  main/storybook/5165.4bbe989b.iframe.bundle.js
  main/storybook/5561.7bcb006b.iframe.bundle.js
  main/storybook/5808.a20a61ea.iframe.bundle.js
  main/storybook/8130.f79c7a88.iframe.bundle.js
  main/storybook/8130.f79c7a88.iframe.bundle.js.LICENSE.txt
  main/storybook/8561.671999d4.iframe.bundle.js
  main/storybook/9868.087a2096.iframe.bundle.js
  main/storybook/component-remove-__stories__-component-remove-stories.1240909c.iframe.bundle.js
  main/storybook/content-__stories__-render-microfrontends-spec-stories.e41b186f.iframe.bundle.js
  main/storybook/content-editor-__stories__-content-editor-stories.e7b79f51.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-add-spec-stories.83e978da.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-editor-spec-stories.5b8431a5.iframe.bundle.js
  main/storybook/content-editor-__stories__-integration-element-remove-spec-stories.fc8c37d4.iframe.bundle.js
  main/storybook/content-editor-__stories__-tree-content-spec-stories.4efe1ad3.iframe.bundle.js
  main/storybook/content-editor-layout-__stories__-content-editor-layout-stories.6c2f7eb3.iframe.bundle.js
  main/storybook/content-editor-layout-__stories__-content-loading-states-spec-stories.9277fa93.iframe.bundle.js
  main/storybook/content-editor-layout-__stories__-editor-loading-states-spec-stories.aa9b1813.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.e32cbf27.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-integration-spec-stories.2f988180.iframe.bundle.js
  main/storybook/page-add-modal-__stories__-page-add-modal-stories.da9c317a.iframe.bundle.js
  main/storybook/page-remove-__stories__-api-spec-stories.b7004bde.iframe.bundle.js
  main/storybook/page-remove-__stories__-page-remove-stories.0200fabd.iframe.bundle.js
  main/storybook/page-title-__stories__-content-spec-stories.ae2b6933.iframe.bundle.js
  main/storybook/page-title-__stories__-page-title-stories.bbe1de00.iframe.bundle.js
  main/storybook/pages-list-__stories__-pages-list-stories.df6c8bb8.iframe.bundle.js
  main/storybook/project.json
  main/storybook/props-editor-__stories__-common-test-stories.9fbae03e.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.dc2feee2.iframe.bundle.js
  main/storybook/runtime~main.c8de9a89.iframe.bundle.js
Due: npm run lint:js -- --fix, npm run lint:formatting -- --write

feat: создан компонент prop-editor со string & number editor'ами
  packages/core/components/prop-editor/__stories__/prop-editor.stories.tsx
  packages/core/components/prop-editor/prop-editor.tsx
  packages/core/components/prop-editor/types/number-editor.tsx
  packages/core/components/prop-editor/types/string-editor.tsx
  packages/core/components/props-editor/props-editor.tsx
  packages/schema/index.ts
  packages/schema/type-guards.ts
  packages/schema/types.ts
Due: npm run lint:js -- --fix

Updates
  issue-98/storybook/iframe.html
  issue-98/storybook/project.json
Due: npm run lint:formatting -- --write

Path conditions:
  npm run lint:js -- --fix: any of: *.{ts,tsx,js,jsx}
  npm run lint:formatting -- --write: (any of: *.css) or (any of: *.{yml,json,md})
  npm run lint:css -- --fix: any of: *.css
