Repository Colibrijs/colibrijs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.css": ["prettier --write", "stylelint --fix"],
  "*.{yml,json,md}": "prettier --write"
}

feat(cli): схема компонента собирается в файлик schema.json (#53)
  package-lock.json
  packages/cli/config/plugins/__tests__/get-federation-plugin-options.spec.ts
  packages/cli/config/plugins/get-federation-plugin-options.ts
  packages/cli/lib/__tests__/build-component-schema.spec.ts
  packages/cli/lib/__tests__/get-export-output-directory.spec.ts
  packages/cli/lib/build-component-schema.ts
  packages/cli/lib/build-schemas.ts
  packages/cli/lib/get-export-output-directory.ts
  packages/cli/lib/index.ts
  packages/cli/package.json
  packages/cli/run.ts
  packages/core/components/microfrontend/import-remote/types.ts
  packages/core/components/microfrontend/microfrontend.tsx
  packages/example/components/example/example.tsx
  packages/example/components/example/index.ts
  packages/example/components/example/schema.ts
  packages/types/package.json
  packages/types/types.ts
Due: eslint --fix, prettier --write

Updates
  main/storybook/iframe.html
  main/storybook/project.json
Due: prettier --write

feat(core): реализация компонента Layout
  packages/core/components/layout/__stories__/layout.stories.tsx
  packages/core/components/layout/index.ts
  packages/core/components/layout/layout.styles.css
  packages/core/components/layout/layout.tsx
  packages/core/components/layout/sidebar-decorator.tsx
  packages/core/components/layout/sidebar.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-47/storybook/iframe.html
  issue-47/storybook/project.json
Due: prettier --write

chore: инициализация admin и добавление Layout
  .eslintrc.json
  .gitignore
  .stylelintrc.json
  package-lock.json
  package.json
  packages/admin/next-env.d.ts
  packages/admin/next.config.js
  packages/admin/package.json
  packages/admin/pages/_app.tsx
  packages/admin/pages/components.tsx
  packages/admin/pages/index.tsx
  packages/admin/tsconfig.json
  packages/core/.storybook/global-storybook.css
  packages/core/.storybook/preview.ts
  packages/core/components/layout/layout.module.css
  packages/core/components/layout/layout.tsx
  packages/core/components/layout/sidebar.tsx
  packages/core/global.css
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  issue-47/storybook/247.b7ea1bc1.iframe.bundle.js
  issue-47/storybook/247.b7ea1bc1.iframe.bundle.js.LICENSE.txt
  issue-47/storybook/367.71864653.iframe.bundle.js
  issue-47/storybook/367.71864653.iframe.bundle.js.LICENSE.txt
  issue-47/storybook/939.b0bc24e3.iframe.bundle.js
  issue-47/storybook/939.b0bc24e3.iframe.bundle.js.LICENSE.txt
  issue-47/storybook/939.b0bc24e3.iframe.bundle.js.map
  issue-47/storybook/iframe.html
  issue-47/storybook/layout-__stories__-layout-stories.f3378ae9.iframe.bundle.js
  issue-47/storybook/main.fcddcc6f.iframe.bundle.js
  issue-47/storybook/project.json
  issue-47/storybook/props-editor-__stories__-common-test-stories.3447b9ec.iframe.bundle.js
  issue-47/storybook/props-editor-__stories__-props-editor-stories.ac22b40c.iframe.bundle.js
  issue-47/storybook/runtime~main.ed21f7dd.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-47/playwright-report/index.html
Due: none

feat(core): реализация компонента Layout (#54)
  .eslintrc.json
  .gitignore
  .stylelintrc.json
  package-lock.json
  package.json
  packages/admin/next-env.d.ts
  packages/admin/next.config.js
  packages/admin/package.json
  packages/admin/pages/_app.tsx
  packages/admin/pages/components.tsx
  packages/admin/pages/index.tsx
  packages/admin/tsconfig.json
  packages/core/.storybook/global-storybook.css
  packages/core/.storybook/preview.ts
  packages/core/components/layout/__stories__/layout.stories.tsx
  packages/core/components/layout/index.ts
  packages/core/components/layout/layout.module.css
  packages/core/components/layout/layout.tsx
  packages/core/components/layout/sidebar-decorator.tsx
  packages/core/components/layout/sidebar.tsx
  packages/core/components/props-editor/__stories__/props-editor.stories.tsx
  packages/core/global.css
  packages/core/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  main/storybook/168.7ccdb16c.iframe.bundle.js
  main/storybook/247.b7ea1bc1.iframe.bundle.js
  main/storybook/247.b7ea1bc1.iframe.bundle.js.LICENSE.txt
  main/storybook/367.71864653.iframe.bundle.js
  main/storybook/367.71864653.iframe.bundle.js.LICENSE.txt
  main/storybook/445.0b85e8dd.iframe.bundle.js
  main/storybook/445.0b85e8dd.iframe.bundle.js.LICENSE.txt
  main/storybook/684.83b2e4f3.iframe.bundle.js
  main/storybook/684.83b2e4f3.iframe.bundle.js.LICENSE.txt
  main/storybook/772.69f6d7f0.iframe.bundle.js
  main/storybook/772.69f6d7f0.iframe.bundle.js.LICENSE.txt
  main/storybook/939.b0bc24e3.iframe.bundle.js
  main/storybook/939.b0bc24e3.iframe.bundle.js.LICENSE.txt
  main/storybook/939.b0bc24e3.iframe.bundle.js.map
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/layout-__stories__-layout-stories.f3378ae9.iframe.bundle.js
  main/storybook/main.fcddcc6f.iframe.bundle.js
  main/storybook/project.json
  main/storybook/props-editor-__stories__-common-test-stories.3447b9ec.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.ac22b40c.iframe.bundle.js
  main/storybook/runtime~main.23ff5ce8.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-48/playwright-report/index.html
Due: none

Updates
  issue-48/storybook/15.fa64afd7.iframe.bundle.js
  issue-48/storybook/15.fa64afd7.iframe.bundle.js.LICENSE.txt
  issue-48/storybook/15.fa64afd7.iframe.bundle.js.map
  issue-48/storybook/788.4915067a.iframe.bundle.js
  issue-48/storybook/components-add-__stories__-api-spec-stories.922bdffe.iframe.bundle.js
  issue-48/storybook/components-add-__stories__-components-add-stories.6c05cebe.iframe.bundle.js
  issue-48/storybook/components-add-__stories__-validation-spec-stories.d0f96d9c.iframe.bundle.js
  issue-48/storybook/iframe.html
  issue-48/storybook/main.64c05ca0.iframe.bundle.js
  issue-48/storybook/project.json
  issue-48/storybook/runtime~main.4eb020b7.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-48/storybook/components-add-__stories__-api-spec-stories.7716f428.iframe.bundle.js
  issue-48/storybook/components-add-__stories__-components-add-stories.7a67b864.iframe.bundle.js
  issue-48/storybook/components-add-__stories__-validation-spec-stories.095522d0.iframe.bundle.js
  issue-48/storybook/iframe.html
  issue-48/storybook/project.json
  issue-48/storybook/runtime~main.d358c457.iframe.bundle.js
Due: eslint --fix, prettier --write

feat(api): реализовано удаление компонента по id
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/remove.spec.ts
  packages/api/modules/components/components.controller.ts
  packages/api/modules/components/components.service.ts
  packages/api/modules/components/components.types.ts
Due: eslint --fix

feat(api-client): добавлен метод components.remove
  packages/api-client/endpoints/components/endpoint.ts
  packages/api-client/endpoints/components/mocked.ts
Due: eslint --fix

test: исправлены тесты в api
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/remove.spec.ts
Due: eslint --fix

Updates
  issue-49/storybook/iframe.html
  issue-49/storybook/project.json
Due: prettier --write

Updates
  issue-49/playwright-report/index.html
Due: none

feat(api): реализовано удаление компонента по id (#56)
  packages/api-client/endpoints/components/endpoint.ts
  packages/api-client/endpoints/components/mocked.ts
  packages/api/modules/components/__tests__/mocked-components-repository.ts
  packages/api/modules/components/__tests__/remove.spec.ts
  packages/api/modules/components/components.controller.ts
  packages/api/modules/components/components.service.ts
  packages/api/modules/components/components.types.ts
Due: eslint --fix

Updates
  main/storybook/iframe.html
  main/storybook/main.976156fc.iframe.bundle.js
  main/storybook/project.json
  main/swagger/openapi.json
  main/swagger/redoc-static.html
Due: eslint --fix, prettier --write

feat(core): реализация компонента ComponentsAdd
  package-lock.json
  packages/core/components/components-add/__stories__/api.spec.stories.ts
  packages/core/components/components-add/__stories__/components-add.stories.ts
  packages/core/components/components-add/__stories__/validation.spec.stories.ts
  packages/core/components/components-add/components-add.tsx
  packages/core/components/components-add/index.ts
  packages/core/hooks/use-api/mocked.tsx
  packages/core/package.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat: данные формы добавления компонента очищаются только один раз
  packages/core/components/components-add/components-add.tsx
Due: eslint --fix

chore(core): подключить react-query
  package-lock.json
  packages/admin/pages/_app.tsx
  packages/core/.storybook/preview.ts
  packages/core/components/components-add/components-add.tsx
  packages/core/components/react-query-provider/index.ts
  packages/core/components/react-query-provider/mocked.tsx
  packages/core/components/react-query-provider/react-query-provider.tsx
  packages/core/index.ts
  packages/core/package.json
Due: eslint --fix, prettier --write

chore: исправил грустные опечатки
  packages/core/components/components-add/__stories__/api.spec.stories.ts
  packages/core/components/components-add/__stories__/validation.spec.stories.ts
Due: eslint --fix

Updates
  issue-48/storybook/iframe.html
  issue-48/storybook/main.52c0ec05.iframe.bundle.js
  issue-48/storybook/project.json
  issue-48/swagger/openapi.json
  issue-48/swagger/redoc-static.html
Due: eslint --fix, prettier --write

Updates
  issue-50/storybook/components-remove-__stories__-api-spec-stories.a376d20c.iframe.bundle.js
  issue-50/storybook/components-remove-__stories__-callbacks-spec-stories.90cd61e4.iframe.bundle.js
  issue-50/storybook/components-remove-__stories__-components-remove-stories.e6ae9838.iframe.bundle.js
  issue-50/storybook/iframe.html
  issue-50/storybook/index.json
  issue-50/storybook/main.d6c7971d.iframe.bundle.js
  issue-50/storybook/project.json
  issue-50/storybook/runtime~main.c9bbde55.iframe.bundle.js
Due: eslint --fix, prettier --write

Updates
  issue-50/playwright-report/index.html
Due: none

feat(core): реализация компонента ComponentsAdd (#55)
  package-lock.json
  packages/admin/pages/_app.tsx
  packages/core/.storybook/preview.ts
  packages/core/components/components-add/__stories__/api.spec.stories.ts
  packages/core/components/components-add/__stories__/components-add.stories.ts
  packages/core/components/components-add/__stories__/validation.spec.stories.ts
  packages/core/components/components-add/components-add.tsx
  packages/core/components/components-add/index.ts
  packages/core/components/react-query-provider/index.ts
  packages/core/components/react-query-provider/mocked.tsx
  packages/core/components/react-query-provider/react-query-provider.tsx
  packages/core/hooks/use-api/mocked.tsx
  packages/core/index.ts
  packages/core/package.json
  tsconfig.json
Due: eslint --fix, prettier --write

Updates
  main/storybook/15.fa64afd7.iframe.bundle.js
  main/storybook/15.fa64afd7.iframe.bundle.js.LICENSE.txt
  main/storybook/15.fa64afd7.iframe.bundle.js.map
  main/storybook/518.ee534e1b.iframe.bundle.js
  main/storybook/518.ee534e1b.iframe.bundle.js.LICENSE.txt
  main/storybook/561.e7755975.iframe.bundle.js
  main/storybook/788.4915067a.iframe.bundle.js
  main/storybook/834.159f609c.iframe.bundle.js
  main/storybook/834.159f609c.iframe.bundle.js.LICENSE.txt
  main/storybook/839.eda11a97.iframe.bundle.js
  main/storybook/components-add-__stories__-api-spec-stories.7716f428.iframe.bundle.js
  main/storybook/components-add-__stories__-components-add-stories.7a67b864.iframe.bundle.js
  main/storybook/components-add-__stories__-validation-spec-stories.095522d0.iframe.bundle.js
  main/storybook/components-list-__stories__-components-list-stories.3e1c3a1d.iframe.bundle.js
  main/storybook/iframe.html
  main/storybook/index.json
  main/storybook/main.52c0ec05.iframe.bundle.js
  main/storybook/project.json
  main/storybook/props-editor-__stories__-common-test-stories.04a2ee25.iframe.bundle.js
  main/storybook/props-editor-__stories__-props-editor-stories.961c4bea.iframe.bundle.js
  main/storybook/runtime~main.4ea54bec.iframe.bundle.js
Due: eslint --fix, prettier --write

chore: добавлен декоратор с очисткой сообщений для тестов
  packages/core/components/components-remove/__stories__/components-remove.stories.tsx
Due: eslint --fix

feat(core): реализован компонент ComponentsRemove
  package-lock.json
  packages/core/components/components-add/__stories__/components-add.stories.ts
  packages/core/components/components-remove/__stories__/api.spec.stories.ts
  packages/core/components/components-remove/__stories__/callbacks.spec.stories.ts
  packages/core/components/components-remove/__stories__/components-remove.stories.ts
  packages/core/components/components-remove/components-remove.tsx
  packages/core/components/components-remove/index.ts
  packages/core/hooks/use-api/mocked.tsx
  packages/core/package.json
  tsconfig.json
Due: eslint --fix, prettier --write
